<section style="background-color: #fdf5e7; border-top: 2px solid #f8971c">
  <iframe
    scrolling="no"
    class="quote_iframe"
    src="<%- api %>/quote"
    title="<%- title %>"
    allowtransparency="true"
    style="width: 100%; border: none"
  ></iframe>
</section>
<footer class="site__footer">
  <div class="global-footer">
    <div class="global-footer__inner">
      <div class="global-footer__brand">
        <a href="/" data-uw-rm-brl="PR" data-uw-original-href="/">
          <img
            src="https://www.cofcointernational.com/assets/img/logo-cofco.png"
            width="280"
            height="92"
            alt="COFCO"
            data-uw-rm-alt-original="COFCO"
            data-uw-rm-alt="BE"
          />
        </a>
        <p>COFCO International © 2024 All rights reserved</p>
      </div>
      <ul class="global-footer__menu menu">
        <li>
          <a
            href="/contact-us/"
            title="Contact Us"
            data-uw-rm-brl="PR"
            data-uw-original-href="/contact-us/"
            >Contact Us</a
          >
        </li>
        <li>
          <a
            href="/legal-disclaimer/"
            title="Legal disclaimer"
            data-uw-rm-brl="PR"
            data-uw-original-href="/legal-disclaimer/"
            >Legal disclaimer</a
          >
        </li>
        <li>
          <a
            href="/data-privacy-policy/"
            title="Data privacy policy"
            data-uw-rm-brl="PR"
            data-uw-original-href="/data-privacy-policy/"
            >Data privacy policy</a
          >
        </li>
        <li>
          <a
            href="/cookie-policy/"
            title="Cookie Policy"
            data-uw-rm-brl="PR"
            data-uw-original-href="/cookie-policy/"
            >Cookie Policy</a
          >
        </li>
        <li>
          <a
            href="/modern-slavery-statement/"
            title="Modern Slavery Statement"
            data-uw-rm-brl="PR"
            data-uw-original-href="/modern-slavery-statement/"
            >Modern Slavery Statement</a
          >
        </li>
        <li>
          <a
            href="/procurement-gtcs/"
            title="Procurement GT&amp;Cs"
            data-uw-rm-brl="PR"
            data-uw-original-href="/procurement-gtcs/"
            >Procurement GT&amp;Cs</a
          >
        </li>
        <li>
          <a
            href="/accessibility/"
            title="Accessibility"
            data-uw-rm-brl="PR"
            data-uw-original-href="/accessibility/"
            >Accessibility</a
          >
        </li>
      </ul>
      <svg
        class="global-footer__pattern"
        width="0"
        height="0"
        viewBox="0 0 265 256"
      >
        <path
          d="M88.91 86.23c24.86 7.17 44.48 26.79 51.69 51.69-24.9-7.21-44.52-26.83-51.69-51.69m-1.16-1.16c7.32 27.31 28.55 47.16 54.02 54.02-6.86-25.47-26.71-46.7-54.02-54.02ZM107.09 12.87c6.2 25.17-.98 51.97-18.92 70.61-6.22-25.11.96-51.92 18.92-70.61m.43-1.59C88.89 29.95 80.43 57.76 87.75 85.07c19.99-19.99 26.57-48.3 19.77-73.79ZM86.16 85.5c-18.69 17.96-45.5 25.14-70.61 18.92C34.19 86.48 60.99 79.3 86.16 85.5m1.59-.43c-25.49-6.8-53.8-.22-73.79 19.77 27.31 7.32 55.12-1.14 73.79-19.77ZM204.1 54.61c24.86 7.17 44.48 26.79 51.69 51.69-24.9-7.21-44.52-26.83-51.69-51.69m-1.16-1.16c7.32 27.31 28.55 47.16 54.02 54.02-6.86-25.47-26.71-46.7-54.02-54.02ZM222.28-18.76c6.2 25.17-.98 51.97-18.92 70.61-6.22-25.11.96-51.92 18.92-70.61m.43-1.59c-18.63 18.67-27.09 46.48-19.77 73.79 19.99-19.99 26.57-48.3 19.77-73.79ZM201.34 53.87c-18.69 17.96-45.5 25.14-70.61 18.92 18.64-17.94 45.44-25.12 70.61-18.92m1.59-.43c-25.49-6.8-53.8-.22-73.79 19.77 27.31 7.32 55.12-1.14 73.79-19.77ZM185.06 174.58c24.86 7.17 44.48 26.79 51.69 51.69-24.9-7.21-44.52-26.83-51.69-51.69m-1.16-1.16c7.32 27.31 28.55 47.16 54.02 54.02-6.86-25.47-26.71-46.7-54.02-54.02ZM203.25 101.22c6.2 25.17-.98 51.97-18.92 70.61-6.22-25.11.96-51.92 18.92-70.61m.43-1.59c-18.63 18.67-27.09 46.48-19.77 73.79 19.99-19.99 26.57-48.3 19.77-73.79ZM182.31 173.85c-18.69 17.96-45.5 25.14-70.61 18.92 18.64-17.94 45.44-25.12 70.61-18.92m1.59-.43c-25.49-6.8-53.8-.22-73.79 19.77 27.31 7.32 55.12-1.14 73.79-19.77Z"
        ></path>
      </svg>
    </div>
  </div>
  <div class="global-to-top" data-show="false" data-fixed="false">
    <svg width="30" viewBox="0 0 40 36">
      <g fill="none" fill-rule="evenodd">
        <path
          fill="#FFECD8"
          d="M28.879 35.833H11.121a2.242 2.242 0 0 1-1.942-1.14L.299 19.057C-.1 18.354-.1 17.48.3 16.776L9.18 1.14A2.241 2.241 0 0 1 11.121 0h17.758c.799 0 1.543.437 1.943 1.14l8.879 15.636c.399.704.399 1.578 0 2.281l-8.879 15.636a2.244 2.244 0 0 1-1.943 1.14z"
        ></path>
        <path
          stroke="#FFA23C"
          stroke-linecap="square"
          stroke-width="2"
          d="m15.5 15.786 4.714-4.714 4.714 4.714m-4.845-4.036v13.333"
        ></path>
      </g>
    </svg>
    <span>Back to Top</span>
  </div>
  <a
    href="https://wa.me/++5511962369118"
    style="position: fixed; bottom: 12px; right: 12px; z-index: 10"
  >
    <img width="55" src="/whatsapp.png" />
  </a>
</footer>
