<main id="maincontent" class="site__main">
  <div class="page page-archive">
    <header class="masthead masthead-newsroom">
      <div class="masthead__content">
        <h1 class="h1"><%- title %></h1>
        <svg
          width="0"
          height="0"
          class="masthead__pattern"
          data-pattern="right"
          viewBox="0 0 1280 243"
        >
          <defs>
            <clipPath id="pattern-header-small_a">
              <path fill="none" d="M.17-414.8h1095.47v368.01H.17z"></path>
            </clipPath>
            <clipPath id="pattern-header-small_b">
              <path fill="none" d="M0 0h1283.02v248.37H0z"></path>
            </clipPath>
          </defs>
          <g clip-path="url(#pattern-header-small_a)">
            <path
              d="M289 10.15c-9.05 8.69-22.02 12.17-34.18 9.16 9.02-8.68 21.99-12.16 34.18-9.16m.77-.21c-12.34-3.29-26.04-.11-35.72 9.57 13.22 3.54 26.68-.55 35.72-9.57Z"
            ></path>
            <path
              d="M299.13-25c3.01 12.15-.47 25.13-9.16 34.18-3-12.18.47-25.15 9.16-34.18m.21-.77c-9.68 9.68-12.86 23.38-9.57 35.72 9.02-9.04 13.11-22.5 9.57-35.72ZM290.33 10.51c12.05 3.49 21.55 12.99 25.02 25.02-12.03-3.47-21.53-12.97-25.02-25.02m-.56-.56c3.32 12.33 12.93 22.6 26.15 26.15-3.54-13.22-13.82-22.83-26.15-26.15ZM228.47-6.07c12.05 3.49 21.55 12.99 25.02 25.02-12.03-3.47-21.53-12.97-25.02-25.02m-.56-.56c3.32 12.33 12.93 22.6 26.15 26.15-3.54-13.22-13.82-22.83-26.15-26.15ZM227.14-6.42c-9.05 8.69-22.02 12.17-34.18 9.16 9.02-8.68 21.99-12.16 34.18-9.16m.77-.21c-12.34-3.29-26.04-.11-35.72 9.57 13.22 3.54 26.68-.55 35.72-9.57Z"
            ></path>
            <path
              d="M166.61-22.64c12.05 3.49 21.55 12.99 25.02 25.02-12.03-3.47-21.53-12.97-25.02-25.02m-.56-.56c3.32 12.33 12.93 22.6 26.15 26.15-3.54-13.22-13.82-22.83-26.15-26.15Z"
            ></path>
          </g>
          <g clip-path="url(#pattern-header-small_b)">
            <path
              d="M886.57 90.81c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3Z"
            ></path>
            <path
              d="M897.1 48.3c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
            ></path>
            <path
              d="M884.97 90.38c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM939.19 36.16c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM866.72 16.75c14.4 4.16 25.77 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM959.03 110.23c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM971.17 68.14c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM960.63 110.66c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM940.78 36.59c14.4 4.16 25.77 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3Z"
            ></path>
            <path
              d="M1013.25 56.01c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1107.16 149.92c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1119.3 107.83c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
            ></path>
            <path
              d="M1108.76 150.35c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM1088.91 76.28c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1161.38 95.7c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1034.7 130.5c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3Z"
            ></path>
            <path
              d="M1045.23 87.99c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
            ></path>
            <path
              d="M1033.1 130.07c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1087.32 75.86c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1014.85 56.44c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM877.26-25.77c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM865.12 16.32c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM951.32-5.92c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1069.07 2.22c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1099.45 33.77c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76Z"
            ></path>
            <path
              d="M1141.54 21.64c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1067.47 1.79c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46Z"
            ></path>
            <path
              d="M1025.39 13.92c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM995-17.63c14.4 4.16 25.77 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM832.35 145.03c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM842.88 102.51c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM830.75 144.6c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46Z"
            ></path>
            <path
              d="M812.5 70.97c14.4 4.16 25.77 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM904.82 164.45c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM916.95 122.36c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
            ></path>
            <path
              d="M906.41 164.88c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM1052.94 204.14c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1065.08 162.05c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
            ></path>
            <path
              d="M1054.54 204.57c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM980.48 184.72c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3Z"
            ></path>
            <path
              d="M991.01 142.21c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
            ></path>
            <path
              d="M978.88 184.29c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1256.89 190.04c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM1267.42 147.52c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM1255.29 189.61c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1309.51 135.39c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1237.04 115.97c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1181.23 169.77c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46Z"
            ></path>
            <path
              d="M1193.36 127.68c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
            ></path>
            <path
              d="M1182.82 170.19c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM1162.98 96.13c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1235.45 115.55c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1215.6 41.48c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1173.51 53.62c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1143.13 22.06c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1217.2 41.91c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3Z"
            ></path>
            <path
              d="M1247.58 73.46c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1289.67 61.33c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1287.27 221.59c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM1128.61 224.41c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3Z"
            ></path>
            <path
              d="M1139.14 181.9c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
            ></path>
            <path
              d="M1127.01 223.98c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1201.07 243.83c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1213.21 201.74c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM1153.67-20.45c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1079.6-40.29c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1271.41-12.31c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1227.73-.6c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76Z"
            ></path>
          </g>
        </svg>
      </div>
    </header>
    <div class="mod mod--indented mod-richtext mod-richtext--intro">
      <div class="mod__inner">
        <div class="editor">
          <p class="intro">
            Oops! Something went wrong and we couldn't find the page you were
            looking for.
          </p>
          <p class="intro">
            This page may have been renamed, moved or deleted.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
