<main id="maincontent" class="site__main">
<article class="page">
<div class="mod mod-utilities mod--indented">
<div class="mod__inner">
<ul class="breadcrumbs">
<li class="breadcrumbs__crumb">
<a href="/">Home</a>
<span class="breadcrumbs__divide"></span>
</li>
<li class="breadcrumbs__current">Cookie Policy</li>
</ul>
</div>
</div>
<div class="page__blocklist">
<div class="mod mod--indented mod-richtext mod-richtext--intro">
<div class="mod__inner">
<div class="editor">
<h1>Cookie Policy</h1>
<p class="intro"></p>
</div>
</div>
</div>
<div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<h3 class="MsoNormal">Cookies</h3>
<p class="MsoNormal">A cookie is a small text file that is stored on your computer or mobile device when you visit a website – we use these to make a user's experience more efficient. The law states that we can store cookies on your device if they are strictly necessary for the operation of the site. For all other types of cookies we need your permission.</p>
<p class="MsoNormal">On this website we use persistent cookies (necessary for the functioning of the site) and analytics cookies (to enable Google Analytics to analyse how users interact with our site). Read <a rel="noopener" href="https://www.google.com/analytics/learn/privacy.html" target="_blank">Google's Analytics privacy policy</a> for more information.</p>
<p class="MsoNormal">Details of the cookies used on our website are provided below:</p>
<h3>Persistent or Necessary (2 cookies)</h3>
<div class="table-wrapper" style="overflow-x: auto;"><table border="1" style="width: 100%; height: 221px;">
<tbody>
<tr style="height: 17px;">
<td style="width: 16.9323%;"><strong>Name</strong></td>
<td style="width: 32.4701%;"><strong>Provider</strong></td>
<td style="width: 21.5139%; height: 17px;"><strong>Purpose</strong></td>
<td style="width: 18.5259%; height: 17px;"><strong>Expiry</strong></td>
<td style="width: 10.5578%; height: 17px;"><strong>Type</strong></td>
</tr>
<tr style="height: 119px;">
<td style="width: 16.9323%; height: 119px;">ARRAffinity</td>
<td style="width: 32.4701%; height: 119px;">cofcointernational.com</td>
<td style="width: 21.5139%; height: 119px;">Used for load balancing to make sure the visitor page requests are routed to the same server in any browsing session.</td>
<td style="width: 18.5259%; height: 119px;">Session</td>
<td style="width: 10.5578%; height: 119px;">HTTP Cookie</td>
</tr>
<tr style="height: 17px;">
<td style="width: 16.9323%; height: 17px;">__cf_bm</td>
<td style="width: 32.4701%; height: 17px;">radar.cloudflare.com</td>
<td style="width: 21.5139%; height: 17px;">Ddos security.</td>
<td style="width: 18.5259%; height: 17px;">a few seconds</td>
<td style="width: 10.5578%; height: 17px;">HTTP Cookie</td>
</tr>
<tr>
<td style="width: 16.9323%;">Player</td>
<td style="width: 32.4701%;">vimeo.com</td>
<td style="width: 21.5139%;">Improves quality of streamed video.</td>
<td style="width: 18.5259%;">1 year</td>
<td style="width: 10.5578%;">HTTP Cookie</td>
</tr>
<tr style="height: 68px;">
<td style="width: 16.9323%; height: 68px;">smConsent</td>
<td style="width: 32.4701%; height: 68px;">cofcointernational.com</td>
<td style="width: 21.5139%; height: 68px;">Stores the user's cookie consent state for the current domain.</td>
<td style="width: 18.5259%; height: 68px;">1 year</td>
<td style="width: 10.5578%; height: 68px;">HTTP Cookie</td>
</tr>
</tbody>
</table></div>
<h3>Statistics (4)</h3>
<div class="table-wrapper" style="overflow-x: auto;"><table border="1">
<tbody>
<tr>
<td><strong>Name</strong></td>
<td><strong>Provider</strong></td>
<td><strong>Purpose</strong></td>
<td><strong>Expiry</strong></td>
<td><strong>Type</strong></td>
</tr>
<tr>
<td>_ga</td>
<td>cofcointernational.com</td>
<td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website.</td>
<td>2 years</td>
<td>HTTP Cookie</td>
</tr>
<tr>
<td>_gat</td>
<td>cofcointernational.com</td>
<td>Used by Google Analytics to throttle request rate.</td>
<td>Session</td>
<td>HTTP Cookie</td>
</tr>
<tr>
<td>_gid</td>
<td>cofcointernational.com</td>
<td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website.</td>
<td>Session</td>
<td>HTTP Cookie</td>
</tr>
</tbody>
</table></div>
<p class="MsoNormal">Your consent to the use of cookies applies to www.cofcointernational.com.</p>
<p>You can view and change your <a href="#" class="js-cookies-open">cookie settings</a> at any time.</p>
<p class="MsoNormal">We sometimes embed photos and video content from websites such as flickr, instagram, twitter,&nbsp; vimeo, and YouTube. Pages with this embedded content may present cookies from these websites. Similarly, when you use one of the share buttons on this website, a cookie may be set by the service you have chosen to share content through. We do not control the dissemination of these cookies and we will not block cookies from those websites. You should check the relevant third party website for more information about these.</p>
<h4 class="MsoNormal">Do Not Track (DNT) browser setting</h4>
<p class="MsoNormal">DNT is a feature offered by some browsers which, when enabled, sends a signal to websites to request that your browsing is not tracked, such as by third party advertising networks, social networks and analytics companies.</p>
<p class="MsoNormal">This website does not currently respond to DNT requests, however, you may opt-out of tracking on this website, including analytics, by following the instructions to opt-out of cookies above.</p>
<p class="MsoNormal"><a> </a></p>
<h4 class="MsoNormal"><a>Consent</a></h4>
<a>
<p class="MsoNormal">By using our website, you consent to the aforementioned cookies policy as well as to this COFCO Privacy Policy.</p>
<h4 class="MsoNormal">Changes to this Cookies notice</h4>
<p class="MsoNormal">We reserve the right to amend this notice at any time and will post any revisions on this page.</p>
<p class="MsoNormal">Privacy notice review and effective date: 17 April 2023.</p>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="mod mod-share">
<div class="mod__inner">
<p class="mod-share__label"><svg class="mod-share__icon" width="30" height="auto"><use xlink:href="#share"></use></svg> Share this page: </p>
<div class="mod-share__links">
<a class="mod-share__link" href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/cookie-policy/" target="_blank" title="Share this page on Facebook">Facebook</a>
<a class="mod-share__link" href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/cookie-policy/&amp;text=Cookie%20Policy" target="_blank" title="Share this page on X.com">X.com</a>
<a class="mod-share__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/cookie-policy/" title="Cookie%20Policy&quot;" target="_blank">Linkedin</a>
</div>
</div>
</div>
<div class="mod mod-follow">
<div class="mod__inner">
<div class="mod-follow__graphic">
<picture class="mod-follow__image">
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90">
<img loading="lazy" width="600" height="auto" src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90" alt="">
<svg width="0" height="0"><use href="#pattern-image-small"></use></svg>
</picture>
</div>
<div class="mod-follow__links">
<h2 class="h1">Follow us on</h2>
<ul class="menu menu-follow">
<li>
<a href="https://www.instagram.com/cofcointl/" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto"><use xlink:href="#instagram"></use></svg>
</span>
<span class="btn-follow__label">Instagram</span>
</a>
</li>
<li>
<a href="https://x.com/COFCOINTL" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto"><use xlink:href="#twitter"></use></svg>
</span>
<span class="btn-follow__label">X.com</span>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/cofcointernational" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto"><use xlink:href="#linkedin"></use></svg>
</span>
<span class="btn-follow__label">LinkedIn</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</article>
</main>