<main id="maincontent" class="site__main">
<article class="page">
<div class="mod mod-utilities mod--indented">
<div class="mod__inner">
<ul class="breadcrumbs">
<li class="breadcrumbs__crumb">
<a href="/">Home</a>
<span class="breadcrumbs__divide"></span>
</li>
<li class="breadcrumbs__current">Data privacy policy</li>
</ul>
</div>
</div>
<div class="page__blocklist">
<div class="mod mod--indented mod-richtext mod-richtext--intro">
<div class="mod__inner">
<div class="editor">
<h1>Data privacy policy</h1>
<p class="intro">This data privacy policy sets out how COFCO International uses and protects any information that you give COFCO International when you use this website.</p>
</div>
</div>
</div>
<div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<h3>Overview</h3>
<p>At COFCO International (CIL, “we” “our” or “us”), we are committed to protecting the confidentiality, accuracy and integrity of any personal data you provide to us. We always strive to safeguard such data from misappropriation, loss, misuse, unauthorized access, disclosure and/or alteration. We only collect personal data that is relevant for our described purposes, as described herein. This Privacy Policy describes what types of information we gather and track when you use our websites and/or visit some of our offices, or otherwise provide personal data to us, how this information is used and with whom it is shared. If you have any questions about this Privacy Policy, please contact us.</p>
<p>Our website is operated by the CIL company established in the country to which the content of the site is directed. If you are accessing a page of the site directed at a particular European Economic Area (EEA) country, the legal name and contact details of the EEA CIL company operating the site in respect of that EEA country can be found on the relevant country page. (For some EEA countries, this may be a CIL company established in a different country).</p>
<p>CIL will be the data controller and our nominated representative in relation to this Privacy Policy will be COFCO Resources S.A., 101 Route de Malagnou, 1224 Geneva Switzerland.</p>
<p>By providing Personal Data to CIL, you agree to the terms and conditions of this Privacy Statement.</p>
<h3>Scope</h3>
<p>This Data Privacy Policy describes which Personal Data CIL collects, the purpose of the processing of such data as well as the rights that Data Subjects have regarding use of the Personal Data. This notice also describes how you can contact us about our data protection practices.</p>
<h3>Which Personal Data COFCO collects</h3>
<p>CIL processes Personal Data in accordance with applicable data protection laws and only for limited, explicit and legitimate purposes and to the extent needed to perform its business. CIL will not use Personal Data for any purpose that is incompatible with the purpose for which it was initially collected unless you provide your prior explicit consent for further use.</p>
<h3>Business Partners and other stakeholders</h3>
<p>The following Personal Data relating to CIL’s customers, business partners, suppliers, contractors and other stakeholders may be collected and processed by CIL:</p>
<ul>
<li>Applications for jobs: names, date of birth, email address, phone number, nationality, and all information available in your resumé as well as the information filled in CIL’s website, i.e., country, residence, work permit, languages, years of experience, current company, current/previous positions, current/previous functions, current/previous professional areas, CV or cover letter.</li>
<li>Commodities related negotiations: job title, first and last names, company, address, phone, email, banking information such as account and routing numbers.</li>
<li>Know your client (KYC): data related to company shareholders and legal representatives, names, date of birth, address, personal ID and passports.</li>
<li>Supplier Offers: job title, first and last names, company, address, phone, email, banking information such as account and routing numbers.</li>
<li>Sustainability Inquiries: job title, first and last names, company, address, phone, email, banking information such as account and routing numbers.</li>
<li>Closed Circuit TV images in some facilities.</li>
<li>Where we have a contract with you, we will also hold any personal contact details contained in that contract, which may include payment information and invoice information.</li>
<li>Financial information and all other Personal Data provided when you request credit terms as well as for an advanced payment.</li>
<li>Connection information (last login date, IP address) and usage information.</li>
<li>Information about how you use our website, including technical information (such as type of browser and operating system) and log information (your visits to and use of the site). This includes information gathered by the use of cookies in your web browser.</li>
<li>If you contact us, we keep a record of that correspondence.</li>
<li>Any other information uploaded by you onto our website.</li>
<li>All information you submit when you register for subscriptions, technology, forums or other communications through CIL’s websites.</li>
</ul>
<p><br>CIL will not collect Personal Data if such collection is prohibited under the applicable data protection laws.</p>
<h3>How do we collect your Personal Data</h3>
<p>We collect Business Partners Personal Data in three ways:</p>
<ul>
<li>Personal Data that we receive directly from you, in one of the situations listed above.</li>
<li>Personal Data that we receive from other sources also involved in commercial transactions; and</li>
<li>Personal Data that we collect automatically using browser Cookies. Some of this information is partially anonymized, like geographical location, the purpose of this collection is to have statistical reports on the web site usage.</li>
<li>To the extent that you access our website or read or click on an email from us, where appropriate and in accordance with any local laws and requirements, we may also collect your data automatically or through you providing it to us.</li>
</ul>
<p>When you visit our website there is certain information that we may automatically collect. This includes your IP address, the date and the times and frequency with which you access the website and the way you browse its content. We will also collect data from you when you contact us via the website.</p>
<p>We collect your data automatically via cookies, in line with cookie settings in your browser.</p>
<h3>Purposes and Legal Basis of Data Processing</h3>
<p>CIL is able to lawfully process your Personal Data where you have explicitly consented. CIL can also process your Personal Data where (i) the processing is necessary to perform the agreement we have with you or to take steps to enter into an agreement with you, (ii) where the processing is necessary for compliance with a legal obligation that we have, or (iii) for the purposes of our overriding legitimate interests.</p>
<p>Personal Data may be processed for the purposes of:</p>
<ul>
<li>Client and contract management, managing commercial relationships, order fulfilment, payment and invoicing for goods and services, contacting customer, contacting vendor/supplier;</li>
<li>Managing product deliveries and shipments;</li>
<li>Complying with legal obligations and/or regulatory investigations, assisting CIL in the context of any litigation or arbitration, including but not limited to employment tribunal proceedings, and protecting the Company against injury, theft, legal liability, fraud, abuse or other misconduct;</li>
<li>To respond to requests from public and government authorities, including those outside your country of residence;</li>
<li>To provide you with a good user experience when you use our site.</li>
<li>To improve the content, functionality and usability of our site.</li>
<li>To improve our products and services.</li>
</ul>
<p>We comply with our Data Protection obligations, in particular to keep personal data no longer than is necessary for the purposes for which it is processed (storage limitation principle).</p>
<h3>Disclosure of Personal Data</h3>
<p>We may disclose your Personal Data within the CIL Group of Companies for the purposes described in this policy.</p>
<p>CIL as well as local affiliates with whom you are interacting are each responsible for the management of the jointly-used Personal Data.</p>
<ul>
<li>To CIL’s third party service providers.</li>
</ul>
<p>These third parties provide services such as website hosting, data analysis, payment processing, order fulfilment, product distribution, infrastructure provision, IT services, customer service, email delivery services, auditing services and other similar services to enable them to provide services.</p>
<ul>
<li>To third parties such as agents and distributers to facilitate the sale and distribution of CIL products, which may include marketing communications consistent with your choices.</li>
<li>To identify you to anyone to whom you send messages through the Site.</li>
<li>To a third party in the event of any reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of CIL business, assets or stock including in connection with any bankruptcy or similar proceedings.</li>
<li>To third parties in connection with licensing, joint development or similar arrangements.</li>
<li>By you, when you participate in features on CIL that provide the opportunity to interact with CIL and others (for example a blog, message board, messaging functionality, chat functionality, profile or other social media).</li>
</ul>
<p>When you use these features, you should be aware that any information you submit, including your name, location and email address, may be publicly available to others. We are not responsible for any information you choose to submit through these features and we strongly discourage you from disclosing any sensitive Personal Data (such as health or credit card information) through these features. If you use these features, your Personal Data may remain on the Site or App even after you cease use of the Site or App.</p>
<h3>Where do we store your Personal Data</h3>
<p>The Personal Data collected may be transferred to, and stored at, a destination outside Switzerland and the European Economic Area (“EEA”). Such destination countries may have different levels of privacy protection than in your country of residence. We will take all steps reasonably necessary to ensure that your Personal Data is treated securely and in accordance with this Privacy Policy and the applicable legislation.</p>
<p>Your Personal Data are processed by staff operating outside Switzerland and the EEA who work for us or for one of our group companies, affiliates or suppliers. These staff are engaged in the provision of support services. By submitting your Personal Data to us, you agree to any such transfers, storage or other processing.</p>
<p>These steps include imposing contractual obligations on the recipients of your Personal Data to protect that Personal Data. We may alternatively require approved codes of conduct or certification mechanisms to be in place.</p>
<p>Please contact our data protection team at <a href="mailto:dataprivacy@cofcointernational.com">dataprivacy@cofcointernational.com</a> to obtain more information about our contractual clauses imposed on third party recipients of your Data.</p>
<p>We store your Personal Data carefully. We follow industry standard measures to protect them against unauthorized access to, and unlawful interception or processing of, Personal Data. Once we have received your Personal Data, we will use strict procedures and security features to prevent unauthorized access.</p>
<h3>Your rights</h3>
<h4>Right of Access</h4>
<p>You have the right to access and receive a copy of your Personal Data held by us.</p>
<h4>Right to Rectification</h4>
<p>You have the right to demand that we correct incorrect information.</p>
<h4>Right to Erasure</h4>
<p>You have the right to request the erasure of your Personal Data at any time, if you consider that we do not have the right to hold it. We may retain certain information about you as required by law and for legitimate business purposes permitted by law.</p>
<h4>Right to Restrict Processing</h4>
<p>You can ask us to suspend the processing of your Personal Data in several scenarios, including if you want us to verify the accuracy of the data, and if you believe our use of your data is unlawful but you do not want us to erase it.</p>
<h4>Right to Data Portability</h4>
<p>You can request the transfer of your Personal Data to you or to a third party. We will provide to you, or a third party you have chosen, your Personal Data in a structured, commonly used, machine-readable format. This right only applies to information which you initially provided consent for us to use, where we used the information to perform a contract with you or where the processing of your Personal Data is carried out by automated means.</p>
<h4>Right to Object</h4>
<p>You have the right to object to your Personal Data being processed for a particular purpose or to request that we stop using your Personal Data.</p>
<h4>Right to Withdraw Consent</h4>
<p>Where our processing of your Personal Data is based on your consent, you have the right to withdraw your consent at any time. If you do so we will stop processing your Personal Data unless there is another lawful basis we can rely on, if which case we will inform you of this.</p>
<h4>Right to Reject Automated Individual Decision-Making</h4>
<p>You can request not to be subject to a decision based on automated processing and to have safeguards put in place if you are being profiled based on your personal data.</p>
<h3>Relevant definitions</h3>
<p>In the context of this document:</p>
<h4>Personal Data</h4>
<p>“Personal Data” means any information relating to you that would allow a party to identify you as an individual or to contact you, including, for example, your full name, address, telephone number, document number, birthdate or email address.</p>
<h4>Company, CIL, COFCO</h4>
<p>COFCO International Limited and its affiliated companies</p>
<h4>Data Subjects</h4>
<p>A data subject is any person whose personal data is being collected, held or processed</p>
<h4>CIL Group</h4>
<p>CIL Group means our subsidiaries, our ultimate holding parent company and its subsidiaries and/or affiliates.</p>
</div>
</div>
</div>
</div>
</div>
<div class="mod mod-share">
<div class="mod__inner">
<p class="mod-share__label"><svg class="mod-share__icon" width="30" height="auto" viewBox="0 0 23 25"><path d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path></svg> Share this page: </p>
<div class="mod-share__links">
<a class="mod-share__link" href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/data-privacy-policy/" target="_blank" title="Share this page on Facebook">Facebook</a>
<a class="mod-share__link" href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/data-privacy-policy/&amp;text=Data%20privacy%20policy" target="_blank" title="Share this page on X.com">X.com</a>
<a class="mod-share__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/data-privacy-policy/" title="Data%20privacy%20policy&quot;" target="_blank">Linkedin</a>
</div>
</div>
</div>
<div class="mod mod-follow">
<div class="mod__inner">
<div class="mod-follow__graphic">
<picture class="mod-follow__image">
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90">
<img loading="lazy" width="600" height="auto" src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90" alt="">
<svg width="0" height="0" viewBox="0 0 1280 717"><defs><clipPath id="pattern-image-small_a"><path fill="none" d="M-.66 4.64h1280V717H-.66z"></path></clipPath></defs><g clip-path="url(#pattern-image-small_a)"><path d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path></g></svg>
</picture>
</div>
<div class="mod-follow__links">
<h2 class="h1">Follow us on</h2>
<ul class="menu menu-follow">
<li>
<a href="https://www.instagram.com/cofcointl/" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 22 22"><path fill-rule="evenodd" d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"></path><path d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"></path></svg>
</span>
<span class="btn-follow__label">Instagram</span>
</a>
</li>
<li>
<a href="https://x.com/COFCOINTL" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 33 33"><path d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"></path></svg>
</span>
<span class="btn-follow__label">X.com</span>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/cofcointernational" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 20 20"><path d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"></path><circle cx="2" cy="2" r="2"></circle></svg>
</span>
<span class="btn-follow__label">LinkedIn</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</article>
</main>