<main id="maincontent" class="site__main">
<article class="page page-article" data-panel-content="">
<header class="masthead masthead-article">
<picture>
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/0l3hkfyv/fur07321.jpg?rxy=0.46930769359000246,0.3502494985024533&amp;width=2400&amp;height=625&amp;v=1d9e230488abde0">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/0l3hkfyv/fur07321.jpg?rxy=0.46930769359000246,0.3502494985024533&amp;width=1920&amp;height=500&amp;v=1d9e230488abde0">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/0l3hkfyv/fur07321.jpg?rxy=0.46930769359000246,0.3502494985024533&amp;width=1000&amp;height=260&amp;v=1d9e230488abde0">
<img class="masthead__image" width="700" height="182" src="https://www.cofcointernational.com/media/0l3hkfyv/fur07321.jpg?rxy=0.46930769359000246,0.3502494985024533&amp;width=700&amp;height=182&amp;v=1d9e230488abde0" alt="AltText">
</picture>
<svg width="0" height="0" class="masthead__pattern" data-pattern="right-medium" viewBox="0 0 1280 405">

<defs><clipPath id="pattern-header-right-medium_a"><path fill="none" d="M0 0h1280v405H0z"></path></clipPath><clipPath id="pattern-header-right-medium_b"><path fill="none" d="M1.29 508.38H1280v405.09H1.29z"></path></clipPath></defs><g clip-path="url(#pattern-header-right-medium_a)"><path d="M857.42 356.06c27.15 7.86 48.55 29.26 56.36 56.36-27.1-7.82-48.5-29.22-56.36-56.36m-1.27-1.27c7.48 27.77 29.12 50.92 58.9 58.9-7.98-29.78-31.13-51.43-58.9-58.9ZM877.25 276.06c6.78 27.38-1.05 56.61-20.63 77-6.76-27.44 1.07-56.67 20.63-77m.46-1.73c-21.8 21.8-28.97 52.67-21.56 80.46 20.31-20.36 29.54-50.68 21.56-80.46Z"></path><path d="M854.42 355.26c-20.39 19.58-49.61 27.41-77 20.63 20.32-19.56 49.55-27.4 77-20.63m1.74-.47c-27.79-7.41-58.66-.24-80.46 21.56 29.78 7.98 60.1-1.25 80.46-21.56ZM956.44 253.23c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56ZM820.08 216.69c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM993.78 392.6c-20.39 19.58-49.61 27.41-77 20.63 20.32-19.56 49.55-27.4 77-20.63m1.74-.47c-27.79-7.41-58.66-.24-80.46 21.56 29.78 7.98 60.1-1.25 80.46-21.56Z"></path><path d="M1016.61 313.4c6.78 27.38-1.05 56.61-20.63 77-6.76-27.44 1.07-56.67 20.63-77m.46-1.73c-21.8 21.8-28.97 52.67-21.56 80.46 20.31-20.36 29.54-50.68 21.56-80.46ZM996.79 393.4c27.15 7.86 48.55 29.26 56.36 56.36-27.1-7.82-48.5-29.22-56.36-56.36m-1.27-1.27c7.48 27.77 29.12 50.92 58.9 58.9-7.98-29.78-31.13-51.43-58.9-58.9ZM959.44 254.03c27.1 7.82 48.5 29.22 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM1095.81 290.57c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56ZM1295.35 388.09c6.78 27.38-1.05 56.61-20.63 77-6.76-27.44 1.07-56.67 20.63-77m.46-1.73c-21.8 21.8-28.97 52.67-21.56 80.46 20.31-20.36 29.54-50.68 21.56-80.46ZM1238.18 328.72c27.1 7.82 48.5 29.22 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM1155.98 350.75c6.78 27.38-1.05 56.61-20.63 77-6.76-27.44 1.07-56.67 20.63-77m.46-1.73c-21.8 21.8-28.97 52.67-21.56 80.46 20.31-20.36 29.54-50.68 21.56-80.46ZM1235.18 327.92c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56ZM1098.81 291.38c27.1 7.82 48.5 29.22 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM919.1 113.86c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56Z"></path><path d="M839.9 136.7c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46ZM782.73 77.33c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM817.07 215.89c-20.39 19.58-49.61 27.41-77 20.63 20.32-19.56 49.55-27.4 77-20.63m1.74-.47c-27.79-7.41-58.66-.24-80.46 21.56 29.78 7.98 60.1-1.25 80.46-21.56ZM922.1 114.67c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM979.27 174.04c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46Z"></path><path d="M1058.47 151.21c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56ZM1200.83 189.35c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM1258 248.73c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46ZM1337.2 225.89c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56ZM1197.83 188.55c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56Z"></path><path d="M1118.64 211.38c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46ZM1061.47 152.01c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM775.22 378.08c6.78 27.38-1.05 56.61-20.63 77-6.76-27.44 1.07-56.67 20.63-77m.46-1.73c-21.8 21.8-28.97 52.67-21.56 80.46 20.31-20.36 29.54-50.68 21.56-80.46ZM718.05 318.72c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM1021.12 11.84c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56Z"></path><path d="M941.93 34.67c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46ZM884.76-24.7c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM1024.12 12.65c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM1081.29 72.02c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46Z"></path><path d="M1160.49 49.18c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56ZM1299.86 86.53c-20.32 19.56-49.55 27.4-77 20.63 20.39-19.58 49.61-27.41 77-20.63m1.73-.46c-29.78-7.98-60.1 1.25-80.46 21.56 27.79 7.41 58.66.24 80.46-21.56Z"></path><path d="M1220.66 109.36c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46ZM1163.49 49.99c27.1 7.82 48.5 29.21 56.36 56.36-27.15-7.86-48.55-29.26-56.36-56.36m-1.27-1.27c7.98 29.78 31.13 51.43 58.9 58.9-7.48-27.77-29.12-50.92-58.9-58.9ZM1043.95-67.35c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46ZM1183.32-30.01c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46Z"></path></g><g clip-path="url(#pattern-header-right-medium_b)"><path d="M692.15 384.96c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM632.68 402.11c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM589.75 357.52c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM694.4 385.56c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM768.76 308.35c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19Z"></path><path d="M709.29 325.49c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42Z"></path><path d="M666.36 280.91c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM771.01 308.95c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM813.94 353.54c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM873.41 336.39c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM980.32 365.04c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM1082.72 392.47c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM978.07 364.43c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM918.6 381.58c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM875.67 336.99c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM681.25 220.84c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM664.1 280.31c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM785.9 248.88c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3C771 262.87 764.07 285.64 770.06 308c16.37-16.37 21.76-39.55 16.19-60.42Z"></path><path d="M995.21 304.97c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM890.56 276.92c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM1084.98 393.08c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM1099.86 333.01c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM1204.52 361.05c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42Z"></path></g></svg>
</header>
<div class="mod mod-breadcrumbs mod--indented">
<div class="mod__inner">
<ul class="breadcrumbs">
<li class="breadcrumbs__crumb">
<a href="/newsroom/" class="">
<span>Back to Newsroom</span>
</a>
</li>
</ul>
</div>
</div>
<div class="mod mod--indented mod-richtext mod-richtext--intro">
<div class="mod__inner ">
<div class="meta">
<div class="meta__col">
<span class="meta__label">Date:</span>
<time datetime="2023-09-12T00:00:00">12 September 2023</time>
<span class="meta__divide">&nbsp;|&nbsp;</span>
<span class="meta__label">Category:</span>
<span>Story</span>
</div>
<div class="meta__col">
<span class="meta__label meta__label--tags">Related Tags:</span>
<a href="/newsroom/?topic=Sustainability" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a href="/newsroom/?topic=Equality" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Equality</span>
</a>
</div>
</div>
</div>
<div class="mod__inner">
<div class="editor">
<h1>Buhle Academy: empowering South African smallholders</h1>
<p class="intro">COFCO International South Africa supports farmer capacity building in the grain production province of Mpumalanga, by providing funding to the Buhle Farmers Academy. The organisation, whose mission is to help alleviate poverty and promote food security by empowering farmers to farm sustainably and profitably, delivers training, mentoring and support for smallholders in relation to livestock and agriculture. Farmers learn how to adopt sustainable practices in order to raise yields and profits, while improving their livelihoods.</p>
</div>
</div>
</div>
<div>
<figure class="mod mod-videoplayer" data-bkg="white">
<div class="mod__inner">
<div class="mod-videoplayer__video">
<div class="videoEmbed" data-videoembed="" data-autoplay="False">
<picture>
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/kajoelcq/fur07304.jpg?width=1920&amp;height=1080&amp;v=1d9e22d64bc2d80">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/kajoelcq/fur07304.jpg?width=1000&amp;height=562&amp;v=1d9e22d64bc2d80">
<img loading="lazy" width="700" height="394" class="videoEmbed__poster" src="https://www.cofcointernational.com/media/kajoelcq/fur07304.jpg?width=700&amp;height=394&amp;v=1d9e22d64bc2d80" alt="">
</picture>
<div class="videoEmbed__control">
<a href="https://player.vimeo.com/video/862292190?autoplay=1" class="btn btn-play">
<span class="assistive-text">Play</span>
<svg width="15" height="19" viewBox="0 0 15 19" xmlns="http://www.w3.org/2000/svg">
<polygon points="235 165 250 174.5 235 184" transform="translate(-235 -165)" fill-rule="nonzero"></polygon>
</svg>
</a>
</div>
</div>
</div>
<figcaption class="mod-videoplayer__details">
<h2>COFCO and Buhle Academy: empowering South African smallholders</h2>
</figcaption>
</div>
</figure>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<p>“The students spend 80% of their time engaged in practical learning, driving tractors, testing the soil, and understanding how to prepare for rain and different weather conditions,” says Zamo Shongwi, Executive Director, <a rel="noopener" href="https://www.buhle.org.za/" target="_blank">Buhle Academy</a>. “Most importantly, they learn how to manage markets, and leave with a business plan they can use to start their own farming enterprise.”</p>
</div>
</div>
</div>
<div class="mod mod-imagecaption">
<figure class="mod__inner">
<picture class="mod-imagecaption__video">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/shynb1ls/fur07347.jpg?width=1920&amp;height=1080&amp;v=1d9e22d6de992d0">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/shynb1ls/fur07347.jpg?width=1000&amp;height=562&amp;v=1d9e22d6de992d0">
<img loading="lazy" width="700" height="394" class="videoEmbed__poster" src="https://www.cofcointernational.com/media/shynb1ls/fur07347.jpg?width=700&amp;height=394&amp;v=1d9e22d6de992d0" alt="">
</picture>
<figcaption class="mod-imagecaption__details">
<p>Zamo Shongwi, Executive Director, Buhle Academy</p>
</figcaption>
</figure>
</div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<p>With an inclusive approach, the Academy is open to students of all backgrounds, with participants only paying up to 10% of the course fees. The rest is provided by donors and funds raised from the Academy’s own agricultural production. The organisation also has facilities for people with disabilities.</p>
</div>
</div>
</div>
<div class="mod mod-imagecaption">
<figure class="mod__inner">
<picture class="mod-imagecaption__video">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/b03nm0ri/fur07246.jpg?width=1920&amp;height=1080&amp;v=1d9e22d5927da50">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/b03nm0ri/fur07246.jpg?width=1000&amp;height=562&amp;v=1d9e22d5927da50">
<img loading="lazy" width="700" height="394" class="videoEmbed__poster" src="https://www.cofcointernational.com/media/b03nm0ri/fur07246.jpg?width=700&amp;height=394&amp;v=1d9e22d5927da50" alt="">
</picture>
<figcaption class="mod-imagecaption__details">
<p>The organisation also has facilities for people with disabilities.</p>
</figcaption>
</figure>
</div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<p>The COFCO International team has sponsored 100 students at the Academy in the past two years, and is able to provide further learning opportunities within its business. “In particular, we can offer students an internship at our soy processing plant,” explains Tania Westmacott, Sustainability Ambassador at COFCO International South Africa.&nbsp;</p>
<p>Finally, the Academy encourages the sharing of information with farming communities to help extend the learning and promote quality of life beyond participating students. Building on the success of this project, COFCO International plans to create more similar partnerships to further support farmers and enable market access.</p>
</div>
</div>
</div>
<div class="mod mod-imagecaption">
<figure class="mod__inner">
<picture class="mod-imagecaption__video">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/kfup25sr/fur07214.jpg?width=1920&amp;height=1080&amp;v=1d9e22d5b52d0a0">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/kfup25sr/fur07214.jpg?width=1000&amp;height=562&amp;v=1d9e22d5b52d0a0">
<img loading="lazy" width="700" height="394" class="videoEmbed__poster" src="https://www.cofcointernational.com/media/kfup25sr/fur07214.jpg?width=700&amp;height=394&amp;v=1d9e22d5b52d0a0" alt="">
</picture>
<figcaption class="mod-imagecaption__details">
<p></p>
</figcaption>
</figure>
</div>
</div>
</article>
<aside class="mod mod-newsroom mod-newsroom--mini" data-bkg="grey">
<div class="mod__title mod-newsroom__header ">
<h2><span>Related items</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=400&amp;height=266&amp;v=1d958319a9d9280">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=550&amp;height=366&amp;v=1d958319a9d9280">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=768&amp;height=511&amp;v=1d958319a9d9280" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO International publishes its 2021 Sustainability Report</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2022-05-23T00:00:00">23 May 2022</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-publishes-its-2021-sustainability-report/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/cslg3smi/hard_cover_a4_book_mockup_4_cofco_wide.jpg?width=400&amp;height=266&amp;v=1d958e3a244ab10">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/cslg3smi/hard_cover_a4_book_mockup_4_cofco_wide.jpg?width=550&amp;height=366&amp;v=1d958e3a244ab10">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/cslg3smi/hard_cover_a4_book_mockup_4_cofco_wide.jpg?width=768&amp;height=511&amp;v=1d958e3a244ab10" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>Guardians of Tomorrow: An early lesson in sustainable agriculture</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2021-02-01T00:00:00">1 February 2021</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/guardians-of-tomorrow-an-early-lesson-in-sustainable-agriculture/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=400&amp;height=266&amp;v=1d9573943b72a10">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=550&amp;height=366&amp;v=1d9573943b72a10">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=768&amp;height=511&amp;v=1d9573943b72a10" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>Shippers commit to measure and disclose emissions, giving unprecedented insight into climate impact</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2022-06-15T00:00:00">15 June 2022</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/shippers-commit-to-measure-and-disclose-emissions-giving-unprecedented-insight-into-climate-impact/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<aside class="mod mod-newsroom mod-newsroom--mini">
<div class="mod__title mod-newsroom__header ">
<h2><span>You might also like</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/qk2d5oyw/cofco-t12a-santos.jpg?width=400&amp;height=266&amp;v=1d958c1d92b5b50">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/qk2d5oyw/cofco-t12a-santos.jpg?width=550&amp;height=366&amp;v=1d958c1d92b5b50">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/qk2d5oyw/cofco-t12a-santos.jpg?width=768&amp;height=511&amp;v=1d958c1d92b5b50" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Supply Chain">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Supply Chain</span>
</a>
</div>
<h3>COFCO around the world: Brazil - Cementing our position in the agricultural powerhouse</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2021-08-26T00:00:00">26 August 2021</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-around-the-world-brazil-cementing-our-position-in-the-agricultural-powerhouse/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/swrb3j34/tile-for-operational-efficiency-ambition-statement.png?width=400&amp;height=266&amp;v=1da033cd6f236d0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/swrb3j34/tile-for-operational-efficiency-ambition-statement.png?width=550&amp;height=366&amp;v=1da033cd6f236d0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/swrb3j34/tile-for-operational-efficiency-ambition-statement.png?width=768&amp;height=511&amp;v=1da033cd6f236d0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Services">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Services</span>
</a>
</div>
<h3>COFCO International commits to cut freight emissions through operational efficiency</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2023-10-19T00:00:00">19 October 2023</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-commits-to-cut-freight-emissions-through-operational-efficiency/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/whadh0uw/int_edu_day_brazil_woman_110b.jpg?rxy=0.5817608099276077,0&amp;width=400&amp;height=266&amp;v=1d9590794183d80">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/whadh0uw/int_edu_day_brazil_woman_110b.jpg?rxy=0.5817608099276077,0&amp;width=550&amp;height=366&amp;v=1d9590794183d80">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/whadh0uw/int_edu_day_brazil_woman_110b.jpg?rxy=0.5817608099276077,0&amp;width=768&amp;height=511&amp;v=1d9590794183d80" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Careers">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Careers</span>
</a>
</div>
<h3>How a woman in rural Brazil opened the door to a career in agriculture</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2022-01-24T00:00:00">24 January 2022</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/how-a-woman-in-rural-brazil-opened-the-door-to-a-career-in-agriculture/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<div class="mod mod-share">
<div class="mod__inner">
<p class="mod-share__label"><svg class="mod-share__icon" width="30" height="auto" viewBox="0 0 23 25"><path d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path></svg> Share this page: </p>
<div class="mod-share__links">
<a class="mod-share__link" href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/newsroom/buhle-academy-empowering-south-african-smallholders/" target="_blank" title="Share this page on Facebook">Facebook</a>
<a class="mod-share__link" href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/newsroom/buhle-academy-empowering-south-african-smallholders/&amp;text=Buhle%20Academy%3A%20empowering%20South%20African%20smallholders" target="_blank" title="Share this page on X.com">X.com</a>
<a class="mod-share__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/newsroom/buhle-academy-empowering-south-african-smallholders/" title="Buhle%20Academy%3A%20empowering%20South%20African%20smallholders&quot;" target="_blank">Linkedin</a>
</div>
</div>
</div>
<div class="mod mod-follow">
<div class="mod__inner">
<div class="mod-follow__graphic">
<picture class="mod-follow__image">
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90">
<img loading="lazy" width="600" height="auto" src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90" alt="">
<svg width="0" height="0" viewBox="0 0 1280 717"><defs><clipPath id="pattern-image-small_a"><path fill="none" d="M-.66 4.64h1280V717H-.66z"></path></clipPath></defs><g clip-path="url(#pattern-image-small_a)"><path d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path></g></svg>
</picture>
</div>
<div class="mod-follow__links">
<h2 class="h1">Follow us on</h2>
<ul class="menu menu-follow">
<li>
<a href="https://www.instagram.com/cofcointl/" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 22 22"><path fill-rule="evenodd" d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"></path><path d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"></path></svg>
</span>
<span class="btn-follow__label">Instagram</span>
</a>
</li>
<li>
<a href="https://x.com/COFCOINTL" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 33 33"><path d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"></path></svg>
</span>
<span class="btn-follow__label">X.com</span>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/cofcointernational" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 20 20"><path d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"></path><circle cx="2" cy="2" r="2"></circle></svg>
</span>
<span class="btn-follow__label">LinkedIn</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</main>