<main id="maincontent" class="site__main">
  <div class="page page-archive" data-page="newsroom">
    <header style="margin-bottom: 32px" class="masthead masthead-newsroom">
      <div class="masthead__content">
        <h1 class="h1">Newsroom</h1>
        <p></p>
      </div>
      <svg
        width="0"
        height="0"
        class="masthead__pattern"
        data-pattern="right"
        viewBox="0 0 1280 243"
      >
        <defs>
          <clipPath id="pattern-header-small_a">
            <path fill="none" d="M.17-414.8h1095.47v368.01H.17z"></path>
          </clipPath>
          <clipPath id="pattern-header-small_b">
            <path fill="none" d="M0 0h1283.02v248.37H0z"></path>
          </clipPath>
        </defs>
        <g clip-path="url(#pattern-header-small_a)">
          <path
            d="M289 10.15c-9.05 8.69-22.02 12.17-34.18 9.16 9.02-8.68 21.99-12.16 34.18-9.16m.77-.21c-12.34-3.29-26.04-.11-35.72 9.57 13.22 3.54 26.68-.55 35.72-9.57Z"
          ></path>
          <path
            d="M299.13-25c3.01 12.15-.47 25.13-9.16 34.18-3-12.18.47-25.15 9.16-34.18m.21-.77c-9.68 9.68-12.86 23.38-9.57 35.72 9.02-9.04 13.11-22.5 9.57-35.72ZM290.33 10.51c12.05 3.49 21.55 12.99 25.02 25.02-12.03-3.47-21.53-12.97-25.02-25.02m-.56-.56c3.32 12.33 12.93 22.6 26.15 26.15-3.54-13.22-13.82-22.83-26.15-26.15ZM228.47-6.07c12.05 3.49 21.55 12.99 25.02 25.02-12.03-3.47-21.53-12.97-25.02-25.02m-.56-.56c3.32 12.33 12.93 22.6 26.15 26.15-3.54-13.22-13.82-22.83-26.15-26.15ZM227.14-6.42c-9.05 8.69-22.02 12.17-34.18 9.16 9.02-8.68 21.99-12.16 34.18-9.16m.77-.21c-12.34-3.29-26.04-.11-35.72 9.57 13.22 3.54 26.68-.55 35.72-9.57Z"
          ></path>
          <path
            d="M166.61-22.64c12.05 3.49 21.55 12.99 25.02 25.02-12.03-3.47-21.53-12.97-25.02-25.02m-.56-.56c3.32 12.33 12.93 22.6 26.15 26.15-3.54-13.22-13.82-22.83-26.15-26.15Z"
          ></path>
        </g>
        <g clip-path="url(#pattern-header-small_b)">
          <path
            d="M886.57 90.81c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3Z"
          ></path>
          <path
            d="M897.1 48.3c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
          ></path>
          <path
            d="M884.97 90.38c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM939.19 36.16c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM866.72 16.75c14.4 4.16 25.77 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM959.03 110.23c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM971.17 68.14c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM960.63 110.66c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM940.78 36.59c14.4 4.16 25.77 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3Z"
          ></path>
          <path
            d="M1013.25 56.01c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1107.16 149.92c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1119.3 107.83c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
          ></path>
          <path
            d="M1108.76 150.35c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM1088.91 76.28c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1161.38 95.7c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1034.7 130.5c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3Z"
          ></path>
          <path
            d="M1045.23 87.99c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
          ></path>
          <path
            d="M1033.1 130.07c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1087.32 75.86c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1014.85 56.44c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM877.26-25.77c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM865.12 16.32c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM951.32-5.92c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1069.07 2.22c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1099.45 33.77c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76Z"
          ></path>
          <path
            d="M1141.54 21.64c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1067.47 1.79c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46Z"
          ></path>
          <path
            d="M1025.39 13.92c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM995-17.63c14.4 4.16 25.77 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM832.35 145.03c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM842.88 102.51c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM830.75 144.6c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46Z"
          ></path>
          <path
            d="M812.5 70.97c14.4 4.16 25.77 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM904.82 164.45c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM916.95 122.36c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
          ></path>
          <path
            d="M906.41 164.88c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM1052.94 204.14c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1065.08 162.05c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
          ></path>
          <path
            d="M1054.54 204.57c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM980.48 184.72c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3Z"
          ></path>
          <path
            d="M991.01 142.21c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
          ></path>
          <path
            d="M978.88 184.29c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1256.89 190.04c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM1267.42 147.52c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM1255.29 189.61c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1309.51 135.39c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1237.04 115.97c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1181.23 169.77c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46Z"
          ></path>
          <path
            d="M1193.36 127.68c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
          ></path>
          <path
            d="M1182.82 170.19c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3ZM1162.98 96.13c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1235.45 115.55c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1215.6 41.48c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1173.51 53.62c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1143.13 22.06c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1217.2 41.91c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3Z"
          ></path>
          <path
            d="M1247.58 73.46c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1289.67 61.33c-10.8 10.4-26.33 14.56-40.92 10.96 10.83-10.41 26.37-14.57 40.92-10.96m.92-.25c-15.83-4.24-31.94.66-42.76 11.46 14.77 3.94 31.18.13 42.76-11.46ZM1287.27 221.59c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM1128.61 224.41c14.43 4.18 25.8 15.55 29.95 29.95-14.4-4.16-25.78-15.53-29.95-29.95m-.68-.68c3.97 14.76 15.48 27.06 31.3 31.3-4.24-15.83-16.54-27.33-31.3-31.3Z"
          ></path>
          <path
            d="M1139.14 181.9c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76Z"
          ></path>
          <path
            d="M1127.01 223.98c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1201.07 243.83c-10.83 10.41-26.37 14.57-40.92 10.96 10.8-10.4 26.33-14.56 40.92-10.96m.92-.25c-14.77-3.94-31.18-.13-42.76 11.46 15.83 4.24 31.94-.66 42.76-11.46ZM1213.21 201.74c3.6 14.55-.56 30.08-10.96 40.92-3.59-14.58.57-30.12 10.96-40.92m.25-.92c-11.59 11.59-15.4 27.99-11.46 42.76 10.8-10.82 15.7-26.93 11.46-42.76ZM1153.67-20.45c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1079.6-40.29c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76ZM1271.41-12.31c14.4 4.16 25.78 15.53 29.95 29.95-14.43-4.18-25.8-15.55-29.95-29.95m-.67-.67c4.24 15.83 16.54 27.33 31.3 31.3-3.97-14.76-15.48-27.06-31.3-31.3ZM1227.73-.6c3.59 14.58-.57 30.12-10.96 40.92-3.6-14.55.56-30.08 10.96-40.92m.25-.92c-10.8 10.82-15.7 26.93-11.46 42.76 11.59-11.59 15.4-27.99 11.46-42.76Z"
          ></path>
        </g>
      </svg>
    </header>
    <div class="mod mod-newsroom">
      <div class="mod__inner mod-newsroom__articles">
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/3yxlz04s/martin_fritsch_lowres_wide-1.jpg?cc=0.2721719743112678,0.1284822866344606,0.25673736981546774,0&amp;width=400&amp;v=1da53a31a104720
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/3yxlz04s/martin_fritsch_lowres_wide-1.jpg?cc=0.2721719743112678,0.1284822866344606,0.25673736981546774,0&amp;width=550&amp;v=1da53a31a104720
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/3yxlz04s/martin_fritsch_lowres_wide-1.jpg?cc=0.2721719743112678,0.1284822866344606,0.25673736981546774,0&amp;width=768&amp;v=1da53a31a104720"
              alt="a man with a white background"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3 data-uw-rm-heading="level" role="heading" aria-level="2">
                COFCO International Board appoints Dr. Martin Fritsch as New
                Director
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2024-01-30T00:00:00"
                  >30 January 2024</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-board-appoints-dr-martin-fritsch-as-new-director/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-board-appoints-dr-martin-fritsch-as-new-director/"
                aria-label="30 January 2024 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-board-appoints-dr-martin-fritsch-as-new-director/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/a54awmyl/shengmu_nologo_449404518_lowres.jpg?width=400&amp;height=266&amp;v=1da47934131d380
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/a54awmyl/shengmu_nologo_449404518_lowres.jpg?width=550&amp;height=366&amp;v=1da47934131d380
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/a54awmyl/shengmu_nologo_449404518_lowres.jpg?width=768&amp;height=511&amp;v=1da47934131d380"
              alt="a group of cows in a field"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Products"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Products"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Products</span>
                </a>
              </div>
              <h3>
                COFCO International to supply deforestation-free soybeans from
                Brazil to Sheng Mu in China
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2024-01-15T00:00:00"
                  >15 January 2024</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-to-supply-deforestation-free-soybeans-from-brazil-to-sheng-mu-in-china/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-to-supply-deforestation-free-soybeans-from-brazil-to-sheng-mu-in-china/"
                aria-label="15 January 2024 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-to-supply-deforestation-free-soybeans-from-brazil-to-sheng-mu-in-china/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/tmqjczb0/img_1828.jpg?rxy=0.3578231634297907,0.3115712433100636&amp;width=400&amp;height=266&amp;v=1da277e3aae1260
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/tmqjczb0/img_1828.jpg?rxy=0.3578231634297907,0.3115712433100636&amp;width=550&amp;height=366&amp;v=1da277e3aae1260
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/tmqjczb0/img_1828.jpg?rxy=0.3578231634297907,0.3115712433100636&amp;width=768&amp;height=511&amp;v=1da277e3aae1260"
              alt="a person talking to a group of children"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
              </div>
              <h3>
                Improving community relations: Inside COFCO International’s
                Sustainability Ambassador Network
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-12-05T00:00:00"
                  >5 December 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/improving-community-relations-inside-cofco-international-s-sustainability-ambassador-network/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/improving-community-relations-inside-cofco-international-s-sustainability-ambassador-network/"
                aria-label="5 December 2023 Read more"
                uw-rm-vague-link-id="/newsroom/improving-community-relations-inside-cofco-international-s-sustainability-ambassador-network/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/taljybnw/cil_responsible_agriculture_454633861_wide.jpg?rxy=0.4981329564671388,0.2662066001949369&amp;width=400&amp;height=266&amp;v=1da221844eca590
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/taljybnw/cil_responsible_agriculture_454633861_wide.jpg?rxy=0.4981329564671388,0.2662066001949369&amp;width=550&amp;height=366&amp;v=1da221844eca590
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/taljybnw/cil_responsible_agriculture_454633861_wide.jpg?rxy=0.4981329564671388,0.2662066001949369&amp;width=768&amp;height=511&amp;v=1da221844eca590"
              alt="a close-up of a card"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Supply Chain"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Supply%20Chain"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Supply Chain</span>
                </a>
              </div>
              <h3>
                COFCO International Responsible Agriculture Standard passes
                European Feed Industry Benchmark
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-11-28T00:00:00"
                  >28 November 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-responsible-agriculture-standard-passes-european-feed-industry-benchmark/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-responsible-agriculture-standard-passes-european-feed-industry-benchmark/"
                aria-label="28 November 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-responsible-agriculture-standard-passes-european-feed-industry-benchmark/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/amipkjhx/img_1827.jpeg?rxy=0.4967498431081698,0.36101203744984395&amp;width=400&amp;height=266&amp;v=1da19383a6f0bf0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/amipkjhx/img_1827.jpeg?rxy=0.4967498431081698,0.36101203744984395&amp;width=550&amp;height=366&amp;v=1da19383a6f0bf0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/amipkjhx/img_1827.jpeg?rxy=0.4967498431081698,0.36101203744984395&amp;width=768&amp;height=511&amp;v=1da19383a6f0bf0"
              alt="a group of people posing for a photo"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3>
                COFCO International wins gold for best corporate website award
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-11-17T00:00:00"
                  >17 November 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/"
                aria-label="17 November 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/1ztfvvkn/76edbac4-8757-4520-9677-db0e5268ecf8.png?rxy=0.5101524299952253,0.6670334563646184&amp;width=400&amp;height=266&amp;v=1da478f353c7160
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/1ztfvvkn/76edbac4-8757-4520-9677-db0e5268ecf8.png?rxy=0.5101524299952253,0.6670334563646184&amp;width=550&amp;height=366&amp;v=1da478f353c7160
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/1ztfvvkn/76edbac4-8757-4520-9677-db0e5268ecf8.png?rxy=0.5101524299952253,0.6670334563646184&amp;width=768&amp;height=511&amp;v=1da478f353c7160"
              alt="a group of people sitting at a table with microphones"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <h3>
                COFCO International and Mengniu Group sign MOU for first trade
                of ‘deforestation-free’ soybeans from Brazil to China
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-11-08T00:00:00"
                  >8 November 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-and-mengniu-group-sign-mou-for-first-trade-of-deforestation-free-soybeans-from-brazil-to-china/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-and-mengniu-group-sign-mou-for-first-trade-of-deforestation-free-soybeans-from-brazil-to-china/"
                aria-label="8 November 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-and-mengniu-group-sign-mou-for-first-trade-of-deforestation-free-soybeans-from-brazil-to-china/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/fvgmnpsv/cofco_sugar-farm_edv6260-c.jpg?rxy=0.25601880681876515,0.46370235934664245&amp;width=400&amp;height=266&amp;v=1d958bd92afd380
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/fvgmnpsv/cofco_sugar-farm_edv6260-c.jpg?rxy=0.25601880681876515,0.46370235934664245&amp;width=550&amp;height=366&amp;v=1d958bd92afd380
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/fvgmnpsv/cofco_sugar-farm_edv6260-c.jpg?rxy=0.25601880681876515,0.46370235934664245&amp;width=768&amp;height=511&amp;v=1d958bd92afd380"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
              </div>
              <h3>
                COFCO International commits to Science-Based Climate Targets
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-10-20T00:00:00"
                  >20 October 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-commits-to-science-based-climate-targets/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-commits-to-science-based-climate-targets/"
                aria-label="20 October 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-commits-to-science-based-climate-targets/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/swrb3j34/tile-for-operational-efficiency-ambition-statement.png?width=400&amp;height=266&amp;v=1da033cd6f236d0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/swrb3j34/tile-for-operational-efficiency-ambition-statement.png?width=550&amp;height=366&amp;v=1da033cd6f236d0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/swrb3j34/tile-for-operational-efficiency-ambition-statement.png?width=768&amp;height=511&amp;v=1da033cd6f236d0"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Services"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Services"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Services</span>
                </a>
              </div>
              <h3>
                COFCO International commits to cut freight emissions through
                operational efficiency
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-10-19T00:00:00"
                  >19 October 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-commits-to-cut-freight-emissions-through-operational-efficiency/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-commits-to-cut-freight-emissions-through-operational-efficiency/"
                aria-label="19 October 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-commits-to-cut-freight-emissions-through-operational-efficiency/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/0l3hkfyv/fur07321.jpg?rxy=0.46930769359000246,0.3502494985024533&amp;width=400&amp;height=266&amp;v=1d9e230488abde0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/0l3hkfyv/fur07321.jpg?rxy=0.46930769359000246,0.3502494985024533&amp;width=550&amp;height=366&amp;v=1d9e230488abde0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/0l3hkfyv/fur07321.jpg?rxy=0.46930769359000246,0.3502494985024533&amp;width=768&amp;height=511&amp;v=1d9e230488abde0"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Equality"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Equality"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Equality</span>
                </a>
              </div>
              <h3>Buhle Academy: empowering South African smallholders</h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-09-12T00:00:00"
                  >12 September 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/buhle-academy-empowering-south-african-smallholders/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/buhle-academy-empowering-south-african-smallholders/"
                aria-label="12 September 2023 Read more"
                uw-rm-vague-link-id="/newsroom/buhle-academy-empowering-south-african-smallholders/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/qmyiej45/santos-ground-breaking.jpg?width=400&amp;height=266&amp;v=1d9ce9845e9a070
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/qmyiej45/santos-ground-breaking.jpg?width=550&amp;height=366&amp;v=1d9ce9845e9a070
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/qmyiej45/santos-ground-breaking.jpg?width=768&amp;height=511&amp;v=1d9ce9845e9a070"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Products"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Products"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Products</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Supply Chain"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Supply%20Chain"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Supply Chain</span>
                </a>
              </div>
              <h3>
                COFCO International starts construction on Santos port terminal
                expansion
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-08-14T00:00:00"
                  >14 August 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-starts-construction-on-santos-port-terminal-expansion/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-starts-construction-on-santos-port-terminal-expansion/"
                aria-label="14 August 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-starts-construction-on-santos-port-terminal-expansion/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=400&amp;v=1d9b3e4cb419ad0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=550&amp;v=1d9b3e4cb419ad0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=768&amp;v=1d9b3e4cb419ad0"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3>
                COFCO International receives industry-leading Sustainalytics ESG
                score
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-07-11T00:00:00"
                  >11 July 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-receives-industry-leading-sustainalytics-esg-score/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-receives-industry-leading-sustainalytics-esg-score/"
                aria-label="11 July 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-receives-industry-leading-sustainalytics-esg-score/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/fjmcewgm/gonzalo_ramirez.jpg?width=400&amp;height=266&amp;v=1d9b0bf4e9a08a0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/fjmcewgm/gonzalo_ramirez.jpg?width=550&amp;height=366&amp;v=1d9b0bf4e9a08a0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/fjmcewgm/gonzalo_ramirez.jpg?width=768&amp;height=511&amp;v=1d9b0bf4e9a08a0"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3>
                COFCO International appoints Gonzalo Ramirez Martiarena to its
                Board of Directors
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-07-07T00:00:00"
                  >7 July 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-appoints-gonzalo-ramirez-martiarena-to-its-board-of-directors/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-appoints-gonzalo-ramirez-martiarena-to-its-board-of-directors/"
                aria-label="7 July 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-appoints-gonzalo-ramirez-martiarena-to-its-board-of-directors/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=400&amp;height=266&amp;v=1d9a91b122a1820
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=550&amp;height=366&amp;v=1d9a91b122a1820
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=768&amp;height=511&amp;v=1d9a91b122a1820"
              alt="person"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
              </div>
              <h3 data-uw-rm-heading="level" role="heading" aria-level="2">
                COFCO International publishes its 2022 Sustainability Report
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-06-27T00:00:00"
                  >27 June 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-publishes-its-2022-sustainability-report/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-publishes-its-2022-sustainability-report/"
                aria-label="27 June 2023 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-publishes-its-2022-sustainability-report/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/dxubrx3q/lab-womens-day-2.png?width=400&amp;height=266&amp;v=1d9580eae8357d0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/dxubrx3q/lab-womens-day-2.png?width=550&amp;height=366&amp;v=1d9580eae8357d0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/dxubrx3q/lab-womens-day-2.png?width=768&amp;height=511&amp;v=1d9580eae8357d0"
              alt="a man wearing a white coat and gloves"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Equality"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Equality"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Equality</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Careers"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Careers"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Careers</span>
                </a>
              </div>
              <h3>
                Determination and a drive to learn: The journey to becoming a
                leading woman food technician
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2023-03-08T00:00:00"
                  >8 March 2023</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/determination-and-a-drive-to-learn-the-journey-to-becoming-a-leading-woman-food-technician/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/determination-and-a-drive-to-learn-the-journey-to-becoming-a-leading-woman-food-technician/"
                aria-label="8 March 2023 Read more"
                uw-rm-vague-link-id="/newsroom/determination-and-a-drive-to-learn-the-journey-to-becoming-a-leading-woman-food-technician/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/btzjngmz/denis_cofco_edv4699-copy.jpg?rxy=0.4049053051368622,0.3058645096056623&amp;width=400&amp;height=266&amp;v=1d958d14a5f9ed0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/btzjngmz/denis_cofco_edv4699-copy.jpg?rxy=0.4049053051368622,0.3058645096056623&amp;width=550&amp;height=366&amp;v=1d958d14a5f9ed0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/btzjngmz/denis_cofco_edv4699-copy.jpg?rxy=0.4049053051368622,0.3058645096056623&amp;width=768&amp;height=511&amp;v=1d958d14a5f9ed0"
              alt="a person standing on a construction site"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Products"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Products"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Products</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
              </div>
              <h3>Meet the wonder oil: castor oil</h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-11-30T00:00:00"
                  >30 November 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/meet-the-wonder-oil-castor-oil/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/meet-the-wonder-oil-castor-oil/"
                aria-label="30 November 2022 Read more"
                uw-rm-vague-link-id="/newsroom/meet-the-wonder-oil-castor-oil/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/p13h54y5/12.jpg?width=400&amp;height=266&amp;v=1d958d1a3deb130
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/p13h54y5/12.jpg?width=550&amp;height=366&amp;v=1d958d1a3deb130
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/p13h54y5/12.jpg?width=768&amp;height=511&amp;v=1d958d1a3deb130"
              alt="a person looking at a screen"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3>
                COFCO International kicks off climate strategy development
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-11-03T00:00:00"
                  >3 November 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-kicks-off-climate-strategy-development/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-kicks-off-climate-strategy-development/"
                aria-label="3 November 2022 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-kicks-off-climate-strategy-development/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/p0fg1sof/helen-website-portrait.jpg?rxy=0.5268858121359365,0.0878143020226561&amp;width=400&amp;height=266&amp;v=1d9584929843f50
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/p0fg1sof/helen-website-portrait.jpg?rxy=0.5268858121359365,0.0878143020226561&amp;width=550&amp;height=366&amp;v=1d9584929843f50
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/p0fg1sof/helen-website-portrait.jpg?rxy=0.5268858121359365,0.0878143020226561&amp;width=768&amp;height=511&amp;v=1d9584929843f50"
              alt="a person with brown hair"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3>COFCO International appoints Xuanyi Song as CFO</h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-09-14T00:00:00"
                  >14 September 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-appoints-xuanyi-song-as-cfo/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-appoints-xuanyi-song-as-cfo/"
                aria-label="14 September 2022 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-appoints-xuanyi-song-as-cfo/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/2i5f0wj1/cofco_sorriso__edv8309-copy.jpg?width=400&amp;height=266&amp;v=1d9581b8ac07410
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/2i5f0wj1/cofco_sorriso__edv8309-copy.jpg?width=550&amp;height=366&amp;v=1d9581b8ac07410
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/2i5f0wj1/cofco_sorriso__edv8309-copy.jpg?width=768&amp;height=511&amp;v=1d9581b8ac07410"
              alt="a person holding a small yellow insect"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3 data-uw-rm-sr="">
                COFCO International’s new $1.6 billion loan brings savings to
                fund further sustainability work
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-07-13T00:00:00"
                  >13 July 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-s-new-16-billion-loan-brings-savings-to-fund-further-sustainability-work/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-s-new-16-billion-loan-brings-savings-to-fund-further-sustainability-work/"
                aria-label="13 July 2022 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-s-new-16-billion-loan-brings-savings-to-fund-further-sustainability-work/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/grfodm1c/cofco-sorriso.jpg?width=400&amp;height=266&amp;v=1d95847b3424f90
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/grfodm1c/cofco-sorriso.jpg?width=550&amp;height=366&amp;v=1d95847b3424f90
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/grfodm1c/cofco-sorriso.jpg?width=768&amp;height=511&amp;v=1d95847b3424f90"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3>
                COFCO International completes new sustainability-linked loan
                deal
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-07-13T00:00:00"
                  >13 July 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-completes-new-sustainability-linked-loan-deal/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-completes-new-sustainability-linked-loan-deal/"
                aria-label="13 July 2022 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-completes-new-sustainability-linked-loan-deal/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=400&amp;height=266&amp;v=1d9573943b72a10
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=550&amp;height=366&amp;v=1d9573943b72a10
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=768&amp;height=511&amp;v=1d9573943b72a10"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
              </div>
              <h3>
                Shippers commit to measure and disclose emissions, giving
                unprecedented insight into climate impact
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-06-15T00:00:00"
                  >15 June 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/shippers-commit-to-measure-and-disclose-emissions-giving-unprecedented-insight-into-climate-impact/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/shippers-commit-to-measure-and-disclose-emissions-giving-unprecedented-insight-into-climate-impact/"
                aria-label="15 June 2022 Read more"
                uw-rm-vague-link-id="/newsroom/shippers-commit-to-measure-and-disclose-emissions-giving-unprecedented-insight-into-climate-impact/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/mc0ntsab/holding-soy.jpeg?rxy=0.16298167567387367,0.665910649295849&amp;width=400&amp;height=266&amp;v=1d958d69bc07fb0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/mc0ntsab/holding-soy.jpeg?rxy=0.16298167567387367,0.665910649295849&amp;width=550&amp;height=366&amp;v=1d958d69bc07fb0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/mc0ntsab/holding-soy.jpeg?rxy=0.16298167567387367,0.665910649295849&amp;width=768&amp;height=511&amp;v=1d958d69bc07fb0"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Supply Chain"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Supply%20Chain"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Supply Chain</span>
                </a>
              </div>
              <h3>The importance of tracing the supply chain</h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-06-03T00:00:00"
                  >3 June 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/the-importance-of-tracing-the-supply-chain/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/the-importance-of-tracing-the-supply-chain/"
                aria-label="3 June 2022 Read more"
                uw-rm-vague-link-id="/newsroom/the-importance-of-tracing-the-supply-chain/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/oxxbg2mr/coffeehands_adobestock_473441446.jpeg?width=400&amp;height=266&amp;v=1d9581e84201ae0
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/oxxbg2mr/coffeehands_adobestock_473441446.jpeg?width=550&amp;height=366&amp;v=1d9581e84201ae0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/oxxbg2mr/coffeehands_adobestock_473441446.jpeg?width=768&amp;height=511&amp;v=1d9581e84201ae0"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Supply Chain"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Supply%20Chain"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Supply Chain</span>
                </a>
              </div>
              <h3>Partnering to reduce the carbon footprint of coffee</h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-06-01T00:00:00"
                  >1 June 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/partnering-to-reduce-the-carbon-footprint-of-coffee/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/partnering-to-reduce-the-carbon-footprint-of-coffee/"
                aria-label="1 June 2022 Read more"
                uw-rm-vague-link-id="/newsroom/partnering-to-reduce-the-carbon-footprint-of-coffee/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=400&amp;height=266&amp;v=1d958319a9d9280
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=550&amp;height=366&amp;v=1d958319a9d9280
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=768&amp;height=511&amp;v=1d958319a9d9280"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Sustainability"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Sustainability</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Corporate"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Corporate</span>
                </a>
              </div>
              <h3>
                COFCO International publishes its 2021 Sustainability Report
              </h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">News</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-05-23T00:00:00"
                  >23 May 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/cofco-international-publishes-its-2021-sustainability-report/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/cofco-international-publishes-its-2021-sustainability-report/"
                aria-label="23 May 2022 Read more"
                uw-rm-vague-link-id="/newsroom/cofco-international-publishes-its-2021-sustainability-report/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
        <article class="card card--newsroom">
          <picture class="card__image">
            <source
              media="(min-width: 1024px)"
              srcset="
                https://www.cofcointernational.com/media/qs2ldhty/dscf9153_fx.jpg?width=400&amp;height=266&amp;v=1d9581f4d332c10
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/qs2ldhty/dscf9153_fx.jpg?width=550&amp;height=366&amp;v=1d9581f4d332c10
              "
            />
            <img
              loading="lazy"
              width="768"
              height="511"
              src="https://www.cofcointernational.com/media/qs2ldhty/dscf9153_fx.jpg?width=768&amp;height=511&amp;v=1d9581f4d332c10"
              alt=""
            />
          </picture>
          <div class="card__content">
            <header class="card__header">
              <div class="card__tags">
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Supply Chain"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Supply%20Chain"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Supply Chain</span>
                </a>
                <a
                  class="btn btn-tax"
                  href="/newsroom/?page=1&amp;topic=Careers"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/newsroom/?page=1&amp;topic=Careers"
                >
                  <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                    <path
                      d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                    ></path>
                  </svg>
                  <span>Careers</span>
                </a>
              </div>
              <h3>Setting your trading strategy</h3>
            </header>
            <footer class="card__footer">
              <div class="card__meta">
                <span class="card__meta__cat">Story</span>
                <span>&nbsp;|&nbsp;</span>
                <time class="card__date" datetime="2022-05-12T00:00:00"
                  >12 May 2022</time
                >
              </div>
              <a
                class="card__cta btn btn-txtcta"
                href="/newsroom/setting-your-trading-strategy/"
                target="_self"
                title="Read more:"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/setting-your-trading-strategy/"
                aria-label="12 May 2022 Read more"
                uw-rm-vague-link-id="/newsroom/setting-your-trading-strategy/$read more"
                data-uw-rm-vglnk=""
              >
                Read more
              </a>
            </footer>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>
