<main id="maincontent" class="site__main">
<article class="page page-article" data-panel-content="">
<header class="masthead masthead-article">
<picture>
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/p0fg1sof/helen-website-portrait.jpg?rxy=0.5268858121359365,0.0878143020226561&amp;width=2400&amp;height=625&amp;v=1d9584929843f50">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/p0fg1sof/helen-website-portrait.jpg?rxy=0.5268858121359365,0.0878143020226561&amp;width=1920&amp;height=500&amp;v=1d9584929843f50">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/p0fg1sof/helen-website-portrait.jpg?rxy=0.5268858121359365,0.0878143020226561&amp;width=1000&amp;height=260&amp;v=1d9584929843f50">
<img class="masthead__image" width="700" height="182" src="https://www.cofcointernational.com/media/p0fg1sof/helen-website-portrait.jpg?rxy=0.5268858121359365,0.0878143020226561&amp;width=700&amp;height=182&amp;v=1d9584929843f50" alt="AltText">
</picture>
<svg width="0" height="0" class="masthead__pattern" data-pattern="right-flower" viewBox="0 0 1280 405">

<defs><clipPath id="pattern-header-right-flower_a"><path fill="none" d="M0 0h1280v405H0z"></path></clipPath></defs><g clip-path="url(#pattern-header-right-flower_a)"><path d="M873.27 133.78c53.77 15.51 96.22 57.96 111.82 111.82-53.86-15.6-96.31-58.05-111.82-111.82m-2.52-2.52c15.83 59.08 61.76 102.02 116.86 116.86-14.83-55.1-57.78-101.03-116.86-116.86ZM912.6-24.93c13.42 54.45-2.12 112.43-40.93 152.75-13.45-54.32 2.08-112.31 40.93-152.75m.92-3.44c-40.3 40.39-58.6 100.55-42.77 159.63C914 88.01 928.23 26.77 913.52-28.37ZM867.31 132.18c-40.44 38.84-98.43 54.38-152.75 40.93 40.32-38.81 98.3-54.35 152.75-40.93m3.44-.92c-55.13-14.7-116.38-.48-159.63 42.77 59.08 15.83 119.23-2.47 159.63-42.77ZM1122.45 65.36c53.77 15.51 96.22 57.96 111.82 111.82-53.86-15.6-96.31-58.05-111.82-111.82m-2.52-2.52c15.83 59.08 61.76 102.02 116.86 116.86-14.83-55.1-57.78-101.03-116.86-116.86Z"></path><path d="M1161.78-93.34c13.42 54.45-2.12 112.43-40.93 152.75-13.45-54.32 2.08-112.31 40.93-152.75m.92-3.44c-40.3 40.39-58.6 100.55-42.77 159.63 43.25-43.25 57.48-104.49 42.77-159.63ZM1116.49 63.77c-40.44 38.84-98.43 54.38-152.75 40.93 40.32-38.81 98.3-54.35 152.75-40.93m3.44-.92c-55.13-14.7-116.38-.48-159.63 42.77 59.08 15.83 119.23-2.47 159.63-42.77ZM1081.27 324.9c53.77 15.51 96.22 57.96 111.82 111.82-53.86-15.6-96.31-58.05-111.82-111.82m-2.52-2.52c15.83 59.08 61.76 102.02 116.86 116.86-14.83-55.1-57.78-101.03-116.86-116.86Z"></path><path d="M1120.61 166.2c13.42 54.45-2.12 112.43-40.93 152.75-13.45-54.32 2.08-112.31 40.93-152.75m.92-3.44c-40.3 40.39-58.6 100.55-42.77 159.63 43.25-43.25 57.48-104.49 42.77-159.63ZM1075.31 323.31c-40.44 38.84-98.43 54.38-152.75 40.93 40.32-38.81 98.3-54.35 152.75-40.93m3.44-.92c-55.13-14.7-116.38-.48-159.63 42.77 59.08 15.83 119.23-2.47 159.63-42.77Z"></path></g></svg>
</header>
<div class="mod mod-breadcrumbs mod--indented">
<div class="mod__inner">
<ul class="breadcrumbs">
<li class="breadcrumbs__crumb">
<a href="/newsroom/" class="">
<span>Back to Newsroom</span>
</a>
</li>
</ul>
</div>
</div>
<div class="mod mod--indented mod-richtext mod-richtext--intro">
<div class="mod__inner ">
<div class="meta">
<div class="meta__col">
<span class="meta__label">Date:</span>
<time datetime="2022-09-14T00:00:00">14 September 2022</time>
<span class="meta__divide">&nbsp;|&nbsp;</span>
<span class="meta__label">Category:</span>
<span>News</span>
</div>
<div class="meta__col">
<span class="meta__label meta__label--tags">Related Tags:</span>
<a href="/newsroom/?topic=Corporate" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
</div>
</div>
<div class="mod__inner">
<div class="editor">
<h1>COFCO International appoints Xuanyi Song as CFO</h1>
<p class="intro">COFCO International has today appointed Xuanyi (Helen) Song Chief Financial Officer of the company, reporting to Wei (David) Dong, Chief Executive Officer, effective immediately.</p>
</div>
</div>
</div>
<div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<p>Helen Song is replacing Zhaohui (Christy) Da who is retiring after more than 27 years at COFCO Group, including the last two years as CFO of COFCO International.</p>
<p>Ms Song is taking on the CFO role in addition to her current roles as Executive Committee Member, VP and Chief Strategy &amp; Information Officer, which already included leading the company’s Investment Committee and Financial Planning and Analysis (FP&amp;A) function.</p>
<p>Ms Song joined COFCO Group’s strategy division in 2010. Following the Group’s initial investments in Nidera and Noble Agri in 2013, she was appointed VP of COFCO International with responsibility for the post-investment management platform.</p>
<p>After the completion of the final Nidera and Noble Agri acquisitions in 2017, Ms Song was appointed Chief Strategy Officer, based at COFCO International’s headquarters in Geneva, Switzerland. She took on the additional role of Chief Information Officer in 2020.</p>
<p>Ms Song started her career at China’s Ministry of Agriculture, and she also worked as a lawyer in capital markets including M&amp;A and IPO in Beijing prior to joining COFCO Group. She has an MBA degree from Peking University and is a Chinese certified lawyer.</p>
<p>“Helen has played a leading role in all strategic initiatives that have been core to decision enablement since the inception of COFCO International,” said David Dong, CEO of COFCO International. “In her new expanded role, she will be instrumental in further linking and aligning finance and strategy, driving digitisation across the company and integrating ESG in all processes to ensure that we create positive and long-lasting impact and value for all our stakeholders.”</p>
<p>“On behalf of COFCO International, I thank Christy for her service and contributions and wish her all the best,” Mr Dong added.</p>
<p><img src="https://www.cofcointernational.com/media/p0fg1sof/helen-website-portrait.jpg?rmode=max&amp;width=500&amp;height=500" alt="" width="500" height="500"></p>
</div>
</div>
</div>
</div>
</article>
<aside class="mod mod-newsroom mod-newsroom--mini" data-bkg="grey">
<div class="mod__title mod-newsroom__header ">
<h2><span>Related items</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/hpvfeapq/cofco_corporate01.jpg?width=400&amp;height=266&amp;v=1d957398fe45ac0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/hpvfeapq/cofco_corporate01.jpg?width=550&amp;height=366&amp;v=1d957398fe45ac0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/hpvfeapq/cofco_corporate01.jpg?width=768&amp;height=511&amp;v=1d957398fe45ac0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO international successfully completes USD 2.3 billion sustainability-linked facilities</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2019-07-23T00:00:00">23 July 2019</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-successfully-completes-usd-23-billion-sustainability-linked-facilities/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/hpvfeapq/cofco_corporate01.jpg?width=400&amp;height=266&amp;v=1d957398fe45ac0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/hpvfeapq/cofco_corporate01.jpg?width=550&amp;height=366&amp;v=1d957398fe45ac0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/hpvfeapq/cofco_corporate01.jpg?width=768&amp;height=511&amp;v=1d957398fe45ac0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO International secures new sustainability-linked loan</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2021-09-22T00:00:00">22 September 2021</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-secures-new-sustainability-linked-loan/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=400&amp;height=266&amp;v=1d9a91b122a1820">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=550&amp;height=366&amp;v=1d9a91b122a1820">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=768&amp;height=511&amp;v=1d9a91b122a1820" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>COFCO International publishes its 2022 Sustainability Report</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2023-06-27T00:00:00">27 June 2023</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-publishes-its-2022-sustainability-report/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<aside class="mod mod-newsroom mod-newsroom--mini">
<div class="mod__title mod-newsroom__header ">
<h2><span>You might also like</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/ka1dvgaw/wei_david_dong.jpg?width=400&amp;height=266&amp;v=1d9574e98883830">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/ka1dvgaw/wei_david_dong.jpg?width=550&amp;height=366&amp;v=1d9574e98883830">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/ka1dvgaw/wei_david_dong.jpg?width=768&amp;height=511&amp;v=1d9574e98883830" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO International names Wei Dong as chief executive</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2018-12-27T00:00:00">27 December 2018</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-names-wei-dong-as-chief-executive/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=400&amp;v=1d9b3e4cb419ad0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=550&amp;v=1d9b3e4cb419ad0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=768&amp;v=1d9b3e4cb419ad0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO International receives industry-leading Sustainalytics ESG score</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2023-07-11T00:00:00">11 July 2023</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-receives-industry-leading-sustainalytics-esg-score/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/ks3pspfk/covantis-cmyk-strapline1.jpg?width=400&amp;height=266&amp;v=1d9574ee3c95b30">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/ks3pspfk/covantis-cmyk-strapline1.jpg?width=550&amp;height=366&amp;v=1d9574ee3c95b30">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/ks3pspfk/covantis-cmyk-strapline1.jpg?width=768&amp;height=511&amp;v=1d9574ee3c95b30" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Services">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Services</span>
</a>
</div>
<h3>Agribusiness trade modernization initiative advances with new project name, Covantis</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2019-12-04T00:00:00">4 December 2019</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/agribusiness-trade-modernization-initiative-advances-with-new-project-name-covantis/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<div class="mod mod-share">
<div class="mod__inner">
<p class="mod-share__label"><svg class="mod-share__icon" width="30" height="auto" viewBox="0 0 23 25"><path d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path></svg> Share this page: </p>
<div class="mod-share__links">
<a class="mod-share__link" href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/newsroom/cofco-international-appoints-xuanyi-song-as-cfo/" target="_blank" title="Share this page on Facebook">Facebook</a>
<a class="mod-share__link" href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/newsroom/cofco-international-appoints-xuanyi-song-as-cfo/&amp;text=COFCO%20International%20appoints%20Xuanyi%20Song%20as%20CFO" target="_blank" title="Share this page on X.com">X.com</a>
<a class="mod-share__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/newsroom/cofco-international-appoints-xuanyi-song-as-cfo/" title="COFCO%20International%20appoints%20Xuanyi%20Song%20as%20CFO&quot;" target="_blank">Linkedin</a>
</div>
</div>
</div>
<div class="mod mod-follow">
<div class="mod__inner">
<div class="mod-follow__graphic">
<picture class="mod-follow__image">
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90">
<img loading="lazy" width="600" height="auto" src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90" alt="">
<svg width="0" height="0" viewBox="0 0 1280 717"><defs><clipPath id="pattern-image-small_a"><path fill="none" d="M-.66 4.64h1280V717H-.66z"></path></clipPath></defs><g clip-path="url(#pattern-image-small_a)"><path d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path></g></svg>
</picture>
</div>
<div class="mod-follow__links">
<h2 class="h1">Follow us on</h2>
<ul class="menu menu-follow">
<li>
<a href="https://www.instagram.com/cofcointl/" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 22 22"><path fill-rule="evenodd" d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"></path><path d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"></path></svg>
</span>
<span class="btn-follow__label">Instagram</span>
</a>
</li>
<li>
<a href="https://x.com/COFCOINTL" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 33 33"><path d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"></path></svg>
</span>
<span class="btn-follow__label">X.com</span>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/cofcointernational" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 20 20"><path d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"></path><circle cx="2" cy="2" r="2"></circle></svg>
</span>
<span class="btn-follow__label">LinkedIn</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</main>