<main id="maincontent" class="site__main">
<article class="page page-article" data-panel-content="">
<header class="masthead masthead-article">
<picture>
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=2400&amp;height=625&amp;v=1d9a91b122a1820">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=1920&amp;height=500&amp;v=1d9a91b122a1820">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=1000&amp;height=260&amp;v=1d9a91b122a1820">
<img class="masthead__image" width="700" height="182" src="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=700&amp;height=182&amp;v=1d9a91b122a1820" alt="AltText">
</picture>
<svg width="0" height="0" class="masthead__pattern" data-pattern="left-large" viewBox="0 0 1280 405">

<defs><clipPath id="pattern-header-left-large_a"><path fill="none" d="M1.29 0H1280v402.16H1.29z"></path></clipPath><clipPath id="pattern-header-left-large_b"><path fill="none" d="M0 522.6h1280v405H0z"></path></clipPath></defs><g clip-path="url(#pattern-header-left-large_a)"><path d="M102.14 357.42c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04ZM106.46 358.58c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81-10.76-39.99-41.93-73.32-84.81-84.81ZM48.38 156.76c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04ZM52.7 157.92c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81-10.76-39.99-41.93-73.32-84.81-84.81ZM135.01 243.4c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85ZM249.04 210.53c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04ZM454.01 265.45c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81-10.76-39.99-41.93-73.32-84.81-84.81ZM536.33 350.93c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85Z"></path><path d="M650.35 318.06c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04ZM449.69 264.3c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04Z"></path><path d="M335.67 297.17c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85Z"></path><path d="M253.36 211.69c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81-10.76-39.99-41.93-73.32-84.81-84.81ZM81.24 42.74c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85C82.26 124.7 92.58 80.25 81.91 40.24ZM482.56 150.28c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85ZM281.9 96.51c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85Z"></path></g><g clip-path="url(#pattern-header-left-large_b)"><path d="M346.72 401.67c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54ZM138.53 387.85c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65ZM349.58 402.44c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11ZM633.98 397.38c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65Z"></path><path d="M368.47 326.24c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65ZM501.22 361.81c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65Z"></path></g></svg>
</header>
<div class="mod mod-breadcrumbs mod--indented">
<div class="mod__inner">
<ul class="breadcrumbs">
<li class="breadcrumbs__crumb">
<a href="/newsroom/" class="">
<span>Back to Newsroom</span>
</a>
</li>
</ul>
</div>
</div>
<div class="mod mod--indented mod-richtext mod-richtext--intro">
<div class="mod__inner ">
<div class="meta">
<div class="meta__col">
<span class="meta__label">Date:</span>
<time datetime="2023-06-27T00:00:00">27 June 2023</time>
<span class="meta__divide">&nbsp;|&nbsp;</span>
<span class="meta__label">Category:</span>
<span>News</span>
</div>
<div class="meta__col">
<span class="meta__label meta__label--tags">Related Tags:</span>
<a href="/newsroom/?topic=Corporate" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
<a href="/newsroom/?topic=Sustainability" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a href="/newsroom/?topic=Supply Chain" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Supply Chain</span>
</a>
<a href="/newsroom/?topic=Partners" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Partners</span>
</a>
</div>
</div>
</div>
<div class="mod__inner">
<div class="editor">
<h1>COFCO International publishes its 2022 Sustainability Report</h1>
<p class="intro">GENEVA, Switzerland - COFCO International today publishes its 2022 Sustainability Report, sharing its progress on the social, environmental and governance issues that define its sustainability strategy. The company also reviews its five-year journey, and highlights the priorities identified by its latest materiality assessment, of which the most important are preventing deforestation and land conversion, protecting human rights in its business and supply chains, and addressing climate change. This reflects the global UN-led sustainability agenda, with two major conferences on biodiversity and climate change setting the tone for business and government action on conservation, deforestation and emission reduction during the year.</p>
</div>
</div>
</div>
<div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<p>“We remain committed to playing our part in accelerating the transition to sustainable agriculture, as we strive to feed the world responsibly,” says David Dong, COFCO International CEO. “We have made robust progress over the past five years, developing ground-breaking sustainability-linked financing solutions, building resilience and optimising our management of risks. In 2022, we ensured the ongoing and stable sourcing and supply of major commodities, and continued to participate in major industry initiatives to halt agriculture-related deforestation.<br>To address shared challenges, and to develop strategic solutions that deliver financial, social and environmental returns, the company is implementing the Agriculture Sector Roadmap to 1.5°C. As part of this initiative, it has committed to making its soy supply chain free of deforestation by 2025 in the Amazon, Cerrado and Chaco, along with 13 other major agri-businesses (in compliance with applicable antitrust laws). This builds on its achievements in fulfilling the targets of its sustainability-linked loans by improving traceability and addressing social and environmental risks within its supply chains. In 2022, the&nbsp;company also launched its Responsible Agriculture Standard.</p>
<p><strong>ESG Risk Rating</strong></p>
<p>In June 2023, COFCO International (HK) Ltd., the parent company for COFCO International operations, has further improved its Environmental, Social and Governance (ESG) Risk Rating from Morningstar Sustainalytics, which measures a company’s exposure to ESG factors and how well those are managed (COFCO International (HK) Ltd is the Licensed group entity, for this purposes). The Morningstar Sustainalytics score of 20.0 received in June categorises COFCO International (HK) Ltd. as “Low” risk, an improvement of 1.7 points from the previous year. Improvements were mainly driven by advancements in the company’s emissions reporting, climate risk management, deforestation policy, biodiversity programmes and efforts to improve the carbon and water intensity of its operations. This score places COFCO International (HK) Ltd. as #2 out of over 100 companies in the Sustainalytics agriculture sub-industry group.<br>Through this report, progress is disclosed against the five core areas of COFCO International’s sustainability strategy: connecting supply and demand, taking care of its people, managing its environmental impact, building strong communities and upholding standards. The report also explores opportunities for improvement and highlights evolving challenges and future plans to achieve its goals.&nbsp;</p>
<p><strong>2022 highlights include:</strong></p>
<ul>
<li>Measured entire greenhouse gas footprint and assessed climate risks.</li>
<li>20% decrease in Scope 1 and 2 GHG emissions compared to 2021.</li>
<li>89% of global energy needs were met by renewable energy.</li>
<li>Secured a third sustainability-linked loan of $1.6bn after completing all previous targets.</li>
<li>Supported the creation of Farmer First Clusters to incentivise sustainable practices.</li>
<li>Screened 88% of palm oil supply base for social and environmental risks.</li>
<li>37% of total coffee sales volume was certified or verified as sustainable.</li>
<li>COFCO International Brazil was awarded Great Place to Work certification.</li>
<li>10% reduction in lost-time injury frequency rate for employees.</li>
<li>78% of the company’s assets had zero lost-time incidents.</li>
<li>Reached an estimated number of 49,000 beneficiaries through community investment.</li>
<li>22,303 training sessions on business ethics and policies delivered to employees.</li>
</ul>
<p>The COFCO International 2022 Sustainability Report has been prepared with reference to the Global Reporting Initiative (GRI) standards and is available on the website: www.cofcointernational.com/sustainability/. It also provides a summary of the company’s contribution towards specific targets of the United Nations 2030 Sustainable Development Goals, and explains how its sustainability efforts are aligned to the International Finance Corporation’s Environmental and Social Performance Standards.</p>
<p><strong>About COFCO International</strong><br>With more than 11,500 people in 37 countries, COFCO International is the overseas agriculture business platform for COFCO Corporation, China's largest food and agriculture company. COFCO International is focused on being a leader in the global grains, oilseeds, sugar, coffee and cotton supply chains, with assets across the Americas, Europe and Asia-Pacific. The company trades with over 50 nations, while providing farmers unique direct access to the growing Chinese market. In 2022, COFCO International sales volumes to third parties reached 127 million tonnes of commodities, achieving revenues of $53.3 billion. The company is accelerating its growth to create a world-class integrated global agriculture supply chain, anchored in China and competing globally.</p>
<p><span style="mso-ansi-language: EN-US;" lang="EN-US">Copyright © 2023 Morningstar Sustainalytics. All rights reserved. This publication contains information developed by Sustainalytics (</span><span style="mso-ansi-language: EN-US;" lang="EN-US"><a rel="noopener" href="https://eur02.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.sustainalytics.com%2F&amp;data=05%7C01%7CAllanVirtanen%40cofcointernational.com%7Ce62025a296364b0fe66c08db770daded%7C01c999f0c6f347dc92cf4f2d06feda2c%7C0%7C0%7C638234672905506141%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=0bKQ4qIJ0UV30o6WfCL58SrBhdMIXEbLKf4WxJ7gnk4%3D&amp;reserved=0" target="_blank" title="https://eur02.safelinks.protection.outlook.com/?url=http%3a%2f%2fwww.sustainalytics.com%2f&amp;data=05%7c01%7callanvirtanen%40cofcointernational.com%7c9d466497de184343e22508db76fbc188%7c01c999f0c6f347dc92cf4f2d06feda2c%7c0%7c0%7c638234595915088615%7cunknown%7"><em>www.sustainalytics.com</em></a>). Such information and data are proprietary of Sustainalytics and/or its third-party suppliers (Third Party Data) and are provided for informational purposes only. They do not constitute an endorsement of any product or project, nor an investment advice and are not warranted to be complete, timely, accurate or suitable for a particular purpose. Their use is subject to conditions available at <a rel="noopener" href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.sustainalytics.com%2Flegal-disclaimers&amp;data=05%7C01%7CAllanVirtanen%40cofcointernational.com%7Ce62025a296364b0fe66c08db770daded%7C01c999f0c6f347dc92cf4f2d06feda2c%7C0%7C0%7C638234672905506141%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=k%2BYLbHLsKg1Z37pwJ3h8d7qVvAfrkd30Gt8SdflxxrY%3D&amp;reserved=0" target="_blank" title="https://www.sustainalytics.com/legal-disclaimers"><em>https://www.sustainalytics.com/legal-disclaimers</em></a></span></p>

</div>
</div>
</div>
<section class="mod mod-story mod-story--promo" data-bkg="orange" data-imagealign="left" data-imagecount="1" data-divideline="True">
<div class="mod__inner">
<picture class="mod-story__img" data-images="1">
<source media="(min-width: 1000px)">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/43tplwou/cofco-sr-website-download-image.jpg?width=1000&amp;height=550&amp;v=1d9a5d805620850">
<img loading="lazy" width="700" height="385" class="mod-story__img--1" src="https://www.cofcointernational.com/media/43tplwou/cofco-sr-website-download-image.jpg?width=700&amp;height=385&amp;v=1d9a5d805620850" alt="">
</picture>
<div class="mod-story__text">
<h3 data-jump-nav="">2022 Sustainability Report</h3>
<p>In the past year, the importance of protecting the climate and conserving biodiversity has been at the forefront of the global sustainability agenda, with two major UN conferences setting the tone for business and government action on deforestation and emission reduction.</p>
<a href="https://www.cofcointernational.com/media/p5dalavs/cofco-sr22-23-06-26.pdf" target="_blank" class="mod-story__cta btn btn-txtcta" title="Download our 2022 Sustainability Repot">Download our 2022 Sustainability Repot</a>
</div>
</div>
</section>
</div>
</article>
<aside class="mod mod-newsroom mod-newsroom--mini" data-bkg="grey">
<div class="mod__title mod-newsroom__header ">
<h2><span>Related items</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=400&amp;v=1d9b3e4cb419ad0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=550&amp;v=1d9b3e4cb419ad0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?cc=0.31189088393949504,0.31257899305555553,0.31189088393949504,0.3115789930555556&amp;width=768&amp;v=1d9b3e4cb419ad0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO International receives industry-leading Sustainalytics ESG score</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2023-07-11T00:00:00">11 July 2023</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-receives-industry-leading-sustainalytics-esg-score/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/us2j4k0r/tractor-pouring-seeds-in-lorry-container.jpg?width=400&amp;height=266&amp;v=1d958e5f7c75090">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/us2j4k0r/tractor-pouring-seeds-in-lorry-container.jpg?width=550&amp;height=366&amp;v=1d958e5f7c75090">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/us2j4k0r/tractor-pouring-seeds-in-lorry-container.jpg?width=768&amp;height=511&amp;v=1d958e5f7c75090" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Equality">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Equality</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>Our commitment to protect and respect people and communities</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2020-11-10T00:00:00">10 November 2020</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/our-commitment-to-protect-and-respect-people-and-communities/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/gwojin2g/zhaohui.jpg?width=400&amp;height=266&amp;v=1d9574e977f2ca0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/gwojin2g/zhaohui.jpg?width=550&amp;height=366&amp;v=1d9574e977f2ca0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/gwojin2g/zhaohui.jpg?width=768&amp;height=511&amp;v=1d9574e977f2ca0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO International appoints Zhaohui Da as CFO</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2020-06-24T00:00:00">24 June 2020</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-appoints-zhaohui-da-as-cfo/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<aside class="mod mod-newsroom mod-newsroom--mini">
<div class="mod__title mod-newsroom__header ">
<h2><span>You might also like</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=400&amp;height=266&amp;v=1d9573943b72a10">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=550&amp;height=366&amp;v=1d9573943b72a10">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/hnvmjfak/boat-in-port.jpg?width=768&amp;height=511&amp;v=1d9573943b72a10" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>Shippers commit to measure and disclose emissions, giving unprecedented insight into climate impact</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2022-06-15T00:00:00">15 June 2022</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/shippers-commit-to-measure-and-disclose-emissions-giving-unprecedented-insight-into-climate-impact/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/dwcozqap/cofco_soybeanharvest_edv8072c.jpg?width=400&amp;height=266&amp;v=1d95906b9b89d60">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/dwcozqap/cofco_soybeanharvest_edv8072c.jpg?width=550&amp;height=366&amp;v=1d95906b9b89d60">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/dwcozqap/cofco_soybeanharvest_edv8072c.jpg?width=768&amp;height=511&amp;v=1d95906b9b89d60" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Supply Chain">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Supply Chain</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>COVID-19: Brazilian truck drivers keep supply chain afloat</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2020-04-16T00:00:00">16 April 2020</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/covid-19-brazilian-truck-drivers-keep-supply-chain-afloat/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/ceye3dy4/abelhas_cofco_02.jpg?width=400&amp;height=266&amp;v=1d958e466f41400">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/ceye3dy4/abelhas_cofco_02.jpg?width=550&amp;height=366&amp;v=1d958e466f41400">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/ceye3dy4/abelhas_cofco_02.jpg?width=768&amp;height=511&amp;v=1d958e466f41400" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>Brazilian sugar fields abuzz with successful bee protection</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2020-11-23T00:00:00">23 November 2020</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/brazilian-sugar-fields-abuzz-with-successful-bee-protection/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<div class="mod mod-share">
<div class="mod__inner">
<p class="mod-share__label"><svg class="mod-share__icon" width="30" height="auto" viewBox="0 0 23 25"><path d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path></svg> Share this page: </p>
<div class="mod-share__links">
<a class="mod-share__link" href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/newsroom/cofco-international-publishes-its-2022-sustainability-report/" target="_blank" title="Share this page on Facebook">Facebook</a>
<a class="mod-share__link" href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/newsroom/cofco-international-publishes-its-2022-sustainability-report/&amp;text=COFCO%20International%20publishes%20its%202022%20Sustainability%20Report" target="_blank" title="Share this page on X.com">X.com</a>
<a class="mod-share__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/newsroom/cofco-international-publishes-its-2022-sustainability-report/" title="COFCO%20International%20publishes%20its%202022%20Sustainability%20Report&quot;" target="_blank">Linkedin</a>
</div>
</div>
</div>
<div class="mod mod-follow">
<div class="mod__inner">
<div class="mod-follow__graphic">
<picture class="mod-follow__image">
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90">
<img loading="lazy" width="600" height="auto" src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90" alt="">
<svg width="0" height="0" viewBox="0 0 1280 717"><defs><clipPath id="pattern-image-small_a"><path fill="none" d="M-.66 4.64h1280V717H-.66z"></path></clipPath></defs><g clip-path="url(#pattern-image-small_a)"><path d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path></g></svg>
</picture>
</div>
<div class="mod-follow__links">
<h2 class="h1">Follow us on</h2>
<ul class="menu menu-follow">
<li>
<a href="https://www.instagram.com/cofcointl/" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 22 22"><path fill-rule="evenodd" d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"></path><path d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"></path></svg>
</span>
<span class="btn-follow__label">Instagram</span>
</a>
</li>
<li>
<a href="https://x.com/COFCOINTL" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 33 33"><path d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"></path></svg>
</span>
<span class="btn-follow__label">X.com</span>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/cofcointernational" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 20 20"><path d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"></path><circle cx="2" cy="2" r="2"></circle></svg>
</span>
<span class="btn-follow__label">LinkedIn</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</main>