<main id="maincontent" class="site__main">
<article class="page page-article" data-panel-content="">
<header class="masthead masthead-article">
<picture>
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?width=2400&amp;height=625&amp;v=1d9b3e4cb419ad0">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?width=1920&amp;height=500&amp;v=1d9b3e4cb419ad0">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?width=1000&amp;height=260&amp;v=1d9b3e4cb419ad0">
<img class="masthead__image" width="700" height="182" src="https://www.cofcointernational.com/media/jqapxum2/cil_itr_esg_2023.jpg?width=700&amp;height=182&amp;v=1d9b3e4cb419ad0" alt="AltText">
</picture>
<svg width="0" height="0" class="masthead__pattern" data-pattern="left-small" viewBox="0 0 1280 405">

<defs><clipPath id="pattern-header-left-small_a"><path fill="none" d="M0 0h1280v405H0z"></path></clipPath></defs><g clip-path="url(#pattern-header-left-small_a)"><path d="M.55 136.95c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM134.2 270.61c-15.42 14.81-37.53 20.73-58.24 15.6 15.37-14.8 37.48-20.72 58.24-15.6m1.31-.35c-21.02-5.61-44.37-.18-60.86 16.31 22.53 6.04 45.46-.94 60.86-16.31ZM151.47 210.71c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM136.48 271.22c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM108.23 165.8c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM211.38 193.44c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM31.06 242.98c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM46.06 182.46c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM28.79 242.37c-15.42 14.81-37.53 20.73-58.24 15.6 15.37-14.8 37.48-20.72 58.24-15.6m1.31-.35c-21.02-5.61-44.37-.18-60.86 16.31 22.53 6.04 45.46-.94 60.86-16.31Z"></path><path d="M105.96 165.2c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM2.82 137.56c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM79.99 60.39c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM123.23 105.3c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86Z"></path><path d="M183.13 88.03c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM77.72 59.78c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM17.81 77.05c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31C2.8 91.14-4.18 114.07 1.86 136.6c16.49-16.49 21.91-39.84 16.31-60.86ZM-25.43 32.14c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.65-21-22.02-38.51-44.55-44.54ZM57.04 347.78c-15.42 14.81-37.53 20.73-58.24 15.6 15.37-14.8 37.48-20.72 58.24-15.6m1.31-.35c-21.02-5.61-44.37-.18-60.86 16.31 22.53 6.04 45.46-.94 60.86-16.31Z"></path><path d="M74.31 287.88c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM59.31 348.39c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM450.45 355.35c-15.42 14.81-37.53 20.73-58.24 15.6 15.37-14.8 37.48-20.72 58.24-15.6m1.31-.35c-21.02-5.61-44.37-.18-60.86 16.31 22.53 6.04 45.46-.94 60.86-16.31ZM467.72 295.45c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM452.72 355.96c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM424.47 250.54c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55Z"></path><path d="M527.62 278.18c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM347.31 327.71c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM362.3 267.2c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM345.03 327.1c-15.42 14.81-37.53 20.73-58.24 15.6 15.37-14.8 37.48-20.72 58.24-15.6m1.31-.35c-21.02-5.61-44.37-.18-60.86 16.31 22.53 6.04 45.46-.94 60.86-16.31Z"></path><path d="M422.2 249.93c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31Z"></path><path d="M319.06 222.3c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM239.62 298.86c-15.42 14.81-37.53 20.73-58.24 15.6 15.37-14.8 37.48-20.72 58.24-15.6m1.31-.35c-21.02-5.61-44.37-.18-60.86 16.31 22.53 6.04 45.46-.94 60.86-16.31ZM256.89 238.96c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86Z"></path><path d="M241.89 299.47c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM213.65 194.05c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM316.79 221.69c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM501.64 173.37c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM544.88 218.28c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86ZM604.79 201.01c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM529.89 278.79c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM499.37 172.77c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31Z"></path><path d="M439.47 190.03c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86ZM396.23 145.13c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM288.54 116.27c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM228.64 133.54c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86Z"></path><path d="M185.4 88.64c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM290.81 116.88c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM334.06 161.79c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86Z"></path><path d="M393.96 144.52c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM495.96 400.86c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM555.86 383.59c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM390.55 372.62c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM164.72 376.64c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM179.72 316.12c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM162.45 376.03c-15.42 14.81-37.53 20.73-58.24 15.6 15.37-14.8 37.48-20.72 58.24-15.6m1.31-.35c-21.02-5.61-44.37-.18-60.86 16.31 22.53 6.04 45.46-.94 60.86-16.31ZM267.86 404.27c-15.42 14.81-37.53 20.73-58.24 15.6 15.37-14.8 37.48-20.72 58.24-15.6m1.31-.35c-21.02-5.61-44.37-.18-60.86 16.31 22.53 6.04 45.46-.94 60.86-16.31Z"></path><path d="M285.13 344.37c5.13 20.71-.79 42.82-15.6 58.24-5.12-20.76.81-42.87 15.6-58.24m.35-1.31c-16.49 16.49-21.91 39.84-16.31 60.86 15.37-15.4 22.34-38.34 16.31-60.86ZM270.14 404.88c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM157.15-16.78c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM200.4 28.13c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86ZM260.3 10.86c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31Z"></path><path d="M154.88-17.39C139.51-2.59 117.4 3.34 96.65-1.78c15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM94.98-.12c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86ZM473.4 67.96c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM516.64 112.87c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86Z"></path><path d="M576.54 95.6c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM471.13 67.35c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM411.22 84.62c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86ZM367.98 39.71c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55ZM262.57 11.47c20.5 5.91 36.69 22.1 42.63 42.63-20.54-5.95-36.72-22.13-42.63-42.63m-.96-.96c6.04 22.53 23.55 38.9 44.55 44.55-5.66-21.01-22.03-38.52-44.55-44.55Z"></path><path d="M305.81 56.37c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86Z"></path><path d="M365.71 39.11c-15.37 14.8-37.48 20.72-58.24 15.6 15.42-14.81 37.53-20.73 58.24-15.6m1.31-.35c-22.53-6.04-45.46.94-60.86 16.31 21.02 5.61 44.37.18 60.86-16.31ZM593.81 35.7c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86ZM578.81 96.21c20.54 5.95 36.72 22.13 42.63 42.63-20.5-5.91-36.69-22.1-42.63-42.63m-.96-.96c5.66 21.01 22.03 38.52 44.55 44.55-6.04-22.53-23.55-38.9-44.55-44.55ZM488.39 7.45c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31C473.37 21.54 466.4 44.48 472.43 67c16.49-16.49 21.91-39.84 16.31-60.86ZM277.56-49.04c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86ZM382.98-20.79c5.12 20.76-.81 42.87-15.6 58.24-5.13-20.71.79-42.82 15.6-58.24m.35-1.31c-15.37 15.4-22.34 38.34-16.31 60.86 16.49-16.49 21.91-39.84 16.31-60.86Z"></path></g></svg>
</header>
<div class="mod mod-breadcrumbs mod--indented">
<div class="mod__inner">
<ul class="breadcrumbs">
<li class="breadcrumbs__crumb">
<a href="/newsroom/" class="">
<span>Back to Newsroom</span>
</a>
</li>
</ul>
</div>
</div>
<div class="mod mod--indented mod-richtext mod-richtext--intro">
<div class="mod__inner ">
<div class="meta">
<div class="meta__col">
<span class="meta__label">Date:</span>
<time datetime="2023-07-11T00:00:00">11 July 2023</time>
<span class="meta__divide">&nbsp;|&nbsp;</span>
<span class="meta__label">Category:</span>
<span>News</span>
</div>
<div class="meta__col">
<span class="meta__label meta__label--tags">Related Tags:</span>
<a href="/newsroom/?topic=Sustainability" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a href="/newsroom/?topic=Corporate" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
</div>
</div>
<div class="mod__inner">
<div class="editor">
<h1>COFCO International receives industry-leading Sustainalytics ESG score</h1>
<p class="intro">GENEVA – COFCO International (HK) Ltd. has been recognised as a Sustainalytics 2023 Top-Rated ESG Company and ranked #2 out of over 100 companies in the Sustainalytics agriculture sub-industry group.</p>
</div>
</div>
</div>
<div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<p>In June 2023, COFCO International (HK) Ltd., the parent company for COFCO International operations, has further improved its Environmental, Social and Governance (ESG) Risk Rating from Morningstar Sustainalytics, which measures a company’s exposure to, and management of ESG factors.</p>
<p>The Morningstar Sustainalytics score of 20.0 received in June categorises COFCO International (HK) Ltd. as “Low” risk, an improvement of 1.7 points from the previous year.</p>
<p>Improvements were mainly driven by advancements in the company’s emissions reporting, climate risk management, deforestation policy, biodiversity programmes and efforts to improve the carbon and water intensity of its operations.</p>
<p>This rating follows on from the publication of COFCO International’s sustainability report earlier this year, which discloses the company’s sustainability progress, opportunities for improvement, evolving challenges and future plans to achieve its goals.</p>
<p>The report is available at&nbsp;<a rel="noopener" href="https://www.cofcointernational.com/sustainability/" target="_blank">www.cofcointernational.com/sustainability/&nbsp;</a></p>
<p><strong>- ENDS</strong></p>
<p><strong>About COFCO International</strong></p>
<p>With more than 11,500 people in 37 countries, COFCO International is the overseas agriculture business platform for COFCO Corporation, China's largest food and agriculture company. COFCO International is focused on being a leader in the global grains, oilseeds, sugar, coffee and cotton supply chains, with assets across the Americas, Europe and Asia-Pacific. The company trades with over 50 nations, while providing farmers unique direct access to the growing Chinese market. In 2022, COFCO International sales volumes to third parties reached 127 million tonnes of commodities, achieving revenues of $53.3 billion. The company is accelerating its growth to create a world-class integrated global agriculture supply chain, anchored in China and competing globally.</p>
<p>Copyright © 2023 Morningstar Sustainalytics. All rights reserved. This publication contains information developed by Sustainalytics (www.sustainalytics.com). Such information and data are proprietary of Sustainalytics and/or its third-party suppliers (Third Party Data) and are provided for informational purposes only. They do not constitute an endorsement of any product or project, nor an investment advice and are not warranted to be complete, timely, accurate or suitable for a particular purpose. Their use is subject to conditions available at https://www.sustainalytics.com/legal-disclaimers</p>
</div>
</div>
</div>
</div>
</article>
<aside class="mod mod-newsroom mod-newsroom--mini" data-bkg="grey">
<div class="mod__title mod-newsroom__header ">
<h2><span>Related items</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=400&amp;height=266&amp;v=1d9a91b122a1820">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=550&amp;height=366&amp;v=1d9a91b122a1820">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=768&amp;height=511&amp;v=1d9a91b122a1820" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>COFCO International publishes its 2022 Sustainability Report</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2023-06-27T00:00:00">27 June 2023</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-publishes-its-2022-sustainability-report/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/upinbb0m/screen-cofco-1920x1080_01.jpg?width=400&amp;height=266&amp;v=1d9579295a26570">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/upinbb0m/screen-cofco-1920x1080_01.jpg?width=550&amp;height=366&amp;v=1d9579295a26570">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/upinbb0m/screen-cofco-1920x1080_01.jpg?width=768&amp;height=511&amp;v=1d9579295a26570" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>Action for Sustainable Agriculture: COFCO International publishes its third annual sustainability report</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2020-07-02T00:00:00">2 July 2020</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/action-for-sustainable-agriculture-cofco-international-publishes-its-third-annual-sustainability-report/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/fvgmnpsv/cofco_sugar-farm_edv6260-c.jpg?rxy=0.25601880681876515,0.46370235934664245&amp;width=400&amp;height=266&amp;v=1d958bd92afd380">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/fvgmnpsv/cofco_sugar-farm_edv6260-c.jpg?rxy=0.25601880681876515,0.46370235934664245&amp;width=550&amp;height=366&amp;v=1d958bd92afd380">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/fvgmnpsv/cofco_sugar-farm_edv6260-c.jpg?rxy=0.25601880681876515,0.46370235934664245&amp;width=768&amp;height=511&amp;v=1d958bd92afd380" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>COFCO International commits to Science-Based Climate Targets</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2023-10-20T00:00:00">20 October 2023</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-commits-to-science-based-climate-targets/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<aside class="mod mod-newsroom mod-newsroom--mini">
<div class="mod__title mod-newsroom__header ">
<h2><span>You might also like</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/whadh0uw/int_edu_day_brazil_woman_110b.jpg?rxy=0.5817608099276077,0&amp;width=400&amp;height=266&amp;v=1d9590794183d80">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/whadh0uw/int_edu_day_brazil_woman_110b.jpg?rxy=0.5817608099276077,0&amp;width=550&amp;height=366&amp;v=1d9590794183d80">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/whadh0uw/int_edu_day_brazil_woman_110b.jpg?rxy=0.5817608099276077,0&amp;width=768&amp;height=511&amp;v=1d9590794183d80" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Careers">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Careers</span>
</a>
</div>
<h3>How a woman in rural Brazil opened the door to a career in agriculture</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2022-01-24T00:00:00">24 January 2022</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/how-a-woman-in-rural-brazil-opened-the-door-to-a-career-in-agriculture/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/cmgburhb/cofco_sorriso__edv7019.jpg?width=400&amp;height=266&amp;v=1d95739918d01b0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/cmgburhb/cofco_sorriso__edv7019.jpg?width=550&amp;height=366&amp;v=1d95739918d01b0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/cmgburhb/cofco_sorriso__edv7019.jpg?width=768&amp;height=511&amp;v=1d95739918d01b0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Products">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Products</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>Soft Commodities Forum members publish first common reports on soy supply chains</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2019-06-06T00:00:00">6 June 2019</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/soft-commodities-forum-members-publish-first-common-reports-on-soy-supply-chains/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/gwojin2g/zhaohui.jpg?width=400&amp;height=266&amp;v=1d9574e977f2ca0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/gwojin2g/zhaohui.jpg?width=550&amp;height=366&amp;v=1d9574e977f2ca0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/gwojin2g/zhaohui.jpg?width=768&amp;height=511&amp;v=1d9574e977f2ca0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO International appoints Zhaohui Da as CFO</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2020-06-24T00:00:00">24 June 2020</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-appoints-zhaohui-da-as-cfo/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<div class="mod mod-share">
<div class="mod__inner">
<p class="mod-share__label"><svg class="mod-share__icon" width="30" height="auto" viewBox="0 0 23 25"><path d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path></svg> Share this page: </p>
<div class="mod-share__links">
<a class="mod-share__link" href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/newsroom/cofco-international-receives-industry-leading-sustainalytics-esg-score/" target="_blank" title="Share this page on Facebook">Facebook</a>
<a class="mod-share__link" href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/newsroom/cofco-international-receives-industry-leading-sustainalytics-esg-score/&amp;text=COFCO%20International%20receives%20industry-leading%20Sustainalytics%20ESG%20score" target="_blank" title="Share this page on X.com">X.com</a>
<a class="mod-share__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/newsroom/cofco-international-receives-industry-leading-sustainalytics-esg-score/" title="COFCO%20International%20receives%20industry-leading%20Sustainalytics%20ESG%20score&quot;" target="_blank">Linkedin</a>
</div>
</div>
</div>
<div class="mod mod-follow">
<div class="mod__inner">
<div class="mod-follow__graphic">
<picture class="mod-follow__image">
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90">
<img loading="lazy" width="600" height="auto" src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90" alt="">
<svg width="0" height="0" viewBox="0 0 1280 717"><defs><clipPath id="pattern-image-small_a"><path fill="none" d="M-.66 4.64h1280V717H-.66z"></path></clipPath></defs><g clip-path="url(#pattern-image-small_a)"><path d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path></g></svg>
</picture>
</div>
<div class="mod-follow__links">
<h2 class="h1">Follow us on</h2>
<ul class="menu menu-follow">
<li>
<a href="https://www.instagram.com/cofcointl/" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 22 22"><path fill-rule="evenodd" d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"></path><path d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"></path></svg>
</span>
<span class="btn-follow__label">Instagram</span>
</a>
</li>
<li>
<a href="https://x.com/COFCOINTL" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 33 33"><path d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"></path></svg>
</span>
<span class="btn-follow__label">X.com</span>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/cofcointernational" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 20 20"><path d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"></path><circle cx="2" cy="2" r="2"></circle></svg>
</span>
<span class="btn-follow__label">LinkedIn</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</main>