<main id="maincontent" class="site__main">
<article class="page page-article" data-panel-content="">
<header class="masthead masthead-article">
<picture>
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=2400&amp;height=625&amp;v=1d958319a9d9280">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=1920&amp;height=500&amp;v=1d958319a9d9280">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=1000&amp;height=260&amp;v=1d958319a9d9280">
<img class="masthead__image" width="700" height="182" src="https://www.cofcointernational.com/media/jkkftmvi/mockup-03_-1920-x-1080-px.png?width=700&amp;height=182&amp;v=1d958319a9d9280" alt="AltText">
</picture>
<svg width="0" height="0" class="masthead__pattern" data-pattern="left-medium" viewBox="0 0 1280 405">

<defs><clipPath id="pattern-header-left-medium_a"><path fill="none" d="M1.29-522.6H1280v402.16H1.29z"></path></clipPath><clipPath id="pattern-header-left-medium_b"><path fill="none" d="M0 0h1280v405H0z"></path></clipPath></defs><g clip-path="url(#pattern-header-left-medium_a)"><path d="M-40.43-17.13C-1.41-5.87 29.4 24.94 40.72 64.03 1.63 52.7-29.17 21.9-40.43-17.13m-1.83-1.83c11.49 42.88 44.82 74.05 84.81 84.82C31.79 25.87.62-7.46-42.26-18.95ZM389.44-24.77c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5C360.86 2.05 347.58 45.7 359.07 88.58c31.39-31.39 41.71-75.84 31.04-115.85ZM188.78-78.54c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5C160.2-51.72 146.92-8.07 158.41 34.81c31.39-31.39 41.71-75.84 31.04-115.85ZM507.78-56.49c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81C580-13.5 548.83-46.83 505.95-58.32Z"></path></g><g clip-path="url(#pattern-header-left-medium_b)"><path d="M19.6 37.87C.24 56.5-27.6 63.96-53.74 57.52-34.32 38.87-6.48 31.41 19.6 37.87m1.65-.44C-7.12 29.83-36 38.62-55.4 57.97c26.47 7.06 55.88.23 76.65-20.54ZM187.93 206.19c-19.42 18.65-47.26 26.11-73.34 19.65 19.36-18.64 47.2-26.1 73.34-19.65m1.65-.44c-26.47-7.06-55.88-.23-76.65 20.54 28.37 7.6 57.25-1.19 76.65-20.54Z"></path><path d="M209.67 130.76c6.46 26.08-1 53.92-19.65 73.34-6.44-26.14 1.02-53.98 19.65-73.34m.44-1.65c-20.77 20.77-27.6 50.17-20.54 76.65 19.35-19.4 28.14-48.28 20.54-76.65ZM190.79 206.96c25.86 7.49 46.24 27.87 53.69 53.69-25.82-7.45-46.2-27.83-53.69-53.69m-1.21-1.21c7.12 26.46 27.74 48.51 56.11 56.11-7.6-28.37-29.65-48.99-56.11-56.11ZM155.21 74.2c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69M154 72.99c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11ZM285.11 109.01c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54ZM58.03 171.39c25.86 7.49 46.24 27.87 53.69 53.69-25.82-7.45-46.2-27.83-53.69-53.69m-1.21-1.21c7.12 26.46 27.74 48.51 56.11 56.11-7.6-28.37-29.65-48.99-56.11-56.11Z"></path><path d="M76.92 95.18c6.46 26.08-1 53.92-19.65 73.34-6.44-26.14 1.02-53.98 19.65-73.34m.44-1.65c-20.77 20.77-27.6 50.17-20.54 76.65 19.35-19.4 28.14-48.28 20.54-76.65ZM55.17 170.62c-19.42 18.65-47.26 26.11-73.34 19.65 19.36-18.64 47.2-26.1 73.34-19.65m1.65-.44c-26.47-7.06-55.88-.23-76.65 20.54 28.37 7.6 57.25-1.19 76.65-20.54Z"></path><path d="M152.36 73.44c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54ZM22.46 38.63c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11Z"></path><path d="M174.1-2c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65C155.19 15.75 146.4 44.63 154 73c20.77-20.77 27.6-50.17 20.54-76.65ZM41.35-37.57c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65C22.44-19.83 13.65 9.06 21.25 37.43c20.77-20.77 27.6-50.17 20.54-76.65ZM112.49 227.94c6.46 26.08-1 53.92-19.65 73.34-6.44-26.14 1.02-53.98 19.65-73.34m.44-1.65c-20.77 20.77-27.6 50.17-20.54 76.65 19.35-19.4 28.14-48.28 20.54-76.65ZM553.48 180.92c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11ZM475.18 201.9c6.46 26.08-1 53.92-19.65 73.34-6.44-26.14 1.02-53.98 19.65-73.34m.44-1.65c-20.77 20.77-27.6 50.17-20.54 76.65 19.35-19.4 28.14-48.28 20.54-76.65Z"></path><path d="M550.62 180.15c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54Z"></path><path d="M420.72 145.35c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11ZM342.43 166.33c6.46 26.08-1 53.92-19.65 73.34-6.44-26.14 1.02-53.98 19.65-73.34m.44-1.65c-20.77 20.77-27.6 50.17-20.54 76.65 19.35-19.4 28.14-48.28 20.54-76.65ZM287.97 109.78c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11Z"></path><path d="M417.87 144.58c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54ZM647.81 82.97c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54Z"></path><path d="M572.37 104.72c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65ZM517.91 48.16c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11ZM382.3 11.83c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54ZM306.86 33.58c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65ZM252.4-22.98c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11Z"></path><path d="M385.15 12.59c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11ZM439.61 69.15c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65Z"></path><path d="M515.05 47.4c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54Z"></path><path d="M536.79-28.04c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65ZM404.04-63.61c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65Z"></path></g></svg>
</header>
<div class="mod mod-breadcrumbs mod--indented">
<div class="mod__inner">
<ul class="breadcrumbs">
<li class="breadcrumbs__crumb">
<a href="/newsroom/" class="">
<span>Back to Newsroom</span>
</a>
</li>
</ul>
</div>
</div>
<div class="mod mod--indented mod-richtext mod-richtext--intro">
<div class="mod__inner ">
<div class="meta">
<div class="meta__col">
<span class="meta__label">Date:</span>
<time datetime="2022-05-23T00:00:00">23 May 2022</time>
<span class="meta__divide">&nbsp;|&nbsp;</span>
<span class="meta__label">Category:</span>
<span>News</span>
</div>
<div class="meta__col">
<span class="meta__label meta__label--tags">Related Tags:</span>
<a href="/newsroom/?topic=Sustainability" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a href="/newsroom/?topic=Corporate" class="btn btn-tax">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
</div>
</div>
<div class="mod__inner">
<div class="editor">
<h1>COFCO International publishes its 2021 Sustainability Report</h1>
<p class="intro">COFCO International today publishes its 2021 Sustainability Report, Transforming Agriculture in a Changing World, disclosing its progress on the social and environmental priorities of its sustainability strategy, Meeting Tomorrow’s Demand. In particular, the report covers the company’s efforts to act on the issues where it stands to make the greatest difference – partnering towards sustainable agriculture, promoting human rights, ensuring the safety of people in its business and supply chains, and improving lives in local communities.</p>
</div>
</div>
</div>
<div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<p>In the wake of the global pandemic, COFCO International continued to apply its significant supply chain and logistical expertise to maintaining food security and supplying key markets, overcoming disruption while consistently building resilience and advancing its sustainability journey.</p>
<p>Importantly, the company expanded its focus on protecting the climate and biodiversity and conserving natural resources, including through decisive business and industry commitments. It has committed to achieve a deforestation and conversion-free soy supply chain by 2030 in sensitive regions of Latin America, through farm-level traceability and monitoring of all purchases. And it has joined a COP 26 industry pledge to reduce supply chain carbon emissions in line with efforts to keep global warming below 1.5 degrees, with a major focus on eliminating deforestation.</p>
<p>The company’s 2021 Sustainability Report explores its progress and achievements while recognising opportunities for improvement and highlighting the action still needed to achieve sustainable agriculture and transform the global food system. It also explores the importance of collaboration in raising standards and building a greater understanding of issues from deforestation to global water risks and carbon emissions from coffee farming.</p>
<p>Progress is reported against the five core areas of its sustainability strategy: connecting supply and demand, taking care of its people, managing its environmental impact, building strong communities and upholding standards.</p>
<h4>2021 highlights include:</h4>
<ul>
<li>Through the Soft Commodities Forum, all direct soy suppliers traced within 61 municipalities in the Cerrado.</li>
<li>100% of direct soy suppliers in Matopiba assessed for social and environmental risks.</li>
<li>$3.9M revenue generated from 670,000+ decarbonisation credits (CBios) from RenovaBio programme.</li>
<li>Developed a Diversity Committee in Brazil where the company employs over 7,000 staff, offering training to over 70% of its managerial positions.</li>
<li>78% increase in EHS training for contractors.</li>
<li>5.4% decrease on water intensity of its industrial operations; definitive action to address the findings of its global water risk assessment.</li>
<li>5.5% reduction in absolute GHG emissions including through 3.4% decrease in the energy intensity of its industrial operations.</li>
<li>Participation in the shipping industry’s Getting to Zero Coalition for cleaner fuels and the Sea Cargo Charter for standardised emissions reporting.</li>
<li>36,000+ people benefited from its community programmes, reaching 20% increase compared to 2020.</li>
<li>All traceability targets met under its original $2.3 billion sustainability-linked loan, and a new $700 million loan to further advance its sustainable soy and palm oil sourcing activities.</li>
</ul>
<p>“As we emerge from the pandemic and navigate its impact on global health and economics, we remain steadfast in our commitment to feed the world responsibly and help transform the global food system,” says David Dong, CEO of COFCO International. “Now, more than ever, we recognise the importance of a healthy climate and ecosystem for a thriving agricultural sector. We have leveraged our flexibility and innovative capacity to build resilience in uncertain times, while prioritising the safety of our people and the continuity of our supply chains.”</p>
<p>“In 2021, we expanded the focus and ambition of sustainability goals and increasingly looked beyond our business to act on issues such as carbon reduction within our supply chains. Our own Deforestation and Conversion-Free commitment will see us making further progress towards sustainable commodities, as we continue to take a strategic, risk-based approach to protecting nature and the environment and upholding human rights.”</p>
<p>“I would like to thank all our employees for their continued support, courage and determination in 2021,” Mr. Dong concludes. “I am optimistic for the future, and look forward to working with our industry to build momentum and accelerate the transformation of our food and agricultural system.”</p>
<p>The COFCO International 2021 Sustainability Report has been prepared according to the Global Reporting Initiative (GRI) standards and is available on the website: <a href="https://www.cofcointernational.com/sustainability/" title="Sustainability">www.cofcointernational.com/sustainability/</a>. It also provides a summary of the company’s contribution towards specific targets of the United Nations 2030 Sustainable Development Goals, and outlines how its sustainability efforts support the International Finance Corporation’s Environmental and Social Performance Standards.</p>
</div>
</div>
</div>
<div class="mod mod-downloads">
<ul class="mod__inner mod-downloads__inner">
<li class="mod-downloads__item">
<a class="btn btn-download" href="https://www.cofcointernational.com/media/vqtfz2ir/cofco-sr21.pdf" download="">
<span class="btn-download__label">
<span class="btn-download__name">2021 Sustainability Report</span>
<span class="btn-download__data">(11.56MB PDF)</span>
</span>
<svg class="btn-download__icon" width="0" height="0" viewBox="0 0 14 19"><path d="m8.04 15.21 4.66-4.66 1.41 1.41-7.07 7.07-7.08-7.07 1.41-1.41 4.66 4.66V-.04h2V15.2Z"></path></svg>
</a>
</li>
</ul>
</div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<h4>About COFCO International</h4>
<p>With 11,500 people in 37 countries, COFCO International is the overseas agriculture business platform for COFCO Corporation, China's largest food and agriculture company. COFCO International is focused on being a leader in the global grains, oilseeds, sugar, coffee and cotton supply chains, with assets across the Americas, Europe and Asia-Pacific. The company trades with over 50 nations, while providing farmers unique direct access to the growing Chinese market. In 2021, COFCO International traded over 133 million tonnes of commodities, achieving revenues of $48 billion. The company is accelerating its growth to create a world-class integrated global agriculture supply chain, anchored in China and competing globally.</p>
</div>
</div>
</div>
</div>
</article>
<aside class="mod mod-newsroom mod-newsroom--mini" data-bkg="grey">
<div class="mod__title mod-newsroom__header ">
<h2><span>Related items</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/qiscgtom/statistics_cofco_soy-bean-harvest_edv4711-c.jpg?rxy=0.5079365236257711,0.6031906101454055&amp;width=400&amp;height=266&amp;v=1d992e91c29b170">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/qiscgtom/statistics_cofco_soy-bean-harvest_edv4711-c.jpg?rxy=0.5079365236257711,0.6031906101454055&amp;width=550&amp;height=366&amp;v=1d992e91c29b170">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/qiscgtom/statistics_cofco_soy-bean-harvest_edv4711-c.jpg?rxy=0.5079365236257711,0.6031906101454055&amp;width=768&amp;height=511&amp;v=1d992e91c29b170" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Products">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Products</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>Soft Commodities Forum members commit to common framework supporting transparent and traceable soy supply chains in Brazil</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2019-02-02T00:00:00">2 February 2019</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/soft-commodities-forum-members-commit-to-common-framework-supporting-transparent-and-traceable-soy-supply-chains-in-brazil/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/kkyderhm/ceoactionforimpactvideo.png?rxy=0.48978752457710434,0.11462489916160072&amp;width=400&amp;height=266&amp;v=1d95919d0a2e090">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/kkyderhm/ceoactionforimpactvideo.png?rxy=0.48978752457710434,0.11462489916160072&amp;width=550&amp;height=366&amp;v=1d95919d0a2e090">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/kkyderhm/ceoactionforimpactvideo.png?rxy=0.48978752457710434,0.11462489916160072&amp;width=768&amp;height=511&amp;v=1d95919d0a2e090" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>How our Sustainability Ambassadors are taking action for impact</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2021-09-28T00:00:00">28 September 2021</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/how-our-sustainability-ambassadors-are-taking-action-for-impact/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/ecrhzwoh/field-sunny-day.jpg?width=400&amp;height=266&amp;v=1d958c75d05aed0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/ecrhzwoh/field-sunny-day.jpg?width=550&amp;height=366&amp;v=1d958c75d05aed0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/ecrhzwoh/field-sunny-day.jpg?width=768&amp;height=511&amp;v=1d958c75d05aed0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
</div>
<h3>COFCO International links sustainability performance to new USD 2.1 billion credit facility</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2019-07-16T00:00:00">16 July 2019</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-links-sustainability-performance-to-new-usd-21-billion-credit-facility/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<aside class="mod mod-newsroom mod-newsroom--mini">
<div class="mod__title mod-newsroom__header ">
<h2><span>You might also like</span></h2>
</div>
<div class="mod__inner mod-newsroom__articles ">
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=400&amp;height=266&amp;v=1d9a91b122a1820">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=550&amp;height=366&amp;v=1d9a91b122a1820">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/bsxfonwr/cofco_sr_cover_2.png?width=768&amp;height=511&amp;v=1d9a91b122a1820" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Corporate">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Corporate</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
</div>
<h3>COFCO International publishes its 2022 Sustainability Report</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">News</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2023-06-27T00:00:00">27 June 2023</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/cofco-international-publishes-its-2022-sustainability-report/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/mc0ntsab/holding-soy.jpeg?rxy=0.16298167567387367,0.665910649295849&amp;width=400&amp;height=266&amp;v=1d958d69bc07fb0">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/mc0ntsab/holding-soy.jpeg?rxy=0.16298167567387367,0.665910649295849&amp;width=550&amp;height=366&amp;v=1d958d69bc07fb0">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/mc0ntsab/holding-soy.jpeg?rxy=0.16298167567387367,0.665910649295849&amp;width=768&amp;height=511&amp;v=1d958d69bc07fb0" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Sustainability">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Sustainability</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Supply Chain">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Supply Chain</span>
</a>
</div>
<h3>The importance of tracing the supply chain</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2022-06-03T00:00:00">3 June 2022</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/the-importance-of-tracing-the-supply-chain/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
<article class="card card--newsroom">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/3ukm0vyk/stories_svetlana_02.jpg?width=400&amp;height=266&amp;v=1d95747abe8de40">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/3ukm0vyk/stories_svetlana_02.jpg?width=550&amp;height=366&amp;v=1d95747abe8de40">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/3ukm0vyk/stories_svetlana_02.jpg?width=768&amp;height=511&amp;v=1d95747abe8de40" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<div class="card__tags">
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Careers">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Careers</span>
</a>
<a class="btn btn-tax" href="/newsroom/?page=1&amp;topic=Equality">
<svg width="0" height="0" viewBox="0 0 20.84 18.3"><path d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"></path></svg>
<span>Equality</span>
</a>
</div>
<h3>Humans are complex, but key to zero accidents</h3>
</header>
<footer class="card__footer">
<div class="card__meta">
<span class="card__meta__cat">Story</span>
<span>&nbsp;|&nbsp;</span>
<time class="card__date" datetime="2019-11-27T00:00:00">27 November 2019</time>
</div>
<a class="card__cta btn btn-txtcta" href="/newsroom/humans-are-complex-but-key-to-zero-accidents/" target="_self" title="Read more:">
Read more
</a>
</footer>
</div>
</article>
</div>
</aside>
<div class="mod mod-share">
<div class="mod__inner">
<p class="mod-share__label"><svg class="mod-share__icon" width="30" height="auto" viewBox="0 0 23 25"><path d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path></svg> Share this page: </p>
<div class="mod-share__links">
<a class="mod-share__link" href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/newsroom/cofco-international-publishes-its-2021-sustainability-report/" target="_blank" title="Share this page on Facebook">Facebook</a>
<a class="mod-share__link" href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/newsroom/cofco-international-publishes-its-2021-sustainability-report/&amp;text=COFCO%20International%20publishes%20its%202021%20Sustainability%20Report" target="_blank" title="Share this page on X.com">X.com</a>
<a class="mod-share__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/newsroom/cofco-international-publishes-its-2021-sustainability-report/" title="COFCO%20International%20publishes%20its%202021%20Sustainability%20Report&quot;" target="_blank">Linkedin</a>
</div>
</div>
</div>
<div class="mod mod-follow">
<div class="mod__inner">
<div class="mod-follow__graphic">
<picture class="mod-follow__image">
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90">
<img loading="lazy" width="600" height="auto" src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90" alt="">
<svg width="0" height="0" viewBox="0 0 1280 717"><defs><clipPath id="pattern-image-small_a"><path fill="none" d="M-.66 4.64h1280V717H-.66z"></path></clipPath></defs><g clip-path="url(#pattern-image-small_a)"><path d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"></path><path d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"></path><path d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path><path d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"></path></g></svg>
</picture>
</div>
<div class="mod-follow__links">
<h2 class="h1">Follow us on</h2>
<ul class="menu menu-follow">
<li>
<a href="https://www.instagram.com/cofcointl/" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 22 22"><path fill-rule="evenodd" d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"></path><path d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"></path></svg>
</span>
<span class="btn-follow__label">Instagram</span>
</a>
</li>
<li>
<a href="https://x.com/COFCOINTL" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 33 33"><path d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"></path></svg>
</span>
<span class="btn-follow__label">X.com</span>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/cofcointernational" target="_blank" rel="noopener" class="btn btn-follow">
<span class="btn-follow__icon">
<svg width="30" height="auto" viewBox="0 0 20 20"><path d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"></path><circle cx="2" cy="2" r="2"></circle></svg>
</span>
<span class="btn-follow__label">LinkedIn</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</main>