<main id="maincontent" class="site__main">
  <article class="page page-article" data-panel-content="">
    <header class="masthead masthead-article">
      <picture>
        <source
          media="(min-width: 1920px)"
          srcset="
            https://www.cofcointernational.com/media/amipkjhx/img_1827.jpeg?rxy=0.4967498431081698,0.36101203744984395&amp;width=2400&amp;height=625&amp;v=1da19383a6f0bf0
          "
        />
        <source
          media="(min-width: 1000px)"
          srcset="
            https://www.cofcointernational.com/media/amipkjhx/img_1827.jpeg?rxy=0.4967498431081698,0.36101203744984395&amp;width=1920&amp;height=500&amp;v=1da19383a6f0bf0
          "
        />
        <source
          media="(min-width: 700px)"
          srcset="
            https://www.cofcointernational.com/media/amipkjhx/img_1827.jpeg?rxy=0.4967498431081698,0.36101203744984395&amp;width=1000&amp;height=260&amp;v=1da19383a6f0bf0
          "
        />
        <img
          class="masthead__image"
          width="700"
          height="182"
          src="https://www.cofcointernational.com/media/amipkjhx/img_1827.jpeg?rxy=0.4967498431081698,0.36101203744984395&amp;width=700&amp;height=182&amp;v=1da19383a6f0bf0"
          alt="AltText"
          data-uw-rm-alt-original="AltText"
          data-uw-rm-alt="BE"
        />
      </picture>
      <svg
        width="0"
        height="0"
        class="masthead__pattern"
        data-pattern="right-large"
        viewBox="0 0 1280 405"
      >
        <defs>
          <clipPath id="pattern-header-right-large_a">
            <path fill="none" d="M0 477.09h1280v405H0z"></path>
          </clipPath>
          <clipPath id="pattern-header-right-large_b">
            <path fill="none" d="M0 0h1280v405H0z"></path>
          </clipPath>
        </defs>
        <g clip-path="url(#pattern-header-right-large_a)">
          <path
            d="M904.58 372.39c6.76 27.44-1.07 56.67-20.63 77-6.78-27.38 1.05-56.61 20.63-77m.47-1.74c-20.31 20.36-29.54 50.68-21.56 80.46 21.8-21.8 28.97-52.67 21.56-80.46Z"
          ></path>
        </g>
        <g clip-path="url(#pattern-header-right-large_b)">
          <path
            d="M971.79 237.43c-32.67 31.45-79.65 44.04-123.77 33.16 32.77-31.48 79.75-44.06 123.77-33.16m2.78-.75c-47.87-12.83-96.61 2-129.34 34.66 44.67 11.91 94.3.39 129.34-34.66ZM976.61 238.73c43.57 12.57 77.96 46.96 90.61 90.61-43.64-12.64-78.04-47.04-90.61-90.61m-2.04-2.04c12.83 47.87 50.04 82.67 94.69 94.69-12.02-44.65-46.81-81.86-94.69-94.69Z"
          ></path>
          <path
            d="M1068.51 334.16c10.87 44.12-1.72 91.1-33.16 123.77-10.9-44.02 1.69-91 33.16-123.77m.75-2.79c-32.66 32.73-47.49 81.47-34.66 129.34 35.04-35.04 46.57-84.67 34.66-129.34ZM1195.82 297.46c-32.67 31.45-79.65 44.04-123.77 33.16 32.77-31.48 79.75-44.06 123.77-33.16m2.78-.75c-47.87-12.83-96.61 2-129.34 34.66 44.67 11.91 94.3.39 129.34-34.66ZM1200.64 298.75c43.57 12.57 77.96 46.96 90.61 90.61-43.64-12.64-78.04-47.04-90.61-90.61m-2.04-2.04c12.83 47.87 50.04 82.67 94.69 94.69-12.02-44.65-46.81-81.86-94.69-94.69ZM1135.79 73.43c-32.67 31.45-79.65 44.04-123.77 33.16 32.77-31.48 79.75-44.06 123.77-33.16m2.78-.75c-47.87-12.83-96.61 2-129.34 34.66 44.67 11.91 94.3.39 129.34-34.66Z"
          ></path>
          <path
            d="M1008.48 110.13c10.87 44.12-1.72 91.1-33.16 123.77-10.9-44.02 1.69-91 33.16-123.77m.75-2.79c-32.66 32.73-47.49 81.47-34.66 129.34 35.04-35.04 46.57-84.67 34.66-129.34Z"
          ></path>
          <path
            d="M916.58 14.69c43.57 12.57 77.96 46.96 90.61 90.61-43.64-12.64-78.04-47.04-90.61-90.61m-2.04-2.04c12.83 47.87 50.04 82.67 94.69 94.69-12.02-44.65-46.81-81.86-94.69-94.69ZM1140.61 74.72c43.57 12.57 77.96 46.96 90.61 90.61-43.64-12.64-78.04-47.04-90.61-90.61m-2.04-2.04c12.83 47.87 50.04 82.67 94.69 94.69-12.02-44.65-46.81-81.86-94.69-94.69ZM1232.51 170.16c10.87 44.12-1.72 91.1-33.16 123.77-10.9-44.02 1.69-91 33.16-123.77m.75-2.79c-32.66 32.73-47.49 81.47-34.66 129.34 35.04-35.04 46.57-84.67 34.66-129.34ZM1359.82 133.46c-32.67 31.45-79.65 44.04-123.77 33.16 32.77-31.48 79.75-44.06 123.77-33.16m2.78-.75c-47.87-12.83-96.61 2-129.34 34.66 44.67 11.91 94.3.39 129.34-34.66Z"
          ></path>
          <path
            d="M1172.48-53.87c10.87 44.12-1.72 91.1-33.16 123.77-10.9-44.02 1.69-91 33.16-123.77m.75-2.79c-32.66 32.73-47.49 81.47-34.66 129.34 35.04-35.04 46.57-84.67 34.66-129.34Z"
          ></path>
        </g>
      </svg>
    </header>
    <div class="mod mod-breadcrumbs mod--indented">
      <div class="mod__inner">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__crumb">
            <a
              href="/newsroom/"
              class=""
              data-uw-rm-brl="PR"
              data-uw-original-href="/newsroom/"
            >
              <span>Back to Newsroom</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mod mod--indented mod-richtext mod-richtext--intro">
      <div class="mod__inner">
        <div class="meta">
          <div class="meta__col">
            <span class="meta__label">Date:</span>
            <time datetime="2023-11-17T00:00:00">17 November 2023</time>
            <span class="meta__divide">&nbsp;|&nbsp;</span>
            <span class="meta__label">Category:</span>
            <span>News</span>
          </div>
          <div class="meta__col">
            <span class="meta__label meta__label--tags">Related Tags:</span>
            <a
              href="/newsroom/?topic=Corporate"
              class="btn btn-tax"
              data-uw-rm-brl="PR"
              data-uw-original-href="/newsroom/?topic=Corporate"
            >
              <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                <path
                  d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                ></path>
              </svg>
              <span>Corporate</span>
            </a>
          </div>
        </div>
      </div>
      <div class="mod__inner">
        <div class="editor">
          <h1>
            COFCO International wins gold for best corporate website award
          </h1>
          <p class="intro">
            COFCO International's global corporate website has won gold for the
            Best Corporate Website (unlisted) category at the 2023 Corporate
            &amp; Financial Awards in London.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="mod mod--indented mod-richtext">
        <div class="mod__inner">
          <div class="editor">
            <p>
              The Corporate &amp; Financial Awards are organised by&nbsp;<a
                rel="noopener noreferrer"
                href="https://www.communicatemagazine.com/"
                target="_blank"
                data-interception="off"
                aria-label="Communicate Magazine - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://www.communicatemagazine.com/$communicatemagazine"
                data-uw-rm-brl="PR"
                data-uw-original-href="https://www.communicatemagazine.com/"
                ><u>Communicate Magazine</u></a
              >&nbsp;and celebrate excellence in all aspects of communication
              with the investment community and its influencers.
            </p>
            <p>
              COFCO International launched its new corporate website in April to
              better reflect the growing scale of the company, the strategic
              emphasis around building a sustainable business and its
              communications objective of bringing the company's people-focused
              culture and personality to life across its channels.
            </p>
            <p>
              Find the full list of winners
              <a
                rel="noopener"
                href="https://www.communicatemagazine.com/news/2023/corporate-financial-awards-2023-winners-announced/"
                target="_blank"
                aria-label="Find the full list of winners here"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://www.communicatemagazine.com/news/2023/corporate-financial-awards-2023-winners-announced/$here"
                uw-rm-vague-link-id="https://www.communicatemagazine.com/news/2023/corporate-financial-awards-2023-winners-announced/$here"
                data-uw-rm-vglnk=""
                data-uw-rm-brl="PR"
                data-uw-original-href="https://www.communicatemagazine.com/news/2023/corporate-financial-awards-2023-winners-announced/"
                >here</a
              >.&nbsp;
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <aside class="mod mod-newsroom mod-newsroom--mini" data-bkg="grey">
    <div class="mod__title mod-newsroom__header">
      <h2><span>Related items</span></h2>
    </div>
    <div class="mod__inner mod-newsroom__articles">
      <article class="card card--newsroom">
        <picture class="card__image">
          <source
            media="(min-width: 1024px)"
            srcset="
              https://www.cofcointernational.com/media/0g3lnr10/2e6a3369.jpg?width=400&amp;height=266&amp;v=1d957394276bad0
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              https://www.cofcointernational.com/media/0g3lnr10/2e6a3369.jpg?width=550&amp;height=366&amp;v=1d957394276bad0
            "
          />
          <img
            loading="lazy"
            width="768"
            height="511"
            src="https://www.cofcointernational.com/media/0g3lnr10/2e6a3369.jpg?width=768&amp;height=511&amp;v=1d957394276bad0"
            alt="a group of men in suits standing in front of flags"
            data-uw-rm-alt-original=""
            data-uw-rm-alt="BE"
          />
        </picture>
        <div class="card__content">
          <header class="card__header">
            <div class="card__tags">
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Corporate"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Corporate</span>
              </a>
            </div>
            <h3>
              China, Portugal leaders witness signing of cooperation agreement
              for new COFCO International Centre of Excellence in Portugal
            </h3>
          </header>
          <footer class="card__footer">
            <div class="card__meta">
              <span class="card__meta__cat">News</span>
              <span>&nbsp;|&nbsp;</span>
              <time class="card__date" datetime="2018-12-05T00:00:00"
                >5 December 2018</time
              >
            </div>
            <a
              class="card__cta btn btn-txtcta"
              href="/newsroom/china-portugal-leaders-witness-signing-of-cooperation-agreement-for-new-cofco-international-centre-of-excellence-in-portugal/"
              target="_self"
              title="Read more:"
              aria-label="5 December 2018 Read more"
              uw-rm-vague-link-id="/newsroom/china-portugal-leaders-witness-signing-of-cooperation-agreement-for-new-cofco-international-centre-of-excellence-in-portugal/$read more"
              data-uw-rm-vglnk=""
              data-uw-rm-brl="PR"
              data-uw-original-href="/newsroom/china-portugal-leaders-witness-signing-of-cooperation-agreement-for-new-cofco-international-centre-of-excellence-in-portugal/"
            >
              Read more
            </a>
          </footer>
        </div>
      </article>
      <article class="card card--newsroom">
        <picture class="card__image">
          <source
            media="(min-width: 1024px)"
            srcset="
              https://www.cofcointernational.com/media/rploqwlh/water-cycle-brazil_18h_cofco_lincoln__edv1256.jpg?width=400&amp;height=266&amp;v=1d9582d9d239df0
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              https://www.cofcointernational.com/media/rploqwlh/water-cycle-brazil_18h_cofco_lincoln__edv1256.jpg?width=550&amp;height=366&amp;v=1d9582d9d239df0
            "
          />
          <img
            loading="lazy"
            width="768"
            height="511"
            src="https://www.cofcointernational.com/media/rploqwlh/water-cycle-brazil_18h_cofco_lincoln__edv1256.jpg?width=768&amp;height=511&amp;v=1d9582d9d239df0"
            alt="close-up of a plant"
            data-uw-rm-alt-original=""
            data-uw-rm-alt="BE"
          />
        </picture>
        <div class="card__content">
          <header class="card__header">
            <div class="card__tags">
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Products"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Products"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Products</span>
              </a>
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Sustainability"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Sustainability"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Sustainability</span>
              </a>
            </div>
            <h3>
              COFCO and World Bank’s IFC partner for more sustainable soy in
              Brazil
            </h3>
          </header>
          <footer class="card__footer">
            <div class="card__meta">
              <span class="card__meta__cat">News</span>
              <span>&nbsp;|&nbsp;</span>
              <time class="card__date" datetime="2020-07-31T00:00:00"
                >31 July 2020</time
              >
            </div>
            <a
              class="card__cta btn btn-txtcta"
              href="/newsroom/cofco-and-world-bank-s-ifc-partner-for-more-sustainable-soy-in-brazil/"
              target="_self"
              title="Read more:"
              aria-label="31 July 2020 Read more"
              uw-rm-vague-link-id="/newsroom/cofco-and-world-bank-s-ifc-partner-for-more-sustainable-soy-in-brazil/$read more"
              data-uw-rm-vglnk=""
              data-uw-rm-brl="PR"
              data-uw-original-href="/newsroom/cofco-and-world-bank-s-ifc-partner-for-more-sustainable-soy-in-brazil/"
            >
              Read more
            </a>
          </footer>
        </div>
      </article>
      <article class="card card--newsroom">
        <picture class="card__image">
          <source
            media="(min-width: 1024px)"
            srcset="
              https://www.cofcointernational.com/media/o15foc4e/machine-pouring-seeds-in-boat.jpg?width=400&amp;height=266&amp;v=1d957476f5ef950
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              https://www.cofcointernational.com/media/o15foc4e/machine-pouring-seeds-in-boat.jpg?width=550&amp;height=366&amp;v=1d957476f5ef950
            "
          />
          <img
            loading="lazy"
            width="768"
            height="511"
            src="https://www.cofcointernational.com/media/o15foc4e/machine-pouring-seeds-in-boat.jpg?width=768&amp;height=511&amp;v=1d957476f5ef950"
            alt=""
          />
        </picture>
        <div class="card__content">
          <header class="card__header">
            <div class="card__tags">
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Partners"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Partners"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Partners</span>
              </a>
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Corporate"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Corporate</span>
              </a>
            </div>
            <h3>
              COFCO International Joins Initiative to Modernise Global
              Agricultural Commodity Trade Operations
            </h3>
          </header>
          <footer class="card__footer">
            <div class="card__meta">
              <span class="card__meta__cat">News</span>
              <span>&nbsp;|&nbsp;</span>
              <time class="card__date" datetime="2018-12-20T00:00:00"
                >20 December 2018</time
              >
            </div>
            <a
              class="card__cta btn btn-txtcta"
              href="/newsroom/cofco-international-joins-initiative-to-modernise-global-agricultural-commodity-trade-operations/"
              target="_self"
              title="Read more:"
              aria-label="20 December 2018 Read more"
              uw-rm-vague-link-id="/newsroom/cofco-international-joins-initiative-to-modernise-global-agricultural-commodity-trade-operations/$read more"
              data-uw-rm-vglnk=""
              data-uw-rm-brl="PR"
              data-uw-original-href="/newsroom/cofco-international-joins-initiative-to-modernise-global-agricultural-commodity-trade-operations/"
            >
              Read more
            </a>
          </footer>
        </div>
      </article>
    </div>
  </aside>
  <aside class="mod mod-newsroom mod-newsroom--mini">
    <div class="mod__title mod-newsroom__header">
      <h2><span>You might also like</span></h2>
    </div>
    <div class="mod__inner mod-newsroom__articles">
      <article class="card card--newsroom">
        <picture class="card__image">
          <source
            media="(min-width: 1024px)"
            srcset="
              https://www.cofcointernational.com/media/yc0d11kl/office-cofco-logo-in-backgound.jpg?width=400&amp;height=266&amp;v=1d957477de7ad50
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              https://www.cofcointernational.com/media/yc0d11kl/office-cofco-logo-in-backgound.jpg?width=550&amp;height=366&amp;v=1d957477de7ad50
            "
          />
          <img
            loading="lazy"
            width="768"
            height="511"
            src="https://www.cofcointernational.com/media/yc0d11kl/office-cofco-logo-in-backgound.jpg?width=768&amp;height=511&amp;v=1d957477de7ad50"
            alt=""
          />
        </picture>
        <div class="card__content">
          <header class="card__header">
            <div class="card__tags">
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Products"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Products"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Products</span>
              </a>
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Corporate"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Corporate</span>
              </a>
            </div>
            <h3>COFCO International completes seeds divestment</h3>
          </header>
          <footer class="card__footer">
            <div class="card__meta">
              <span class="card__meta__cat">News</span>
              <span>&nbsp;|&nbsp;</span>
              <time class="card__date" datetime="2018-02-07T00:00:00"
                >7 February 2018</time
              >
            </div>
            <a
              class="card__cta btn btn-txtcta"
              href="/newsroom/cofco-international-completes-seeds-divestment/"
              target="_self"
              title="Read more:"
              aria-label="7 February 2018 Read more"
              uw-rm-vague-link-id="/newsroom/cofco-international-completes-seeds-divestment/$read more"
              data-uw-rm-vglnk=""
              data-uw-rm-brl="PR"
              data-uw-original-href="/newsroom/cofco-international-completes-seeds-divestment/"
            >
              Read more
            </a>
          </footer>
        </div>
      </article>
      <article class="card card--newsroom">
        <picture class="card__image">
          <source
            media="(min-width: 1024px)"
            srcset="
              https://www.cofcointernational.com/media/uoqae5c1/speech.jpg?width=400&amp;height=266&amp;v=1d95747a9ab2340
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              https://www.cofcointernational.com/media/uoqae5c1/speech.jpg?width=550&amp;height=366&amp;v=1d95747a9ab2340
            "
          />
          <img
            loading="lazy"
            width="768"
            height="511"
            src="https://www.cofcointernational.com/media/uoqae5c1/speech.jpg?width=768&amp;height=511&amp;v=1d95747a9ab2340"
            alt=""
          />
        </picture>
        <div class="card__content">
          <header class="card__header">
            <div class="card__tags">
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Corporate"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Corporate</span>
              </a>
            </div>
            <h3>CEO Keynote Speech at FT Commodities Global Summit 2018</h3>
          </header>
          <footer class="card__footer">
            <div class="card__meta">
              <span class="card__meta__cat">News</span>
              <span>&nbsp;|&nbsp;</span>
              <time class="card__date" datetime="2018-03-21T00:00:00"
                >21 March 2018</time
              >
            </div>
            <a
              class="card__cta btn btn-txtcta"
              href="/newsroom/ceo-keynote-speech-at-ft-commodities-global-summit-2018/"
              target="_self"
              title="Read more:"
              aria-label="21 March 2018 Read more"
              uw-rm-vague-link-id="/newsroom/ceo-keynote-speech-at-ft-commodities-global-summit-2018/$read more"
              data-uw-rm-vglnk=""
              data-uw-rm-brl="PR"
              data-uw-original-href="/newsroom/ceo-keynote-speech-at-ft-commodities-global-summit-2018/"
            >
              Read more
            </a>
          </footer>
        </div>
      </article>
      <article class="card card--newsroom">
        <picture class="card__image">
          <source
            media="(min-width: 1024px)"
            srcset="
              https://www.cofcointernational.com/media/ecrhzwoh/field-sunny-day.jpg?width=400&amp;height=266&amp;v=1d958c75d05aed0
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              https://www.cofcointernational.com/media/ecrhzwoh/field-sunny-day.jpg?width=550&amp;height=366&amp;v=1d958c75d05aed0
            "
          />
          <img
            loading="lazy"
            width="768"
            height="511"
            src="https://www.cofcointernational.com/media/ecrhzwoh/field-sunny-day.jpg?width=768&amp;height=511&amp;v=1d958c75d05aed0"
            alt=""
          />
        </picture>
        <div class="card__content">
          <header class="card__header">
            <div class="card__tags">
              <a
                class="btn btn-tax"
                href="/newsroom/?page=1&amp;topic=Corporate"
                data-uw-rm-brl="PR"
                data-uw-original-href="/newsroom/?page=1&amp;topic=Corporate"
              >
                <svg width="0" height="0" viewBox="0 0 20.84 18.3">
                  <path
                    d="m14.2.99-9.02.94-3.71 8.24 5.32 7.31 9.03-.94 3.7-8.24L14.2.99z"
                  ></path>
                </svg>
                <span>Corporate</span>
              </a>
            </div>
            <h3>COFCO International appoints Jing Wu as new CFO</h3>
          </header>
          <footer class="card__footer">
            <div class="card__meta">
              <span class="card__meta__cat">News</span>
              <span>&nbsp;|&nbsp;</span>
              <time class="card__date" datetime="2017-09-27T00:00:00"
                >27 September 2017</time
              >
            </div>
            <a
              class="card__cta btn btn-txtcta"
              href="/newsroom/cofco-international-appoints-jing-wu-as-new-cfo/"
              target="_self"
              title="Read more:"
              aria-label="27 September 2017 Read more"
              uw-rm-vague-link-id="/newsroom/cofco-international-appoints-jing-wu-as-new-cfo/$read more"
              data-uw-rm-vglnk=""
              data-uw-rm-brl="PR"
              data-uw-original-href="/newsroom/cofco-international-appoints-jing-wu-as-new-cfo/"
            >
              Read more
            </a>
          </footer>
        </div>
      </article>
    </div>
  </aside>
  <div class="mod mod-share">
    <div class="mod__inner">
      <p class="mod-share__label">
        <svg
          class="mod-share__icon"
          width="30"
          height="auto"
          viewBox="0 0 23 25"
        >
          <path
            d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
          ></path>
        </svg>
        Share this page:
      </p>
      <div class="mod-share__links">
        <a
          class="mod-share__link"
          href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/"
          target="_blank"
          title="Share this page on Facebook"
          aria-label="Facebook - open in a new tab"
          data-uw-rm-ext-link=""
          uw-rm-external-link-id="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/$facebook"
          data-uw-rm-brl="PR"
          data-uw-original-href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/"
          >Facebook</a
        >
        <a
          class="mod-share__link"
          href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/&amp;text=COFCO%20International%20wins%20gold%20for%20best%20corporate%20website%20award"
          target="_blank"
          title="Share this page on X.com"
          aria-label="X.com - open in a new tab"
          data-uw-rm-ext-link=""
          uw-rm-external-link-id="https://x.com/intent/tweet?url=https://www.cofcointernational.com/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/&amp;text=cofco%20international%20wins%20gold%20for%20best%20corporate%20website%20award$x.com"
          data-uw-rm-brl="PR"
          data-uw-original-href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/&amp;text=COFCO%20International%20wins%20gold%20for%20best%20corporate%20website%20award"
          >X.com</a
        >
        <a
          class="mod-share__link"
          href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/"
          title='COFCO%20International%20wins%20gold%20for%20best%20corporate%20website%20award"'
          target="_blank"
          aria-label="Linkedin - open in a new tab"
          data-uw-rm-ext-link=""
          uw-rm-external-link-id="https://www.linkedin.com/sharearticle?mini=true&amp;url=https://www.cofcointernational.com/newsroom/cofco-international-wins-gold-for-best-corporate-website-award/$linkedin"
          >Linkedin</a
        >
      </div>
    </div>
  </div>
  <div class="mod mod-follow">
    <div class="mod__inner">
      <div class="mod-follow__graphic">
        <picture class="mod-follow__image">
          <source
            media="(min-width: 1920px)"
            srcset="
              https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90
            "
          />
          <source
            media="(min-width: 1000px)"
            srcset="
              https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90
            "
          />
          <img
            loading="lazy"
            width="600"
            height="auto"
            src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90"
            alt=""
          />
          <svg width="0" height="0" viewBox="0 0 1280 717">
            <defs>
              <clipPath id="pattern-image-small_a">
                <path fill="none" d="M-.66 4.64h1280V717H-.66z"></path>
              </clipPath>
            </defs>
            <g clip-path="url(#pattern-image-small_a)">
              <path
                d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
              ></path>
              <path
                d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
              ></path>
              <path
                d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
              ></path>
              <path
                d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
              ></path>
              <path
                d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
              ></path>
              <path
                d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
              ></path>
              <path
                d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
              ></path>
              <path
                d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
              ></path>
              <path
                d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
              ></path>
              <path
                d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
              ></path>
              <path
                d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
              ></path>
              <path
                d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
              ></path>
            </g>
          </svg>
        </picture>
      </div>
      <div class="mod-follow__links">
        <h2 class="h1">Follow us on</h2>
        <ul class="menu menu-follow">
          <li>
            <a
              href="https://www.instagram.com/cofcointl/"
              target="_blank"
              rel="noopener"
              class="btn btn-follow"
              aria-label="Instagram - open in a new tab"
              data-uw-rm-ext-link=""
              uw-rm-external-link-id="https://www.instagram.com/cofcointl/$instagram"
              data-uw-rm-brl="PR"
              data-uw-original-href="https://www.instagram.com/cofcointl/"
            >
              <span class="btn-follow__icon">
                <svg width="30" height="auto" viewBox="0 0 22 22">
                  <path
                    fill-rule="evenodd"
                    d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"
                  ></path>
                  <path
                    d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"
                  ></path>
                </svg>
              </span>
              <span class="btn-follow__label">Instagram</span>
            </a>
          </li>
          <li>
            <a
              href="https://x.com/COFCOINTL"
              target="_blank"
              rel="noopener"
              class="btn btn-follow"
              aria-label="X.com - open in a new tab"
              data-uw-rm-ext-link=""
              uw-rm-external-link-id="https://x.com/cofcointl$x.com"
              data-uw-rm-brl="PR"
              data-uw-original-href="https://x.com/COFCOINTL"
            >
              <span class="btn-follow__icon">
                <svg width="30" height="auto" viewBox="0 0 33 33">
                  <path
                    d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"
                  ></path>
                </svg>
              </span>
              <span class="btn-follow__label">X.com</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/cofcointernational"
              target="_blank"
              rel="noopener"
              class="btn btn-follow"
              aria-label="LinkedIn - open in a new tab"
              data-uw-rm-ext-link=""
              uw-rm-external-link-id="https://www.linkedin.com/company/cofcointernational$linkedin"
            >
              <span class="btn-follow__icon">
                <svg width="30" height="auto" viewBox="0 0 20 20">
                  <path
                    d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"
                  ></path>
                  <circle cx="2" cy="2" r="2"></circle>
                </svg>
              </span>
              <span class="btn-follow__label">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
