<main id="maincontent" class="site__main">
  <article class="page">
    <iframe
      id="my_iframe"
      src="<%- api %><%- path %>"
      title="<%- title %>"
      allowtransparency="true"
      style="width: 100%; border: none; min-height: calc(100vh - 120px)"
    ></iframe>
  </article>
</main>
