<main id="maincontent" class="site__main">
  <article class="page">
    <header class="masthead masthead-page">
      <picture>
        <source
          media="(min-width: 1920px)"
          srcset="
            https://www.cofcointernational.com/media/cddhzg25/sunflowers.jpg?width=2400&amp;height=625&amp;v=1d958c871822b80
          "
        />
        <source
          media="(min-width: 1000px)"
          srcset="
            https://www.cofcointernational.com/media/cddhzg25/sunflowers.jpg?width=1920&amp;height=500&amp;v=1d958c871822b80
          "
        />
        <source
          media="(min-width: 700px)"
          srcset="
            https://www.cofcointernational.com/media/cddhzg25/sunflowers.jpg?width=1000&amp;height=260&amp;v=1d958c871822b80
          "
        />
        <img
          class="masthead__image"
          width="700"
          height="182"
          src="https://www.cofcointernational.com/media/cddhzg25/sunflowers.jpg?width=700&amp;height=182&amp;v=1d958c871822b80"
          alt="AltText"
          data-uw-rm-alt-original="AltText"
          data-uw-rm-alt="ALT"
        />
      </picture>
      <svg
        width="0"
        height="0"
        class="masthead__pattern"
        data-pattern="right-small"
        viewBox="0 0 1280 405"
      >
        <defs>
          <clipPath id="pattern-header-right-small_a">
            <path fill="none" d="M0-508.47h1280v405H0z"></path>
          </clipPath>
          <clipPath id="pattern-header-right-small_b">
            <path fill="none" d="M1.29-.09H1280V405H1.29z"></path>
          </clipPath>
        </defs>
        <g clip-path="url(#pattern-header-right-small_a)">
          <path
            d="M1275.52-40.38c27.15 7.86 48.55 29.26 56.36 56.36-27.1-7.82-48.5-29.22-56.36-56.36m-1.27-1.27c7.48 27.77 29.12 50.92 58.9 58.9-7.98-29.78-31.13-51.43-58.9-58.9ZM755.4-50.39c27.15 7.86 48.55 29.26 56.36 56.36-27.1-7.82-48.5-29.21-56.36-56.36m-1.27-1.27c7.48 27.77 29.12 50.92 58.9 58.9-7.98-29.78-31.13-51.43-58.9-58.9ZM891.76-13.85c-20.39 19.58-49.61 27.41-77 20.63 20.32-19.56 49.55-27.4 77-20.63m1.74-.47c-27.79-7.41-58.66-.24-80.46 21.56 29.78 7.98 60.1-1.25 80.46-21.56ZM894.77-13.05c27.15 7.86 48.55 29.26 56.36 56.36-27.1-7.82-48.5-29.21-56.36-56.36m-1.27-1.27c7.48 27.77 29.12 50.92 58.9 58.9-7.98-29.78-31.13-51.43-58.9-58.9ZM1170.49 60.83c-20.39 19.58-49.61 27.41-77 20.63 20.32-19.56 49.55-27.4 77-20.63m1.74-.47c-27.79-7.41-58.66-.24-80.46 21.56 29.78 7.98 60.1-1.25 80.46-21.56Z"
          ></path>
          <path
            d="M1193.32-18.36c6.78 27.38-1.05 56.61-20.63 77-6.76-27.44 1.07-56.67 20.63-77m.46-1.73c-21.8 21.8-28.97 52.67-21.56 80.46 20.31-20.36 29.54-50.68 21.56-80.46ZM1173.5 61.64c27.15 7.86 48.55 29.26 56.36 56.36-27.1-7.82-48.5-29.21-56.36-56.36m-1.27-1.27c7.48 27.77 29.12 50.92 58.9 58.9-7.98-29.78-31.13-51.43-58.9-58.9ZM1034.13 24.3c27.15 7.86 48.55 29.26 56.36 56.36-27.1-7.82-48.5-29.21-56.36-56.36m-1.27-1.27c7.48 27.77 29.12 50.92 58.9 58.9-7.98-29.78-31.13-51.43-58.9-58.9ZM1053.96-55.71c6.78 27.38-1.05 56.61-20.63 77-6.76-27.44 1.07-56.67 20.63-77m.46-1.73c-21.8 21.8-28.97 52.67-21.56 80.46 20.31-20.36 29.54-50.68 21.56-80.46Z"
          ></path>
          <path
            d="M1031.13 23.49c-20.39 19.58-49.61 27.41-77 20.63 20.32-19.56 49.55-27.4 77-20.63m1.74-.47c-27.79-7.41-58.66-.24-80.46 21.56 29.78 7.98 60.1-1.25 80.46-21.56ZM1309.86 98.18c-20.39 19.58-49.61 27.41-77 20.63 20.32-19.56 49.55-27.4 77-20.63m1.74-.47c-27.79-7.41-58.66-.24-80.46 21.56 29.78 7.98 60.1-1.25 80.46-21.56Z"
          ></path>
        </g>
        <g clip-path="url(#pattern-header-right-small_b)">
          <path
            d="M645.83 58.36c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM660.72-1.72c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42Z"
          ></path>
          <path
            d="M643.58 57.75c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM748.23 85.8c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM765.37 26.32c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM750.49 86.4c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM722.44-18.26c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23Z"
          ></path>
          <path
            d="M824.84 9.18c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM957.54 141.88c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM974.68 82.41c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM959.8 142.48c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM931.75 37.83c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM1034.15 65.27c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM855.14 114.44c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23Z"
          ></path>
          <path
            d="M870.03 54.37c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM852.88 113.84c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM929.5 37.22c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM827.1 9.79c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23Z"
          ></path>
          <path
            d="M946.64-22.24c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM841.99-50.28c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM569.22 134.97c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM584.11 74.89c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM566.96 134.37c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM541.18 30.31c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM671.62 162.41c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM688.76 102.94c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM673.87 163.01c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM880.93 218.49c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM898.07 159.02c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM883.18 219.1c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM778.53 191.05c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM793.42 130.98c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM776.27 190.45c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM1271.5 226.01c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM1288.65 166.53c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM1273.76 226.61c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM1245.71 121.95c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM1169.1 198.57c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM1183.99 138.49c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM1166.85 197.96c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19Z"
          ></path>
          <path
            d="M1243.46 121.35c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM1141.06 93.91c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM1062.19 169.92c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM1079.34 110.45c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM1064.45 170.53c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM1036.41 65.87c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23Z"
          ></path>
          <path
            d="M1138.81 93.31c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM1320.07 44.74c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM1260.6 61.88c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42Z"
          ></path>
          <path
            d="M1217.67 17.3c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM1110.77-11.35c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM1051.29 5.8c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM1008.36-38.78c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM1113.02-10.74c20.35 5.87 36.42 21.94 42.33 42.33-20.39-5.91-36.45-21.97-42.33-42.33m-.95-.95c5.99 22.36 23.38 38.62 44.23 44.23-5.61-20.86-21.87-38.24-44.23-44.23ZM1155.95 33.84c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42ZM1215.42 16.7c-15.26 14.69-37.21 20.57-57.82 15.49 15.31-14.7 37.26-20.58 57.82-15.49m1.3-.35c-22.36-5.99-45.13.94-60.42 16.19 20.87 5.57 44.05.18 60.42-16.19ZM1299.54 330.66c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19Z"
          ></path>
          <path
            d="M1197.15 303.22c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM1212.03 243.15c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42Z"
          ></path>
          <path
            d="M1194.89 302.62c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM987.84 247.14c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM1002.73 187.06c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM985.58 246.53c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19Z"
          ></path>
          <path
            d="M1090.23 274.58c-15.31 14.7-37.26 20.58-57.82 15.49 15.26-14.69 37.21-20.57 57.82-15.49m1.3-.35c-20.87-5.57-44.05-.18-60.42 16.19 22.36 5.99 45.13-.94 60.42-16.19ZM1107.38 215.1c5.09 20.56-.79 42.51-15.49 57.82-5.08-20.61.8-42.56 15.49-57.82m.35-1.3c-16.37 16.37-21.76 39.55-16.19 60.42 15.25-15.29 22.18-38.06 16.19-60.42ZM1092.49 275.18c20.39 5.91 36.45 21.97 42.33 42.33-20.35-5.87-36.42-21.94-42.33-42.33m-.95-.95c5.61 20.86 21.87 38.24 44.23 44.23-5.99-22.36-23.38-38.62-44.23-44.23ZM1232.56-42.77c5.08 20.61-.8 42.56-15.49 57.82-5.09-20.56.79-42.51 15.49-57.82m.35-1.3c-15.25 15.29-22.18 38.06-16.19 60.42 16.37-16.37 21.76-39.55 16.19-60.42Z"
          ></path>
        </g>
      </svg>
    </header>
    <div class="mod mod-utilities mod--indented">
      <div class="mod__inner">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__crumb">
            <a href="/" data-uw-rm-brl="PR" data-uw-original-href="/">Home</a>
            <span class="breadcrumbs__divide"></span>
          </li>
          <li class="breadcrumbs__crumb">
            <a
              href="/sustainability/"
              data-uw-rm-brl="PR"
              data-uw-original-href="/sustainability/"
              >Sustainability</a
            >
            <span class="breadcrumbs__divide"></span>
          </li>
          <li class="breadcrumbs__crumb">
            <a
              href="/sustainability/sustainability-reporting/"
              data-uw-rm-brl="PR"
              data-uw-original-href="/sustainability/sustainability-reporting/"
              >Sustainability Reporting</a
            >
            <span class="breadcrumbs__divide"></span>
          </li>
          <li class="breadcrumbs__current">2020 Sustainability Report</li>
        </ul>
      </div>
    </div>
    <div class="mod mod--indented mod-richtext mod-richtext--intro">
      <div class="mod__inner">
        <div class="editor">
          <h1>2020 Sustainability Report</h1>
          <p class="intro">
            In this new reality, the need to transform our global food system
            remains more important than ever. As we intensify agricultural
            production to feed the growing population, we must also protect the
            climate, promote biodiversity and safeguard natural resources.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="mod mod--indented mod-richtext">
        <div class="mod__inner">
          <div class="editor">
            <h3 data-uw-rm-heading="level" role="heading" aria-level="2">
              Cultivating a Better Future
            </h3>
            <p>
              <img
                src="https://www.cofcointernational.com/media/j3bodi2n/david_dong_bb.jpg?rmode=max&amp;width=500"
                alt="This, our latest annual sustainability report, covers our performance against the five strategic priorities of our sustainability strategy, Meeting Tomorrows’ Demand, and the collective effort made by our employees and partners towards cultivating a better future."
                title=""
                width="776"
                height="436"
                data-uw-rm-alt-original=""
                data-uw-rm-alt="CT"
              />
            </p>
            <p>
              This, our latest annual sustainability report, covers our
              performance against the five strategic priorities of our
              sustainability strategy, Meeting Tomorrows’ Demand, and the
              collective effort made by our employees and partners towards
              cultivating a better future.
            </p>
            <blockquote>
              “Our business took decisive action in 2020 to keep our people safe
              and our supply chains moving, helping to promote global food
              security amid the Covid-19 pandemic. Importantly, we also
              maintained a strong focus on advancing our sustainability journey
              and strengthening the food system, as we strive to ensure the
              ongoing success of our business."
            </blockquote>
            <p>
              In 2020, we continued to act on the supply chain traceability,
              environmental, health and safety and resource efficiency and
              community priorities that matter most to our business and
              stakeholders.
            </p>
            <p>
              We will retain a bold and ambitious outlook in the face of the
              work still required to fulfil our mission to feed the world
              responsibly.<br role="presentation" data-uw-rm-sr="" /><br
                role="presentation"
                data-uw-rm-sr=""
              />David Dong, CEO of COFCO International
            </p>
          </div>
        </div>
      </div>
      <div class="mod mod-downloads">
        <ul class="mod__inner mod-downloads__inner">
          <h3>2020 Full Sustainability Report</h3>
          <li class="mod-downloads__item">
            <a
              class="btn btn-download"
              href="https://www.cofcointernational.com/media/kykdz0yh/cil_sr_2020_digital.pdf"
              download=""
              data-uw-pdf-br="1"
              data-uw-pdf-doc=""
            >
              <span class="btn-download__label">
                <span class="btn-download__name"
                  >2020 Sustainability Report</span
                >
                <span class="btn-download__data">(7.98MB PDF)</span>
              </span>
              <svg
                class="btn-download__icon"
                width="0"
                height="0"
                viewBox="0 0 14 19"
              >
                <path
                  d="m8.04 15.21 4.66-4.66 1.41 1.41-7.07 7.07-7.08-7.07 1.41-1.41 4.66 4.66V-.04h2V15.2Z"
                ></path>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="mod__inner mod-downloads__inner">
          <h3>2020 Sustainability Report Summaries</h3>
          <li class="mod-downloads__item">
            <a
              class="btn btn-download"
              href="https://www.cofcointernational.com/media/wx2n1njr/cofco-summary-a5-report-2020-english-210730.pdf"
              download=""
              data-uw-pdf-br="1"
              data-uw-pdf-doc=""
            >
              <span class="btn-download__label">
                <span class="btn-download__name"
                  >2020 Sustainability Report Summary - English</span
                >
                <span class="btn-download__data">(12.29MB PDF)</span>
              </span>
              <svg
                class="btn-download__icon"
                width="0"
                height="0"
                viewBox="0 0 14 19"
              >
                <path
                  d="m8.04 15.21 4.66-4.66 1.41 1.41-7.07 7.07-7.08-7.07 1.41-1.41 4.66 4.66V-.04h2V15.2Z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="mod-downloads__item">
            <a
              class="btn btn-download"
              href="https://www.cofcointernational.com/media/0jllyxms/cofco-summary-a5-report-2020-portuguese-210730.pdf"
              download=""
              data-uw-pdf-br="1"
              data-uw-pdf-doc=""
            >
              <span class="btn-download__label">
                <span class="btn-download__name"
                  >2020 Sustainability Report Summary - Portuguese
                </span>
                <span class="btn-download__data">(12.30MB PDF)</span>
              </span>
              <svg
                class="btn-download__icon"
                width="0"
                height="0"
                viewBox="0 0 14 19"
              >
                <path
                  d="m8.04 15.21 4.66-4.66 1.41 1.41-7.07 7.07-7.08-7.07 1.41-1.41 4.66 4.66V-.04h2V15.2Z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="mod-downloads__item">
            <a
              class="btn btn-download"
              href="https://www.cofcointernational.com/media/eg5llup5/cofco-summary-a5-report-2020-spanish-210730.pdf"
              download=""
              data-uw-pdf-br="1"
              data-uw-pdf-doc=""
            >
              <span class="btn-download__label">
                <span class="btn-download__name"
                  >2020 Sustainability Report Summary - Spanish</span
                >
                <span class="btn-download__data">(12.32MB PDF)</span>
              </span>
              <svg
                class="btn-download__icon"
                width="0"
                height="0"
                viewBox="0 0 14 19"
              >
                <path
                  d="m8.04 15.21 4.66-4.66 1.41 1.41-7.07 7.07-7.08-7.07 1.41-1.41 4.66 4.66V-.04h2V15.2Z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="mod-downloads__item">
            <a
              class="btn btn-download"
              href="https://www.cofcointernational.com/media/bmbprmjv/cofco-summary-a5-report-2020-chinese-210802.pdf"
              download=""
              data-uw-pdf-br="1"
              data-uw-pdf-doc=""
            >
              <span class="btn-download__label">
                <span class="btn-download__name"
                  >2020 Sustainability Report Summary - Chinese</span
                >
                <span class="btn-download__data">(12.61MB PDF)</span>
              </span>
              <svg
                class="btn-download__icon"
                width="0"
                height="0"
                viewBox="0 0 14 19"
              >
                <path
                  d="m8.04 15.21 4.66-4.66 1.41 1.41-7.07 7.07-7.08-7.07 1.41-1.41 4.66 4.66V-.04h2V15.2Z"
                ></path>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="mod__inner mod-downloads__inner">
          <h3>2020 Sustainability Report GRI Index</h3>
          <li class="mod-downloads__item">
            <a
              class="btn btn-download"
              href="https://www.cofcointernational.com/media/xljdb4wo/cofco-2020-gri-content-index-table.xlsx"
              download=""
              data-uw-rm-brl="PR"
              data-uw-original-href="https://www.cofcointernational.comhttps://www.cofcointernational.com/media/xljdb4wo/cofco-2020-gri-content-index-table.xlsx"
            >
              <span class="btn-download__label">
                <span class="btn-download__name"
                  >2020 Sustainability Report GRI Index</span
                >
                <span class="btn-download__data">(0.39MB XLSX)</span>
              </span>
              <svg
                class="btn-download__icon"
                width="0"
                height="0"
                viewBox="0 0 14 19"
              >
                <path
                  d="m8.04 15.21 4.66-4.66 1.41 1.41-7.07 7.07-7.08-7.07 1.41-1.41 4.66 4.66V-.04h2V15.2Z"
                ></path>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="mod__inner mod-downloads__inner">
          <h3>2020 Environmental Data Verification Statement</h3>
          <li class="mod-downloads__item">
            <a
              class="btn btn-download"
              href="https://www.cofcointernational.com/media/2dnd2szl/cofco-asr-statement-2020-bureau-veritas.pdf"
              download=""
              data-uw-pdf-br="1"
              data-uw-pdf-doc=""
            >
              <span class="btn-download__label">
                <span class="btn-download__name"
                  >2020 Environmental Data Verification Statement</span
                >
                <span class="btn-download__data">(0.17MB PDF)</span>
              </span>
              <svg
                class="btn-download__icon"
                width="0"
                height="0"
                viewBox="0 0 14 19"
              >
                <path
                  d="m8.04 15.21 4.66-4.66 1.41 1.41-7.07 7.07-7.08-7.07 1.41-1.41 4.66 4.66V-.04h2V15.2Z"
                ></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <section
        class="mod mod--indented mod-stats"
        data-maxcol="2"
        data-bkg="white"
        style="--max-col: 2"
      >
        <div class="mod__title">
          <h2><span>2020 Sustainability Highlights in Numbers</span></h2>
        </div>
        <div class="mod__inner mod-stats__inner">
          <div class="mod-stats__layout">
            <div class="stat">
              <div class="stat__figure">295,000+</div>
              <div class="stat__description">
                CBios issued by our 5 industrial facilities under RenovaBio
                programme
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">27%</div>
              <div class="stat__description">
                of total coffee sales volume certified or verified as
                sustainable
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">55,650</div>
              <div class="stat__description">
                face masks and food packs provided to truck drivers in Brazil
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">Up to 700</div>
              <div class="stat__description">
                disinfected trucks per day at each plant in Argentina
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">4%</div>
              <div class="stat__description">
                reduction in carbon intensity of our operations through
                increased use of renewable energy
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">88%</div>
              <div class="stat__description">
                of our global energy needs were met by renewable energy
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">30,000+</div>
              <div class="stat__description">
                beneficiaries reached through our community support actions
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">113</div>
              <div class="stat__description">
                locations covered by our global network of Sustainability
                Ambassadors who are engaged in creating positive change locally
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">59</div>
              <div class="stat__description">
                days average closure rate for cases reported via our Integrity
                Hotline
              </div>
            </div>
            <div class="stat">
              <div class="stat__figure">Zero</div>
              <div class="stat__description">
                food and feed safety incidents resulting in fines, penalties, or
                warnings
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="mod mod-share">
      <div class="mod__inner">
        <p class="mod-share__label">
          <svg
            class="mod-share__icon"
            width="30"
            height="auto"
            viewBox="0 0 23 25"
          >
            <path
              d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            ></path>
          </svg>
          Share this page:
        </p>
        <div class="mod-share__links">
          <a
            class="mod-share__link"
            href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/sustainability/sustainability-reporting/2020-sustainability-report/"
            target="_blank"
            title="Share this page on Facebook"
            aria-label="Facebook - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/sustainability/sustainability-reporting/2020-sustainability-report/$facebook"
            data-uw-rm-brl="PR"
            data-uw-original-href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/sustainability/sustainability-reporting/2020-sustainability-report/"
            >Facebook</a
          >
          <a
            class="mod-share__link"
            href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/sustainability/sustainability-reporting/2020-sustainability-report/&amp;text=2020%20Sustainability%20Report"
            target="_blank"
            title="Share this page on X.com"
            aria-label="X.com - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://x.com/intent/tweet?url=https://www.cofcointernational.com/sustainability/sustainability-reporting/2020-sustainability-report/&amp;text=2020%20sustainability%20report$x.com"
            data-uw-rm-brl="PR"
            data-uw-original-href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/sustainability/sustainability-reporting/2020-sustainability-report/&amp;text=2020%20Sustainability%20Report"
            >X.com</a
          >
          <a
            class="mod-share__link"
            href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/sustainability/sustainability-reporting/2020-sustainability-report/"
            title='2020%20Sustainability%20Report"'
            target="_blank"
            aria-label="Linkedin - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://www.linkedin.com/sharearticle?mini=true&amp;url=https://www.cofcointernational.com/sustainability/sustainability-reporting/2020-sustainability-report/$linkedin"
            >Linkedin</a
          >
        </div>
      </div>
    </div>
    <div class="mod mod-follow">
      <div class="mod__inner">
        <div class="mod-follow__graphic">
          <picture class="mod-follow__image">
            <source
              media="(min-width: 1920px)"
              srcset="
                https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90
              "
            />
            <source
              media="(min-width: 1000px)"
              srcset="
                https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90
              "
            />
            <img
              loading="lazy"
              width="600"
              height="auto"
              src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90"
              alt=""
            />
            <svg width="0" height="0" viewBox="0 0 1280 717">
              <defs>
                <clipPath id="pattern-image-small_a">
                  <path fill="none" d="M-.66 4.64h1280V717H-.66z"></path>
                </clipPath>
              </defs>
              <g clip-path="url(#pattern-image-small_a)">
                <path
                  d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
              </g>
            </svg>
          </picture>
        </div>
        <div class="mod-follow__links">
          <h2 class="h1">Follow us on</h2>
          <ul class="menu menu-follow">
            <li>
              <a
                href="https://www.instagram.com/cofcointl/"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="Instagram - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://www.instagram.com/cofcointl/$instagram"
                data-uw-rm-brl="PR"
                data-uw-original-href="https://www.instagram.com/cofcointl/"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 22 22">
                    <path
                      fill-rule="evenodd"
                      d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"
                    ></path>
                    <path
                      d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"
                    ></path>
                  </svg>
                </span>
                <span class="btn-follow__label">Instagram</span>
              </a>
            </li>
            <li>
              <a
                href="https://x.com/COFCOINTL"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="X.com - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://x.com/cofcointl$x.com"
                data-uw-rm-brl="PR"
                data-uw-original-href="https://x.com/COFCOINTL"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 33 33">
                    <path
                      d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"
                    ></path>
                  </svg>
                </span>
                <span class="btn-follow__label">X.com</span>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/cofcointernational"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="LinkedIn - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://www.linkedin.com/company/cofcointernational$linkedin"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 20 20">
                    <path
                      d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"
                    ></path>
                    <circle cx="2" cy="2" r="2"></circle>
                  </svg>
                </span>
                <span class="btn-follow__label">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</main>
