<main id="maincontent" class="site__main">
  <article class="page">
    <header class="masthead masthead-page">
      <picture>
        <source
          media="(min-width: 1920px)"
          srcset="
            https://www.cofcointernational.com/media/ecbjdeud/meeting-tomorrowsdemand_cofco_mt-355.jpg?width=2400&amp;height=625&amp;v=1d9582d2c0f19a0
          "
        />
        <source
          media="(min-width: 1000px)"
          srcset="
            https://www.cofcointernational.com/media/ecbjdeud/meeting-tomorrowsdemand_cofco_mt-355.jpg?width=1920&amp;height=500&amp;v=1d9582d2c0f19a0
          "
        />
        <source
          media="(min-width: 700px)"
          srcset="
            https://www.cofcointernational.com/media/ecbjdeud/meeting-tomorrowsdemand_cofco_mt-355.jpg?width=1000&amp;height=260&amp;v=1d9582d2c0f19a0
          "
        />
        <img
          class="masthead__image"
          width="700"
          height="182"
          src="https://www.cofcointernational.com/media/ecbjdeud/meeting-tomorrowsdemand_cofco_mt-355.jpg?width=700&amp;height=182&amp;v=1d9582d2c0f19a0"
          alt="AltText"
          data-uw-rm-alt-original="AltText"
          data-uw-rm-alt="BE"
        />
      </picture>
      <svg
        width="0"
        height="0"
        class="masthead__pattern"
        data-pattern="left-flower"
        viewBox="0 0 1280 405"
      >
        <defs>
          <clipPath id="pattern-header-left-flower_a">
            <path fill="none" d="M1.29 0H1280v402.16H1.29z"></path>
          </clipPath>
        </defs>
        <g clip-path="url(#pattern-header-left-flower_a)">
          <path
            d="M354.54 168.56c63.91 18.44 114.36 68.88 132.9 132.9-64.01-18.54-114.46-68.99-132.9-132.9m-2.99-2.99c18.81 70.22 73.4 121.25 138.88 138.88-17.63-65.49-68.67-120.07-138.88-138.88ZM401.28-20.06c15.95 64.71-2.52 133.62-48.64 181.54C336.65 96.92 355.12 28 401.28-20.06m1.1-4.09c-47.9 48.01-69.65 119.5-50.83 189.72 51.4-51.4 68.31-124.19 50.83-189.72ZM347.45 166.66c-48.06 46.17-116.98 64.63-181.54 48.64 47.92-46.13 116.83-64.59 181.54-48.64m4.09-1.1c-65.53-17.48-138.32-.57-189.72 50.83 70.22 18.81 141.71-2.94 189.72-50.83ZM74.47 230.91c63.91 18.44 114.36 68.88 132.9 132.9-64.01-18.54-114.46-68.99-132.9-132.9m-2.99-2.99c18.81 70.22 73.4 121.25 138.88 138.88-17.63-65.49-68.67-120.07-138.88-138.88ZM121.22 42.29c15.95 64.71-2.52 133.62-48.64 181.54-15.99-64.56 2.48-133.48 48.64-181.54m1.1-4.09c-47.9 48.01-69.65 119.5-50.83 189.72 51.4-51.4 68.31-124.19 50.83-189.72ZM67.39 229.01c-48.06 46.17-116.98 64.63-181.54 48.64 47.92-46.13 116.83-64.59 181.54-48.64m4.09-1.1c-65.53-17.48-138.32-.57-189.72 50.83 70.22 18.81 141.71-2.94 189.72-50.83Z"
          ></path>
        </g>
      </svg>
    </header>
    <div class="mod mod-utilities mod--indented">
      <div class="mod__inner">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__crumb">
            <a href="/" data-uw-rm-brl="PR" data-uw-original-href="/">Home</a>
            <span class="breadcrumbs__divide"></span>
          </li>
          <li class="breadcrumbs__crumb">
            <a
              href="/sustainability/"
              data-uw-rm-brl="PR"
              data-uw-original-href="/sustainability/"
              >Sustainability</a
            >
            <span class="breadcrumbs__divide"></span>
          </li>
          <li class="breadcrumbs__current">Sustainability Reporting</li>
        </ul>
      </div>
    </div>
    <div class="mod mod--indented mod-richtext mod-richtext--intro">
      <div class="mod__inner">
        <div class="editor">
          <h1>Sustainability Reporting</h1>
          <p class="intro">
            We publish annual sustainability reports outlining progress made
            towards our mission to meet rising demand for food in a sustainable
            way.
          </p>
        </div>
      </div>
    </div>
    <div class="mod mod-srhighlight">
      <div class="mod__inner mod-srhighlight__inner">
        <article class="card card-report">
          <svg class="card-report__pattern" width="0" height="0"></svg>
          <picture class="card-report__cover">
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/43tplwou/cofco-sr-website-download-image.jpg?width=500&amp;height=350&amp;v=1d9a5d805620850
              "
            />
            <img
              loading="lazy"
              width="768"
              height="auto"
              src="https://www.cofcointernational.com/media/43tplwou/cofco-sr-website-download-image.jpg?width=768&amp;height=538&amp;v=1d9a5d805620850"
              alt="a man and woman standing in a field of wheat"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card-report__details">
            <div>
              <h2>2022 Sustainability Report</h2>
              <p>
                In the past year, the importance of protecting the climate and
                conserving biodiversity has been at the forefront of the global
                sustainability agenda, with two major UN conferences setting the
                tone for business and government action on deforestation and
                emission reduction.
              </p>
            </div>
            <div>
              <a
                class="card-report__cta btn btn-txtcta"
                href="/sustainability/sustainability-reporting/2022-sustainability-report/"
                title=" Read &amp; Download: 2022 Sustainability Report"
                data-uw-rm-brl="PR"
                data-uw-original-href="/sustainability/sustainability-reporting/2022-sustainability-report/"
              >
                Read &amp; Download
              </a>
            </div>
          </div>
        </article>
      </div>
      <div class="mod__inner mod-srhighlight__inner">
        <article class="card card-report">
          <svg class="card-report__pattern" width="0" height="0"></svg>
          <picture class="card-report__cover">
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/igie2vli/cofco-sr21-cover.png?width=500&amp;height=350&amp;v=1d95806f7707250
              "
            />
            <img
              loading="lazy"
              width="768"
              height="auto"
              src="https://www.cofcointernational.com/media/igie2vli/cofco-sr21-cover.png?width=768&amp;height=538&amp;v=1d95806f7707250"
              alt="anther"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card-report__details">
            <div>
              <h2>2021 Sustainability Report</h2>
              <p>
                Our business took action 2021 to advance our sustainability
                journey and expand the scope of our ambitions, while keeping our
                people safe, promoting supply chain continuity and helping to
                achieve global food security. Importantly, we collaborated with
                multiple partners to raise standards, protect the climate and
                preserve biodiversity, as we strive to transform the global food
                system and ensure the ongoing success of our business.
              </p>
            </div>
            <div>
              <a
                class="card-report__cta btn btn-txtcta"
                href="/sustainability/sustainability-reporting/2021-sustainability-report/"
                title=" Read &amp; Download: 2021 Sustainability Report"
                data-uw-rm-brl="PR"
                data-uw-original-href="/sustainability/sustainability-reporting/2021-sustainability-report/"
              >
                Read &amp; Download
              </a>
              <div class="card-report__support">
                available in multiple languages
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="mod__inner mod-srhighlight__inner">
        <article class="card card-report">
          <svg class="card-report__pattern" width="0" height="0"></svg>
          <picture class="card-report__cover">
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/1cqfs2hd/cofco-sr-2020-cover.png?width=500&amp;height=350&amp;v=1d958c90bc1eeb0
              "
            />
            <img
              loading="lazy"
              width="768"
              height="auto"
              src="https://www.cofcointernational.com/media/1cqfs2hd/cofco-sr-2020-cover.png?width=768&amp;height=538&amp;v=1d958c90bc1eeb0"
              alt="advertisement"
              data-uw-rm-alt-original=""
              data-uw-rm-alt="BE"
            />
          </picture>
          <div class="card-report__details">
            <div>
              <h2>2020 Sustainability Report</h2>
              <p>
                In this new reality, the need to transform our global food
                system remains more important than ever. As we intensify
                agricultural production to feed the growing population, we must
                also protect the climate, promote biodiversity and safeguard
                natural resources.
              </p>
            </div>
            <div>
              <a
                class="card-report__cta btn btn-txtcta"
                href="/sustainability/sustainability-reporting/2020-sustainability-report/"
                title=" Read &amp; Download: 2020 Sustainability Report"
                data-uw-rm-brl="PR"
                data-uw-original-href="/sustainability/sustainability-reporting/2020-sustainability-report/"
              >
                Read &amp; Download
              </a>
              <div class="card-report__support">
                available in multiple languages
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="mod__inner mod-srhighlight__inner">
        <article class="card card-report">
          <svg class="card-report__pattern" width="0" height="0"></svg>
          <picture class="card-report__cover">
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/x40dvyce/cofco-sr_final-proof_15-june-1.jpg?width=500&amp;height=350&amp;v=1d958c90d1e4a60
              "
            />
            <img
              loading="lazy"
              width="768"
              height="auto"
              src="https://www.cofcointernational.com/media/x40dvyce/cofco-sr_final-proof_15-june-1.jpg?width=768&amp;height=538&amp;v=1d958c90d1e4a60"
              alt=""
            />
          </picture>
          <div class="card-report__details">
            <div>
              <h2>2019 Sustainability Report</h2>
              <p>
                As a global agri-business, our future success depends on our
                ability to help transform the food system, conserve
                biodiversity, build resilience and create value across the
                supply chain.
              </p>
            </div>
            <div>
              <a
                class="card-report__cta btn btn-txtcta"
                href="/sustainability/sustainability-reporting/2019-sustainability-report/"
                title=" Read &amp; Download: 2019 Sustainability Report"
                data-uw-rm-brl="PR"
                data-uw-original-href="/sustainability/sustainability-reporting/2019-sustainability-report/"
              >
                Read &amp; Download
              </a>
              <div class="card-report__support">
                available in multiple languages
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="mod__inner mod-srhighlight__inner">
        <article class="card card-report">
          <svg class="card-report__pattern" width="0" height="0"></svg>
          <picture class="card-report__cover">
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/rtpcfxi2/sustainability-report-cover.png?width=500&amp;height=350&amp;v=1d9577313df5800
              "
            />
            <img
              loading="lazy"
              width="768"
              height="auto"
              src="https://www.cofcointernational.com/media/rtpcfxi2/sustainability-report-cover.png?width=768&amp;height=538&amp;v=1d9577313df5800"
              alt=""
            />
          </picture>
          <div class="card-report__details">
            <div>
              <h2>2018 Sustainability Report</h2>
              <p>
                As a rapidly-growing international agri-business, meeting rising
                demand for food in a sustainable way is key to our purpose.
              </p>
            </div>
            <div>
              <a
                class="card-report__cta btn btn-txtcta"
                href="/sustainability/sustainability-reporting/2018-sustainability-report/"
                title=" Read &amp; Download: 2018 Sustainability Report"
                data-uw-rm-brl="PR"
                data-uw-original-href="/sustainability/sustainability-reporting/2018-sustainability-report/"
              >
                Read &amp; Download
              </a>
              <div class="card-report__support">
                available in multiple languages
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="mod__inner mod-srhighlight__inner">
        <article class="card card-report">
          <svg class="card-report__pattern" width="0" height="0"></svg>
          <picture class="card-report__cover">
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/jmbmhkrz/cof-5341-sus-report-cover-2018-06-25.jpg?width=500&amp;height=350&amp;v=1d958c90c6bc340
              "
            />
            <img
              loading="lazy"
              width="768"
              height="auto"
              src="https://www.cofcointernational.com/media/jmbmhkrz/cof-5341-sus-report-cover-2018-06-25.jpg?width=768&amp;height=538&amp;v=1d958c90c6bc340"
              alt=""
            />
          </picture>
          <div class="card-report__details">
            <div>
              <h2>2017 Sustainability Report</h2>
              <p>
                Meeting tomorrow’s demand - how we are building a world-class
                global agri-business committed to providing the food the world
                needs in a responsible way.
              </p>
            </div>
            <div>
              <a
                class="card-report__cta btn btn-txtcta"
                href="/sustainability/sustainability-reporting/2017-sustainability-report/"
                title=" Read &amp; Download: 2017 Sustainability Report"
                data-uw-rm-brl="PR"
                data-uw-original-href="/sustainability/sustainability-reporting/2017-sustainability-report/"
              >
                Read &amp; Download
              </a>
              <div class="card-report__support">
                available in multiple languages
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="mod__inner mod-srhighlight__inner">
        <article class="card card-report">
          <svg class="card-report__pattern" width="0" height="0"></svg>
          <picture class="card-report__cover">
            <source
              media="(min-width: 768px)"
              srcset="
                https://www.cofcointernational.com/media/v1shsfxh/scf-report-cover.png?rxy=0.6700319674603702,0.49370273234561945&amp;width=500&amp;height=350&amp;v=1d95d72f7a5bf70
              "
            />
            <img
              loading="lazy"
              width="768"
              height="auto"
              src="https://www.cofcointernational.com/media/v1shsfxh/scf-report-cover.png?rxy=0.6700319674603702,0.49370273234561945&amp;width=768&amp;height=538&amp;v=1d95d72f7a5bf70"
              alt=""
            />
          </picture>
          <div class="card-report__details">
            <div>
              <h2>Soft Commodities Forum reporting</h2>
              <p>
                COFCO International is a member of the Soft Commodities Forum
                (SCF), a global platform for leading soft commodity companies
                convened by the World Business Council for Sustainable
                Development, for the purpose of advancing collective action
                around common sustainability challenges.
              </p>
            </div>
            <div>
              <a
                class="card-report__cta btn btn-txtcta"
                href="/sustainability/sustainability-reporting/soft-commodities-forum-reporting/"
                title=" Read &amp; Download: Soft Commodities Forum reporting"
                data-uw-rm-brl="PR"
                data-uw-original-href="/sustainability/sustainability-reporting/soft-commodities-forum-reporting/"
              >
                Read &amp; Download
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div>
      <section class="mod mod-relatedContent mod--col2" data-bkg="grey">
        <div class="mod__title">
          <h2><span>Find out more about our work on:</span></h2>
        </div>
        <div class="mod__inner">
          <article class="card">
            <picture class="card__image">
              <source
                media="(min-width: 1024px)"
                srcset="
                  https://www.cofcointernational.com/media/0qlcnrvh/employee-using-computer.jpg?width=600&amp;height=400&amp;v=1d957473e759c90
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  https://www.cofcointernational.com/media/0qlcnrvh/employee-using-computer.jpg?width=550&amp;height=366&amp;v=1d957473e759c90
                "
              />
              <img
                loading="lazy"
                width="768"
                height="511"
                src="https://www.cofcointernational.com/media/0qlcnrvh/employee-using-computer.jpg?width=768&amp;height=511&amp;v=1d957473e759c90"
                alt=""
              />
            </picture>
            <div class="card__content">
              <header class="card__header">
                <h3>Our policies</h3>
              </header>
              <div class="card__text">
                <p>
                  COFCO International's formalised policies are an integral part
                  of our company-wide sustainability approach.
                </p>
              </div>
              <footer class="card__footer">
                <a
                  class="card__cta btn btn-txtcta"
                  href="/sustainability/our-policies/"
                  target="_self"
                  title="Find out more:"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/sustainability/our-policies/"
                >
                  Find out more
                </a>
              </footer>
            </div>
          </article>
          <article class="card">
            <picture class="card__image">
              <source
                media="(min-width: 1024px)"
                srcset="
                  https://www.cofcointernational.com/media/zhqdfk4a/partnership_cofco_mt-69.jpg?rxy=0.5531117546861294,0.30300182751446664&amp;width=600&amp;height=400&amp;v=1d95cbc4cbafc30
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  https://www.cofcointernational.com/media/zhqdfk4a/partnership_cofco_mt-69.jpg?rxy=0.5531117546861294,0.30300182751446664&amp;width=550&amp;height=366&amp;v=1d95cbc4cbafc30
                "
              />
              <img
                loading="lazy"
                width="768"
                height="511"
                src="https://www.cofcointernational.com/media/zhqdfk4a/partnership_cofco_mt-69.jpg?rxy=0.5531117546861294,0.30300182751446664&amp;width=768&amp;height=511&amp;v=1d95cbc4cbafc30"
                alt=""
              />
            </picture>
            <div class="card__content">
              <header class="card__header">
                <h3>Our partnerships and memberships</h3>
              </header>
              <div class="card__text">
                <p>
                  Collaboration is key to better understand and sensitively
                  address the diverse and complex sustainability challenges we
                  face as a company and as an industry.
                </p>
              </div>
              <footer class="card__footer">
                <a
                  class="card__cta btn btn-txtcta"
                  href="/sustainability/our-partnerships-and-memberships/"
                  target="_self"
                  title="Find out more:"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/sustainability/our-partnerships-and-memberships/"
                >
                  Find out more
                </a>
              </footer>
            </div>
          </article>
        </div>
      </section>
    </div>
    <div class="mod mod-share">
      <div class="mod__inner">
        <p class="mod-share__label">
          <svg
            class="mod-share__icon"
            width="30"
            height="auto"
            viewBox="0 0 23 25"
          >
            <path
              d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            ></path>
          </svg>
          Share this page:
        </p>
        <div class="mod-share__links">
          <a
            class="mod-share__link"
            href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/sustainability/sustainability-reporting/"
            target="_blank"
            title="Share this page on Facebook"
            aria-label="Facebook - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/sustainability/sustainability-reporting/$facebook"
            data-uw-rm-brl="PR"
            data-uw-original-href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/sustainability/sustainability-reporting/"
            >Facebook</a
          >
          <a
            class="mod-share__link"
            href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/sustainability/sustainability-reporting/&amp;text=Sustainability%20Reporting"
            target="_blank"
            title="Share this page on X.com"
            aria-label="X.com - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://x.com/intent/tweet?url=https://www.cofcointernational.com/sustainability/sustainability-reporting/&amp;text=sustainability%20reporting$x.com"
            data-uw-rm-brl="PR"
            data-uw-original-href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/sustainability/sustainability-reporting/&amp;text=Sustainability%20Reporting"
            >X.com</a
          >
          <a
            class="mod-share__link"
            href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/sustainability/sustainability-reporting/"
            title='Sustainability%20Reporting"'
            target="_blank"
            aria-label="Linkedin - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://www.linkedin.com/sharearticle?mini=true&amp;url=https://www.cofcointernational.com/sustainability/sustainability-reporting/$linkedin"
            >Linkedin</a
          >
        </div>
      </div>
    </div>
    <div class="mod mod-follow">
      <div class="mod__inner">
        <div class="mod-follow__graphic">
          <picture class="mod-follow__image">
            <source
              media="(min-width: 1920px)"
              srcset="
                https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90
              "
            />
            <source
              media="(min-width: 1000px)"
              srcset="
                https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90
              "
            />
            <img
              loading="lazy"
              width="600"
              height="auto"
              src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90"
              alt=""
            />
            <svg width="0" height="0" viewBox="0 0 1280 717">
              <defs>
                <clipPath id="pattern-image-small_a">
                  <path fill="none" d="M-.66 4.64h1280V717H-.66z"></path>
                </clipPath>
              </defs>
              <g clip-path="url(#pattern-image-small_a)">
                <path
                  d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
              </g>
            </svg>
          </picture>
        </div>
        <div class="mod-follow__links">
          <h2 class="h1">Follow us on</h2>
          <ul class="menu menu-follow">
            <li>
              <a
                href="https://www.instagram.com/cofcointl/"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="Instagram - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://www.instagram.com/cofcointl/$instagram"
                data-uw-rm-brl="PR"
                data-uw-original-href="https://www.instagram.com/cofcointl/"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 22 22">
                    <path
                      fill-rule="evenodd"
                      d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"
                    ></path>
                    <path
                      d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"
                    ></path>
                  </svg>
                </span>
                <span class="btn-follow__label">Instagram</span>
              </a>
            </li>
            <li>
              <a
                href="https://x.com/COFCOINTL"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="X.com - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://x.com/cofcointl$x.com"
                data-uw-rm-brl="PR"
                data-uw-original-href="https://x.com/COFCOINTL"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 33 33">
                    <path
                      d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"
                    ></path>
                  </svg>
                </span>
                <span class="btn-follow__label">X.com</span>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/cofcointernational"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="LinkedIn - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://www.linkedin.com/company/cofcointernational$linkedin"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 20 20">
                    <path
                      d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"
                    ></path>
                    <circle cx="2" cy="2" r="2"></circle>
                  </svg>
                </span>
                <span class="btn-follow__label">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</main>
