<main id="maincontent" class="site__main">
<article class="page">
<header class="masthead masthead-page">
<picture>
<source media="(min-width: 1920px)" srcset="https://www.cofcointernational.com/media/unvjq3sc/cofco_corporate30.jpg?width=2400&amp;height=625&amp;v=1d963c374bf31c0">
<source media="(min-width: 1000px)" srcset="https://www.cofcointernational.com/media/unvjq3sc/cofco_corporate30.jpg?width=1920&amp;height=500&amp;v=1d963c374bf31c0">
<source media="(min-width: 700px)" srcset="https://www.cofcointernational.com/media/unvjq3sc/cofco_corporate30.jpg?width=1000&amp;height=260&amp;v=1d963c374bf31c0">
<img class="masthead__image" width="700" height="182" src="https://www.cofcointernational.com/media/unvjq3sc/cofco_corporate30.jpg?width=700&amp;height=182&amp;v=1d963c374bf31c0" alt="">
</picture>
<svg width="0" height="0" class="masthead__pattern" data-pattern="left-flower" viewBox="0 0 1280 405">

<defs><clipPath id="pattern-header-left-flower_a"><path fill="none" d="M1.29 0H1280v402.16H1.29z"></path></clipPath></defs><g clip-path="url(#pattern-header-left-flower_a)"><path d="M354.54 168.56c63.91 18.44 114.36 68.88 132.9 132.9-64.01-18.54-114.46-68.99-132.9-132.9m-2.99-2.99c18.81 70.22 73.4 121.25 138.88 138.88-17.63-65.49-68.67-120.07-138.88-138.88ZM401.28-20.06c15.95 64.71-2.52 133.62-48.64 181.54C336.65 96.92 355.12 28 401.28-20.06m1.1-4.09c-47.9 48.01-69.65 119.5-50.83 189.72 51.4-51.4 68.31-124.19 50.83-189.72ZM347.45 166.66c-48.06 46.17-116.98 64.63-181.54 48.64 47.92-46.13 116.83-64.59 181.54-48.64m4.09-1.1c-65.53-17.48-138.32-.57-189.72 50.83 70.22 18.81 141.71-2.94 189.72-50.83ZM74.47 230.91c63.91 18.44 114.36 68.88 132.9 132.9-64.01-18.54-114.46-68.99-132.9-132.9m-2.99-2.99c18.81 70.22 73.4 121.25 138.88 138.88-17.63-65.49-68.67-120.07-138.88-138.88ZM121.22 42.29c15.95 64.71-2.52 133.62-48.64 181.54-15.99-64.56 2.48-133.48 48.64-181.54m1.1-4.09c-47.9 48.01-69.65 119.5-50.83 189.72 51.4-51.4 68.31-124.19 50.83-189.72ZM67.39 229.01c-48.06 46.17-116.98 64.63-181.54 48.64 47.92-46.13 116.83-64.59 181.54-48.64m4.09-1.1c-65.53-17.48-138.32-.57-189.72 50.83 70.22 18.81 141.71-2.94 189.72-50.83Z"></path></g></svg>
</header>
<div class="mod mod-utilities mod--indented">
<div class="mod__inner">
<ul class="breadcrumbs">
<li class="breadcrumbs__crumb">
<a href="/">Home</a>
<span class="breadcrumbs__divide"></span>
</li>
<li class="breadcrumbs__crumb">
<a href="/who-we-are/">Who we are</a>
<span class="breadcrumbs__divide"></span>
</li>
<li class="breadcrumbs__current">Board &amp; Leadership</li>
</ul>
</div>
</div>
<div class="page__blocklist">
<div class="mod mod--indented mod-richtext mod-richtext--intro">
<div class="mod__inner">
<div class="editor">
<h1>Board &amp; Leadership</h1>
<p class="intro">Our Executive Committee is appointed by the Board of Directors and led by our Chief Executive Officer.</p>
</div>
</div>
</div>
<div>
<div class="mod mod--indented mod-richtext">
<div class="mod__inner">
<div class="editor">
<p class="MsoNormal">Its members are responsible not only for setting our strategic direction, but also for delivering that strategy. They come from diverse backgrounds and have very different skills to one another, but they all have a proven ability to lead, and a deep commitment to our vision, values and culture.</p>
</div>
</div>
</div>
<section class="mod mod--indented mod-profiles" data-profilesshowcase="">
<div class="mod__inner">
<div class="mod-profiles__nav">
<div class="btn btn-pill" data-catbtn="Leadership" data-isactive="true">
<span>Leadership</span>
</div>
<div class="btn btn-pill" data-catbtn="Board of Directors" data-isactive="false">
<span>Board of Directors</span>
</div>
</div>
</div>
<div class="mod__inner">
<div class="mod-profiles__listing" data-profiles="Leadership" data-isactive="true">
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/31ofi1ok/wei_david_dong.jpg?width=400&amp;height=530&amp;v=1d9581adf76a930)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/31ofi1ok/wei_david_dong.jpg?width=500&amp;height=663&amp;v=1d9581adf76a930)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/31ofi1ok/wei_david_dong.jpg?width=768&amp;height=511&amp;v=1d9581adf76a930">
</picture>
<div class="profile__name">
<h3>Wei (David) Dong</h3>
<p>Chief Executive Officer</p>
</div>
<label class="profile__more">
<input id="bio-2002-0" class="profile__more" type="checkbox">
<div class="profile__btn"></div>
<div class="profile__bio">
<p>Mr Wei Dong was appointed Chief Executive Officer and Board member of COFCO International in December 2018. Mr Dong brings more than 25 years of experience in senior positions at several COFCO Group companies. He joined COFCO International from China Agri-Industries Holdings Limited, a COFCO Group company, where he was Chairman and CEO. Mr Dong has a bachelor’s degree from Jilin University in Changchun, China and a doctorate degree in Economics from Dongbei University of Finance and Economics in Dalian, China.</p>
</div>
</label>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/1cih4plr/marcelo-de-andrade-board.jpg?width=400&amp;height=530&amp;v=1d9574eb09487d0)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/1cih4plr/marcelo-de-andrade-board.jpg?width=500&amp;height=663&amp;v=1d9574eb09487d0)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/1cih4plr/marcelo-de-andrade-board.jpg?width=768&amp;height=511&amp;v=1d9574eb09487d0">
</picture>
<div class="profile__name">
<h3>Marcelo de Andrade</h3>
<p>MD Softs and Global Head of Asset Management</p>
</div>
<label class="profile__more">
<input id="bio-9573-1" class="profile__more" type="checkbox">
<div class="profile__btn"></div>
<div class="profile__bio">
<p>Marcelo de Andrade joined COFCO International in 2015 from Cargill, where he served as Business Unit Director for Sugar and Ethanol. Prior to joining Cargill, he held the position of Chief Operating Officer at Biosev, a Louis Dreyfus Company sugar and ethanol subsidiary in Brazil. Mr de Andrade started his career at a local Brazilian agri company in 1989. In 1997 he was appointed Business Unit Director at National Starch - Ingredion, a US producer of starches and sweeteners, where he worked for over ten years. Mr de Andrade has an MBA from Columbia Business School in New York and bachelor’s degrees in chemistry and electrical engineering from University of Blumenau, Santa Catarina, Brazil.</p>
</div>
</label>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/w4rfa2al/marcelo-martins-board1.jpg?width=400&amp;height=530&amp;v=1d958eb963ab910)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/w4rfa2al/marcelo-martins-board1.jpg?width=500&amp;height=663&amp;v=1d958eb963ab910)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/w4rfa2al/marcelo-martins-board1.jpg?width=768&amp;height=511&amp;v=1d958eb963ab910">
</picture>
<div class="profile__name">
<h3>Marcelo Martins</h3>
<p>MD Regions (EMEA) and Grains &amp; Oilseeds</p>
</div>
<label class="profile__more">
<input id="bio-5631-2" class="profile__more" type="checkbox">
<div class="profile__btn"></div>
<div class="profile__bio">
<p>Marcelo Martins has over 25 years’ agri commodities experience in Latin America, Europe and Asia Pacific. He has responsibility for COFCO International’s grains and oilseeds trading desks and regional supply and distribution in Europe, Black Sea, Middle East and Africa. He also oversees the company’s freight division which manages a global fleet of dry bulk carriers and worldwide maritime logistics. Mr Martins joined Nidera, later acquired by COFCO International, in 1996 and has held various leadership positions in Europe and Asia. Prior to being appointed to his current role, he was Managing Director EMEA. Marcelo has a bachelor’s degree in business administration from Fundação Armando Alvares Penteado University in São Paulo.</p>
</div>
</label>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/ruwfk2da/wang_yunchao.jpg?width=400&amp;height=530&amp;v=1d958ebb6a16690)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/ruwfk2da/wang_yunchao.jpg?width=500&amp;height=663&amp;v=1d958ebb6a16690)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/ruwfk2da/wang_yunchao.jpg?width=768&amp;height=511&amp;v=1d958ebb6a16690">
</picture>
<div class="profile__name">
<h3>Yunchao Wang</h3>
<p>VP, MD Regions (Brazil, North America)</p>
</div>
<label class="profile__more">
<input id="bio-9550-3" class="profile__more" type="checkbox">
<div class="profile__btn"></div>
<div class="profile__bio">
<p>Yunchao Wang is Managing Director Regions for Brazil and North America. Mr Wang joined COFCO International in 2022 from COFCO Oils &amp; Oilseeds, where he was Assistant General Manager. Prior to that, Mr Wang held various roles at COFCO Oils and China Grain &amp; Oil Holding Co. He started his career at COFCO East Ocean, in the field of engineering and logistics. Mr Wang holds a degree in Food Science and Engineering as well as a master’s degree in food engineering from Nanjing Agricultural University in China.</p>
</div>
</label>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/4twfdni4/alfonso-romero-board.jpg?width=400&amp;height=530&amp;v=1d958ebd6b427b0)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/4twfdni4/alfonso-romero-board.jpg?width=500&amp;height=663&amp;v=1d958ebd6b427b0)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/4twfdni4/alfonso-romero-board.jpg?width=768&amp;height=511&amp;v=1d958ebd6b427b0">
</picture>
<div class="profile__name">
<h3>Alfonso Romero</h3>
<p>MD Regions (Argentina, Uruguay, Paraguay)</p>
</div>
<label class="profile__more">
<input id="bio-3720-4" class="profile__more" type="checkbox">
<div class="profile__btn"></div>
<div class="profile__bio">
<p>As Managing Director Southern Cone, Alfonso Romero is responsible for business strategy, asset management, operations and trading for COFCO International in Argentina, Uruguay and Paraguay. Mr Romero has over 25 years’ grains and soft commodities trading experience from companies including La Plata Cereal in Argentina, Andre &amp; Cie SA in Switzerland and Saroc SpA in Italy. He joined Noble Group in 2001 and moved to COFCO International along with its acquisition of Noble’s crop trading business in 2015. Mr Romero holds a bachelor’s degree in agri economics from Universidad de Belgrano in Buenos Aires, Argentina.</p>
</div>
</label>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/w1mnnpxw/zaifeng-jiang-board.jpg?width=400&amp;height=530&amp;v=1d958ebecdee610)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/w1mnnpxw/zaifeng-jiang-board.jpg?width=500&amp;height=663&amp;v=1d958ebecdee610)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/w1mnnpxw/zaifeng-jiang-board.jpg?width=768&amp;height=511&amp;v=1d958ebecdee610">
</picture>
<div class="profile__name">
<h3>Zaifeng Jiang</h3>
<p>VP, MD APAC and China Wheat</p>
</div>
<label class="profile__more">
<input id="bio-7927-5" class="profile__more" type="checkbox">
<div class="profile__btn"></div>
<div class="profile__bio">
<p>Zaifeng Jiang is Vice President COFCO International and Managing Director APAC and China Wheat Programme. Mr Jiang joined COFCO International in 2020 from COFCO Trading Ltd where as Deputy General Manager he had the responsibility for the import and export businesses for wheat, corn and substitutes, as well as the domestic distribution and regional subsidiary companies in the north of China. Prior to joining COFCO Trading in 2014, Mr Jiang was Director of the Commodity Sector at China National Development and Reform Commission (NDRC), with the responsibility for the grain circulation system reform, national long-term grain security planning, and management of the central reserve of grains and oilseeds. Mr Jiang holds a bachelor’s degree in economics from the university of International Business and Economics in Beijing and a master’s degree in civil and commercial law from Heilongjiang University in China.</p>
</div>
</label>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/1tyozos1/website-helen-song.jpg?width=400&amp;height=530&amp;v=1d9584851dbf700)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/1tyozos1/website-helen-song.jpg?width=500&amp;height=663&amp;v=1d9584851dbf700)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/1tyozos1/website-helen-song.jpg?width=768&amp;height=511&amp;v=1d9584851dbf700">
</picture>
<div class="profile__name">
<h3>Xuanyi (Helen) Song</h3>
<p>VP, CFO and Chief Strategy and Information Officer</p>
</div>
<label class="profile__more">
<input id="bio-4943-6" class="profile__more" type="checkbox">
<div class="profile__btn"></div>
<div class="profile__bio">
<p>Helen Song joined COFCO Group’s strategy division in 2010. Following COFCO’s initial investments in Nidera and Noble Agri in 2013, she was appointed Vice-President of COFCO International with responsibility for the post-investment management platform. After the completion of the acquisitions in 2017, Ms Song was appointed Chief Strategy Officer, based at COFCO International’s headquarters in Geneva, Switzerland. She was appointed Member of the COFCO International Executive Committee in December 2019 and took on the additional role of Chief Information Officer in 2020. She was then appointed CFO in 2022. Ms Song started her career at China’s Ministry of Agriculture and she also worked as a lawyer in capital markets including M&amp;A and IPO in Beijing prior to joining COFCO Group. She has a MBA degree from Peking University and is a Chinese certified lawyer.</p>
</div>
</label>
</div>
</div>
<div class="mod-profiles__listing" data-profiles="Board of Directors" data-isactive="false">
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/5qajmvvb/chairman-luan-portrait.jpg?width=400&amp;height=530&amp;v=1d9574ef7fc8f50)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/5qajmvvb/chairman-luan-portrait.jpg?width=500&amp;height=663&amp;v=1d9574ef7fc8f50)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/5qajmvvb/chairman-luan-portrait.jpg?width=768&amp;height=511&amp;v=1d9574ef7fc8f50">
</picture>
<div class="profile__name">
<h3>Richeng Luan </h3>
<p>Chairman (President COFCO Corp)</p>
</div>
<label class="profile__more">
<input id="bio-4222-0" class="profile__more" type="checkbox">
<div class="profile__btn"></div>
<div class="profile__bio">
<p>Mr Luan is President of COFCO Corporation. He served as Vice-President of COFCO Corporation since 2016. He is Chairman of several COFCO subsidiaries including COFCO Trading and China Agri. Before joining COFCO, Mr Luan was General Manager of Chinatex Corporation, which became a wholly owned subsidiary of COFCO in 2016. Mr Luan has a master’s degree in Chinese literature from Shandong University, and an EMBA from China Europe International Business School. He will continue to be based in Beijing.</p>
</div>
</label>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/31ofi1ok/wei_david_dong.jpg?width=400&amp;height=530&amp;v=1d9581adf76a930)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/31ofi1ok/wei_david_dong.jpg?width=500&amp;height=663&amp;v=1d9581adf76a930)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/31ofi1ok/wei_david_dong.jpg?width=768&amp;height=511&amp;v=1d9581adf76a930">
</picture>
<div class="profile__name">
<h3>Wei (David) Dong</h3>
<p>Director (CEO COFCO Intl.)</p>
</div>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/ffil1jbv/gonzalo_ramirez.jpg?width=400&amp;height=530&amp;v=1d9b0bfca7be6a0)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/ffil1jbv/gonzalo_ramirez.jpg?width=500&amp;height=663&amp;v=1d9b0bfca7be6a0)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/ffil1jbv/gonzalo_ramirez.jpg?width=768&amp;height=511&amp;v=1d9b0bfca7be6a0">
</picture>
<div class="profile__name">
<h3>Gonzalo Ramirez Martiarena </h3>
<p>Independent Director</p>
</div>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/qnlfvl5x/martin_fritsch.jpg?width=400&amp;height=530&amp;v=1da53a35752cdb0)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/qnlfvl5x/martin_fritsch.jpg?width=500&amp;height=663&amp;v=1da53a35752cdb0)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/qnlfvl5x/martin_fritsch.jpg?width=768&amp;height=511&amp;v=1da53a35752cdb0">
</picture>
<div class="profile__name">
<h3>Dr. Martin Fritsch</h3>
<p>Independent Director</p>
</div>
</div>
<div class="profile">
<picture class="profile__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/pwlhu3ia/zhu-laibin.png?width=400&amp;height=530&amp;v=1d958eb2222b8c0)">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/pwlhu3ia/zhu-laibin.png?width=500&amp;height=663&amp;v=1d958eb2222b8c0)">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/pwlhu3ia/zhu-laibin.png?width=768&amp;height=511&amp;v=1d958eb2222b8c0">
</picture>
<div class="profile__name">
<h3>Zhu Laibin</h3>
<p>Director (Strategy Director COFCO Corp)</p>
</div>
</div>
</div>
</div>
</section></div>
<section class="mod mod-relatedContent mod--col2" data-bkg="grey">
<div class="mod__title">
<h2><span>Find out more:</span></h2>
</div>
<div class="mod__inner">
<article class="card">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/st4be0pv/dscf9387_fx.jpg?width=600&amp;height=400&amp;v=1d958dd1e66a380">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/st4be0pv/dscf9387_fx.jpg?width=550&amp;height=366&amp;v=1d958dd1e66a380">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/st4be0pv/dscf9387_fx.jpg?width=768&amp;height=511&amp;v=1d958dd1e66a380" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<h3>Corporate governance</h3>
</header>
<div class="card__text">
<p>COFCO International is committed to the highest international standards of corporate governance and we see this as critical to our long-term success.

</p>
</div>
<footer class="card__footer">
<a class="card__cta btn btn-txtcta" href="/who-we-are/corporate-governance/" target="_self" title="Find out more:">
Find out more
</a>
</footer>
</div>
</article>
<article class="card">
<picture class="card__image">
<source media="(min-width: 1024px)" srcset="https://www.cofcointernational.com/media/ii1de35p/risk-management_cofco_mt-161.jpg?rxy=0.7446270328033787,0.3524289173611032&amp;width=600&amp;height=400&amp;v=1d95cbb0a23d320">
<source media="(min-width: 768px)" srcset="https://www.cofcointernational.com/media/ii1de35p/risk-management_cofco_mt-161.jpg?rxy=0.7446270328033787,0.3524289173611032&amp;width=550&amp;height=366&amp;v=1d95cbb0a23d320">
<img loading="lazy" width="768" height="511" src="https://www.cofcointernational.com/media/ii1de35p/risk-management_cofco_mt-161.jpg?rxy=0.7446270328033787,0.3524289173611032&amp;width=768&amp;height=511&amp;v=1d95cbb0a23d320" alt="">
</picture>
<div class="card__content">
<header class="card__header">
<h3>Risk management</h3>
</header>
<div class="card__text">
<p>Risk Management at COFCO International is a key department involved in all aspects of our businesses</p>
</div>
<footer class="card__footer">
<a class="card__cta btn btn-txtcta" href="/who-we-are/risk-management/" target="_self" title="Find out more:">
Find out more
</a>
</footer>
</div>
</article>
</div>
</section>
</div>
</article></main>