<main id="maincontent" class="site__main">
  <article class="page">
    <header class="masthead masthead-page">
      <picture>
        <source
          media="(min-width: 1920px)"
          srcset="
            https://www.cofcointernational.com/media/w2hnoqfo/22_standerton_cof-220920-0072jpg.jpg?rxy=0.5286283515321697,0.3126385557235593&amp;width=2400&amp;height=625&amp;v=1d95cd79df25a10
          "
        />
        <source
          media="(min-width: 1000px)"
          srcset="
            https://www.cofcointernational.com/media/w2hnoqfo/22_standerton_cof-220920-0072jpg.jpg?rxy=0.5286283515321697,0.3126385557235593&amp;width=1920&amp;height=500&amp;v=1d95cd79df25a10
          "
        />
        <source
          media="(min-width: 700px)"
          srcset="
            https://www.cofcointernational.com/media/w2hnoqfo/22_standerton_cof-220920-0072jpg.jpg?rxy=0.5286283515321697,0.3126385557235593&amp;width=1000&amp;height=260&amp;v=1d95cd79df25a10
          "
        />
        <img
          class="masthead__image"
          width="700"
          height="182"
          src="https://www.cofcointernational.com/media/w2hnoqfo/22_standerton_cof-220920-0072jpg.jpg?rxy=0.5286283515321697,0.3126385557235593&amp;width=700&amp;height=182&amp;v=1d95cd79df25a10"
          alt=""
        />
      </picture>
      <svg
        width="0"
        height="0"
        class="masthead__pattern"
        data-pattern="left-large"
        viewBox="0 0 1280 405"
      >
        <defs>
          <clipPath id="pattern-header-left-large_a">
            <path fill="none" d="M1.29 0H1280v402.16H1.29z"></path>
          </clipPath>
          <clipPath id="pattern-header-left-large_b">
            <path fill="none" d="M0 522.6h1280v405H0z"></path>
          </clipPath>
        </defs>
        <g clip-path="url(#pattern-header-left-large_a)">
          <path
            d="M102.14 357.42c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04ZM106.46 358.58c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81-10.76-39.99-41.93-73.32-84.81-84.81ZM48.38 156.76c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04ZM52.7 157.92c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81-10.76-39.99-41.93-73.32-84.81-84.81ZM135.01 243.4c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85ZM249.04 210.53c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04ZM454.01 265.45c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81-10.76-39.99-41.93-73.32-84.81-84.81ZM536.33 350.93c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85Z"
          ></path>
          <path
            d="M650.35 318.06c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04ZM449.69 264.3c-29.26 28.17-71.34 39.44-110.86 29.7 29.35-28.19 71.43-39.47 110.86-29.7m2.49-.67c-42.88-11.49-86.53 1.79-115.85 31.04 40.01 10.67 84.46.35 115.85-31.04Z"
          ></path>
          <path
            d="M335.67 297.17c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85Z"
          ></path>
          <path
            d="M253.36 211.69c39.02 11.26 69.83 42.06 81.15 81.15-39.09-11.32-69.9-42.13-81.15-81.15m-1.83-1.83c11.49 42.88 44.82 74.04 84.81 84.81-10.76-39.99-41.93-73.32-84.81-84.81ZM81.24 42.74c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85C82.26 124.7 92.58 80.25 81.91 40.24ZM482.56 150.28c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85ZM281.9 96.51c9.74 39.51-1.54 81.6-29.7 110.86-9.76-39.42 1.51-81.51 29.7-110.86m.67-2.5c-29.25 29.32-42.53 72.97-31.04 115.85 31.39-31.39 41.71-75.84 31.04-115.85Z"
          ></path>
        </g>
        <g clip-path="url(#pattern-header-left-large_b)">
          <path
            d="M346.72 401.67c-19.36 18.64-47.2 26.1-73.34 19.65 19.42-18.65 47.26-26.11 73.34-19.65m1.65-.44c-28.37-7.6-57.25 1.19-76.65 20.54 26.47 7.06 55.88.23 76.65-20.54ZM138.53 387.85c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65ZM349.58 402.44c25.82 7.45 46.2 27.83 53.69 53.69-25.86-7.49-46.24-27.87-53.69-53.69m-1.21-1.21c7.6 28.37 29.65 48.99 56.11 56.11-7.12-26.46-27.74-48.51-56.11-56.11ZM633.98 397.38c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65Z"
          ></path>
          <path
            d="M368.47 326.24c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65ZM501.22 361.81c6.44 26.14-1.02 53.98-19.65 73.34-6.46-26.08 1-53.92 19.65-73.34m.44-1.65c-19.35 19.4-28.14 48.28-20.54 76.65 20.77-20.77 27.6-50.17 20.54-76.65Z"
          ></path>
        </g>
      </svg>
    </header>
    <div class="mod mod-utilities mod--indented">
      <div class="mod__inner">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__crumb">
            <a href="/" data-uw-rm-brl="PR" data-uw-original-href="/">Home</a>
            <span class="breadcrumbs__divide"></span>
          </li>
          <li class="breadcrumbs__crumb">
            <a
              href="/who-we-are/"
              data-uw-rm-brl="PR"
              data-uw-original-href="/who-we-are/"
              >Who we are</a
            >
            <span class="breadcrumbs__divide"></span>
          </li>
          <li class="breadcrumbs__current">How we work</li>
        </ul>
      </div>
    </div>
    <div class="page__blocklist">
      <div class="mod mod--indented mod-richtext mod-richtext--intro">
        <div class="mod__inner">
          <div class="editor">
            <h1>How we work</h1>
            <p class="intro">
              We combine world-class assets, strong supply chain capabilities
              and deep knowledge of global markets to meet growing worldwide
              demand.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="mod mod--indented mod-richtext">
          <div class="mod__inner">
            <div class="editor">
              <p>
                At COFCO International, we understand the challenges and
                opportunities posed by growing populations. Predictable and
                steadily increasing food consumption in China and Asia is a key
                foundation of our success. Today we are growing quickly and
                operating more efficiently than ever.
              </p>
              <p>
                Our business model is robust, our trading network is strong, and
                we have access to the world’s most important agricultural
                production regions including South America, North America, the
                Black Sea region and Australia. We also own well-managed
                logistics assets in major global exporting and trading centres,
                and inland logistics nodes from Santos in Brazil, Rosario in
                Argentina and Saint Louis in the United States to Constanta in
                Romania and Kembla in Australia.
              </p>
            </div>
          </div>
        </div>
        <section
          class="mod mod--indented mod-stats"
          data-maxcol="2"
          data-bkg="image"
          style="--max-col: 2"
        >
          <picture class="mod__bkgImage">
            <source
              media="(min-width: 1000px)"
              srcset="
                https://www.cofcointernational.com/media/st2ffdgz/sugar_cofco_sugar-farm__edv6333.jpg?width=1920&amp;height=429&amp;v=1d9582dab3fd480
              "
            />
            <source
              media="(min-width: 700px)"
              srcset="
                https://www.cofcointernational.com/media/st2ffdgz/sugar_cofco_sugar-farm__edv6333.jpg?width=1000&amp;height=223&amp;v=1d9582dab3fd480
              "
            />
            <img
              width="700"
              height="156"
              loading="lazy"
              src="https://www.cofcointernational.com/media/st2ffdgz/sugar_cofco_sugar-farm__edv6333.jpg?width=700&amp;height=156&amp;v=1d9582dab3fd480"
              alt=""
            />
          </picture>
          <div class="mod__inner mod-stats__inner">
            <div class="mod-stats__layout">
              <div class="stat">
                <div class="stat__figure">50+</div>
                <div class="stat__description">nations we trade with</div>
              </div>
              <div class="stat">
                <div class="stat__figure">2.2m tonnes</div>
                <div class="stat__description">of inland storage</div>
              </div>
            </div>
          </div>
        </section>
        <div class="mod mod--indented mod-richtext">
          <div class="mod__inner">
            <div class="editor">
              <h3
                class="MsoNormal"
                data-uw-rm-heading="level"
                role="heading"
                aria-level="2"
              >
                Plans for growth
              </h3>
              <p class="MsoNormal">
                Securing long term sustainable supply of grains, oilseeds and
                sugar is core to our strategy. We have a strong base of world
                class assets in high growth origination regions, with 60% of our
                global grains and oilseeds assets in the world’s largest
                exporting region, South America.
              </p>
              <p class="MsoNormal">
                We are generating long-term, profitable growth by expanding our
                origination footprint in South America, North America and the
                Black Sea. At the same time, we are making our supply chain more
                efficient by farming, processing, shipping, trading, and
                distributing commodities in smarter, more sustainable
                ways.&nbsp;
              </p>
              <p class="MsoNormal">
                We work with Growmark, the second largest farmers’ cooperative
                in the USA. Our partnership gives us direct access to North
                American grain. In turn, the US farmers who make up the Growmark
                cooperative gain access to our global markets. Our access to
                China gives farmers unprecedented distribution and marketing
                capabilities in one of the world’s highest growth markets.
              </p>
              <p class="MsoNormal">
                <a
                  href="/who-we-are/our-strategy/"
                  title="Our strategy"
                  data-uw-rm-brl="PR"
                  data-uw-original-href="/who-we-are/our-strategy/"
                  >Find out more about our strategy</a
                >
              </p>
              <h3 class="MsoNormal">Growing partnerships</h3>
              <p class="MsoNormal">
                We are committed to working closely with the farming community,
                supplying finance and expertise to create long-lasting
                relationships for mutual benefit.
              </p>
              <p class="MsoNormal">
                Establishing long-term relationships with farmers will enable us
                to buy more commodities directly from farmers, and help us to
                grow in a sustainable way. We are building a future on values of
                partnership and sustainability so that over the long term we
                play an integral part in the world’s food supply.
              </p>
              <p class="MsoNormal">
                We are investing to develop our presence in key origination
                regions such as South and North America and the Black Sea
                region, where China’s Belt &amp; Road initiative will
                dramatically improve connections to the Chinese market.
              </p>
              <p class="MsoNormal">
                By supporting farmers everywhere with knowledge, networks and
                services, we will build long-term relationships to benefit all
                parties involved.
              </p>
            </div>
          </div>
        </div>
        <section class="mod mod-relatedContent mod--col2" data-bkg="grey">
          <div class="mod__title">
            <h2><span>Find out more:</span></h2>
          </div>
          <div class="mod__inner">
            <article class="card">
              <picture class="card__image">
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    https://www.cofcointernational.com/media/unvjq3sc/cofco_corporate30.jpg?width=600&amp;height=400&amp;v=1d963c374bf31c0
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    https://www.cofcointernational.com/media/unvjq3sc/cofco_corporate30.jpg?width=550&amp;height=366&amp;v=1d963c374bf31c0
                  "
                />
                <img
                  loading="lazy"
                  width="768"
                  height="511"
                  src="https://www.cofcointernational.com/media/unvjq3sc/cofco_corporate30.jpg?width=768&amp;height=511&amp;v=1d963c374bf31c0"
                  alt=""
                />
              </picture>
              <div class="card__content">
                <header class="card__header">
                  <h3>Board &amp; Leadership</h3>
                </header>
                <div class="card__text">
                  <p>
                    Our Executive Committee is appointed by the Board of
                    Directors and led by our Chief Executive Officer.
                  </p>
                </div>
                <footer class="card__footer">
                  <a
                    class="card__cta btn btn-txtcta"
                    href="/who-we-are/board-leadership/"
                    target="_self"
                    title="Find out more:"
                    data-uw-rm-brl="PR"
                    data-uw-original-href="/who-we-are/board-leadership/"
                  >
                    Find out more
                  </a>
                </footer>
              </div>
            </article>
            <article class="card">
              <picture class="card__image">
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    https://www.cofcointernational.com/media/st4be0pv/dscf9387_fx.jpg?width=600&amp;height=400&amp;v=1d958dd1e66a380
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    https://www.cofcointernational.com/media/st4be0pv/dscf9387_fx.jpg?width=550&amp;height=366&amp;v=1d958dd1e66a380
                  "
                />
                <img
                  loading="lazy"
                  width="768"
                  height="511"
                  src="https://www.cofcointernational.com/media/st4be0pv/dscf9387_fx.jpg?width=768&amp;height=511&amp;v=1d958dd1e66a380"
                  alt=""
                />
              </picture>
              <div class="card__content">
                <header class="card__header">
                  <h3>Corporate governance</h3>
                </header>
                <div class="card__text">
                  <p>
                    COFCO International is committed to the highest
                    international standards of corporate governance and we see
                    this as critical to our long-term success.
                  </p>
                </div>
                <footer class="card__footer">
                  <a
                    class="card__cta btn btn-txtcta"
                    href="/who-we-are/corporate-governance/"
                    target="_self"
                    title="Find out more:"
                    data-uw-rm-brl="PR"
                    data-uw-original-href="/who-we-are/corporate-governance/"
                  >
                    Find out more
                  </a>
                </footer>
              </div>
            </article>
          </div>
        </section>
        <picture
          class="mod mod-imagefull"
          data-overlay="pattern-image-large"
          data-bkg=""
        >
          <source
            media="(min-width: 1920px)"
            srcset="
              https://www.cofcointernational.com/media/sj4mtiju/cof-220920-0582jpg.jpg?width=2400&amp;height=1350&amp;v=1d95776950599f0
            "
          />
          <source
            media="(min-width: 1000px)"
            srcset="
              https://www.cofcointernational.com/media/sj4mtiju/cof-220920-0582jpg.jpg?width=1920&amp;height=1080&amp;v=1d95776950599f0
            "
          />
          <source
            media="(min-width: 700px)"
            srcset="
              https://www.cofcointernational.com/media/sj4mtiju/cof-220920-0582jpg.jpg?width=1000&amp;height=562&amp;v=1d95776950599f0
            "
          />
          <img
            width="700"
            height="394"
            loading="lazy"
            src="https://www.cofcointernational.com/media/sj4mtiju/cof-220920-0582jpg.jpg?width=700&amp;height=394&amp;v=1d95776950599f0"
            alt=""
          />
          <svg width="0" height="0" viewBox="0 0 1280 717">
            <defs>
              <clipPath id="pattern-image-large_a">
                <path fill="none" d="M-.66 0h1280v712.36H-.66z"></path>
              </clipPath>
            </defs>
            <g clip-path="url(#pattern-image-large_a)">
              <path
                d="M10.9 305.47c6.3 25.44-.98 52.59-19.17 71.53-6.28-25.5.99-52.65 19.17-71.53m.43-1.61c-20.25 20.25-26.91 48.93-20.03 74.75 18.87-18.92 27.44-47.08 20.03-74.75ZM-7.52 379.79c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72ZM-42.22 250.32c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72Z"
              ></path>
              <path
                d="M84.47 284.27c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM49.78 154.79c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM378.1 483.12c-18.94 18.19-46.09 25.47-71.53 19.17 18.88-18.17 46.03-25.45 71.53-19.17m1.61-.43c-25.82-6.89-54.5-.22-74.75 20.03 27.67 7.41 55.83-1.16 74.75-20.03Z"
              ></path>
              <path
                d="M399.31 409.55c6.3 25.44-.98 52.59-19.17 71.53-6.28-25.5.99-52.65 19.17-71.53m.43-1.61c-20.25 20.25-26.91 48.93-20.03 74.75 18.87-18.92 27.44-47.08 20.03-74.75Z"
              ></path>
              <path
                d="M380.89 483.87c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72ZM346.2 354.4c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM472.88 388.34c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM251.42 449.18c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72ZM269.84 374.86c6.3 25.44-.98 52.59-19.17 71.53-6.28-25.5.99-52.65 19.17-71.53m.43-1.61c-20.25 20.25-26.91 48.93-20.03 74.75 18.87-18.92 27.44-47.08 20.03-74.75Z"
              ></path>
              <path
                d="M248.63 448.43c-18.94 18.19-46.09 25.47-71.53 19.17 18.88-18.17 46.03-25.45 71.53-19.17m1.61-.43c-25.82-6.89-54.5-.22-74.75 20.03 27.67 7.41 55.83-1.16 74.75-20.03ZM343.41 353.65c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM216.73 319.7c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM119.16 413.74c-18.94 18.19-46.09 25.47-71.53 19.17 18.88-18.17 46.03-25.45 71.53-19.17m1.61-.43c-25.82-6.89-54.5-.22-74.75 20.03 27.67 7.41 55.83-1.16 74.75-20.03ZM140.37 340.16c6.3 25.44-.98 52.59-19.17 71.53-6.28-25.5.99-52.65 19.17-71.53m.43-1.61c-20.25 20.25-26.91 48.93-20.03 74.75 18.87-18.92 27.44-47.08 20.03-74.75ZM121.95 414.49c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72ZM87.26 285.01c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72Z"
              ></path>
              <path
                d="M213.94 318.96c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM440.98 259.62c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM494.09 314.77c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75ZM567.66 293.56c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM475.67 389.09c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72ZM438.19 258.87c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM364.62 280.08c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75ZM311.51 224.92c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM179.25 189.49c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM105.68 210.7c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75ZM52.56 155.54c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM182.04 190.23c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM235.15 245.39c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75Z"
              ></path>
              <path
                d="M308.72 224.18c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM412.79 612.59c-18.94 18.19-46.09 25.47-71.53 19.17 18.88-18.17 46.03-25.45 71.53-19.17m1.61-.43c-25.82-6.89-54.5-.22-74.75 20.03 27.67 7.41 55.83-1.16 74.75-20.03ZM434 539.02c6.3 25.44-.98 52.59-19.17 71.53-6.28-25.5.99-52.65 19.17-71.53m.43-1.61c-20.25 20.25-26.91 48.93-20.03 74.75 18.87-18.92 27.44-47.08 20.03-74.75ZM415.58 613.34c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72Z"
              ></path>
              <path
                d="M507.57 517.81c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM286.11 578.65c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72ZM304.53 504.33c6.3 25.44-.98 52.59-19.17 71.53-6.28-25.5.99-52.65 19.17-71.53m.43-1.61c-20.25 20.25-26.91 48.93-20.03 74.75 18.87-18.92 27.44-47.08 20.03-74.75Z"
              ></path>
              <path
                d="M283.32 577.9c-18.94 18.19-46.09 25.47-71.53 19.17 18.88-18.17 46.03-25.45 71.53-19.17m1.61-.43c-25.82-6.89-54.5-.22-74.75 20.03 27.67 7.41 55.83-1.16 74.75-20.03ZM27.17 509.26c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72Z"
              ></path>
              <path
                d="M45.59 434.94c6.3 25.44-.98 52.59-19.17 71.53-6.28-25.5.99-52.65 19.17-71.53m.43-1.61c-20.25 20.25-26.91 48.93-20.03 74.75 18.87-18.92 27.44-47.08 20.03-74.75ZM24.38 508.52c-18.94 18.19-46.09 25.47-71.53 19.17 18.88-18.17 46.03-25.45 71.53-19.17m1.61-.43c-25.82-6.89-54.5-.22-74.75 20.03 27.67 7.41 55.83-1.16 74.75-20.03ZM153.85 543.21c-18.94 18.19-46.09 25.47-71.53 19.17 18.88-18.17 46.03-25.45 71.53-19.17m1.61-.43c-25.82-6.89-54.5-.22-74.75 20.03 27.67 7.41 55.83-1.16 74.75-20.03ZM175.06 469.64c6.3 25.44-.98 52.59-19.17 71.53-6.28-25.5.99-52.65 19.17-71.53m.43-1.61c-20.25 20.25-26.91 48.93-20.03 74.75 18.87-18.92 27.44-47.08 20.03-74.75Z"
              ></path>
              <path
                d="M156.64 543.96c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72ZM17.87 26.07c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM70.98 81.23c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75ZM144.56 60.02c-18.88 18.17-46.03 25.45-71.53 19.17C91.97 61 119.12 53.72 144.56 60.02m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03Z"
              ></path>
              <path
                d="M15.09 25.32C-3.8 43.5-30.95 50.77-56.44 44.49c18.93-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03Z"
              ></path>
              <path
                d="M36.29-48.25c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61C17.85-30.94 9.28-2.77 16.69 24.89 36.95 4.64 43.61-24.04 36.72-49.86ZM406.29 130.15c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM459.4 185.3c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75ZM532.97 164.09c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM403.5 129.4c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM329.93 150.61c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75ZM276.81 95.45c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM147.34 60.76c25.18 7.26 45.06 27.14 52.36 52.36-25.22-7.31-45.1-27.18-52.36-52.36m-1.18-1.18c7.41 27.67 28.92 47.78 54.72 54.72-6.95-25.8-27.05-47.31-54.72-54.72ZM200.45 115.92c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75Z"
              ></path>
              <path
                d="M274.03 94.71c-18.88 18.17-46.03 25.45-71.53 19.17 18.94-18.19 46.09-25.47 71.53-19.17m1.61-.43c-27.67-7.41-55.83 1.16-74.75 20.03 25.82 6.89 54.5.22 74.75-20.03ZM554.18 90.52c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75ZM535.76 164.84c25.22 7.31 45.1 27.18 52.36 52.36-25.18-7.26-45.06-27.14-52.36-52.36m-1.18-1.18c6.95 25.8 27.05 47.31 54.72 54.72-7.41-27.67-28.92-47.78-54.72-54.72ZM424.7 55.83c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75ZM165.76-13.55c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75Z"
              ></path>
              <path
                d="M295.23 21.14c6.28 25.5-.99 52.65-19.17 71.53-6.3-25.44.98-52.59 19.17-71.53m.43-1.61c-18.87 18.92-27.44 47.08-20.03 74.75 20.25-20.25 26.91-48.93 20.03-74.75Z"
              ></path>
            </g>
          </svg>
        </picture>
      </div>
    </div>
    <div class="mod mod-share">
      <div class="mod__inner">
        <p class="mod-share__label">
          <svg
            class="mod-share__icon"
            width="30"
            height="auto"
            viewBox="0 0 23 25"
          >
            <path
              d="M7.693 15.67a4.5 4.5 0 1 1 0-6.342l5.679-2.432A4.985 4.985 0 0 1 13 5a5 5 0 1 1 1.512 3.583L8.76 11.048c.156.455.24.944.24 1.452s-.084.997-.24 1.452l5.752 2.465a5 5 0 1 1-1.14 1.687l-5.679-2.433zM4.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM18 23a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            ></path>
          </svg>
          Share this page:
        </p>
        <div class="mod-share__links">
          <a
            class="mod-share__link"
            href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/who-we-are/how-we-work/"
            target="_blank"
            title="Share this page on Facebook"
            aria-label="Facebook - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/who-we-are/how-we-work/$facebook"
            data-uw-rm-brl="PR"
            data-uw-original-href="https://www.facebook.com/sharer/sharer.php?u=https://www.cofcointernational.com/who-we-are/how-we-work/"
            >Facebook</a
          >
          <a
            class="mod-share__link"
            href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/who-we-are/how-we-work/&amp;text=How%20we%20work"
            target="_blank"
            title="Share this page on X.com"
            aria-label="X.com - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://x.com/intent/tweet?url=https://www.cofcointernational.com/who-we-are/how-we-work/&amp;text=how%20we%20work$x.com"
            data-uw-rm-brl="PR"
            data-uw-original-href="https://x.com/intent/tweet?url=https://www.cofcointernational.com/who-we-are/how-we-work/&amp;text=How%20we%20work"
            >X.com</a
          >
          <a
            class="mod-share__link"
            href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.cofcointernational.com/who-we-are/how-we-work/"
            title='How%20we%20work"'
            target="_blank"
            aria-label="Linkedin - open in a new tab"
            data-uw-rm-ext-link=""
            uw-rm-external-link-id="https://www.linkedin.com/sharearticle?mini=true&amp;url=https://www.cofcointernational.com/who-we-are/how-we-work/$linkedin"
            >Linkedin</a
          >
        </div>
      </div>
    </div>
    <div class="mod mod-follow">
      <div class="mod__inner">
        <div class="mod-follow__graphic">
          <picture class="mod-follow__image">
            <source
              media="(min-width: 1920px)"
              srcset="
                https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1400&amp;v=1d9584197ce2b90
              "
            />
            <source
              media="(min-width: 1000px)"
              srcset="
                https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=960&amp;v=1d9584197ce2b90
              "
            />
            <img
              loading="lazy"
              width="600"
              height="auto"
              src="https://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=600&amp;v=1d9584197ce2b90"
              alt=""
            />
            <svg width="0" height="0" viewBox="0 0 1280 717">
              <defs>
                <clipPath id="pattern-image-small_a">
                  <path fill="none" d="M-.66 4.64h1280V717H-.66z"></path>
                </clipPath>
              </defs>
              <g clip-path="url(#pattern-image-small_a)">
                <path
                  d="M38.06 693.09c5.16 20.84-.8 43.08-15.7 58.59-5.15-20.88.81-43.13 15.7-58.59m.35-1.32C21.82 708.36 16.36 731.85 22 753c15.46-15.49 22.48-38.57 16.41-61.23ZM-5.45 647.91c20.63 5.95 36.91 22.23 42.89 42.89C16.78 684.82.5 668.53-5.45 647.91m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M98.32 675.71c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM206.66 704.74c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM204.38 704.13c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM100.61 676.33c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM-33.87 541.85c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M9.64 587.03c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM69.91 569.66c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM178.25 598.69c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM221.75 643.87c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM282.02 626.49c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM175.96 598.08c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M115.7 615.45c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM72.19 570.27c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM602.47 712.36c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M600.19 711.75c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM496.42 683.94c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM388.08 654.91c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM327.81 672.29c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M284.3 627.11c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM390.36 655.52c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM433.86 700.7c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM494.13 683.33c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM41.49 463.6c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M43.77 464.21c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M87.28 509.39c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM147.55 492.02c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM255.89 521.05c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM299.39 566.23c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM359.66 548.86c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM253.6 520.44c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM193.33 537.81c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM149.83 492.63c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM58.86 403.34c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM270.97 460.17c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M164.92 431.76c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM574.05 606.3c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM617.56 651.48c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM677.83 634.11c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41Z"
                ></path>
                <path
                  d="M571.77 605.69c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM511.5 623.07c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM468 577.88c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82ZM361.94 549.47c20.63 5.95 36.91 22.23 42.89 42.89-20.66-5.98-36.94-22.27-42.89-42.89m-.96-.96c6.07 22.66 23.69 39.14 44.82 44.82-5.69-21.14-22.16-38.75-44.82-44.82Z"
                ></path>
                <path
                  d="M405.45 594.65c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM465.71 577.27c-15.47 14.89-37.71 20.85-58.59 15.7 15.51-14.9 37.76-20.86 58.59-15.7m1.32-.35c-22.66-6.07-45.74.95-61.23 16.41 21.15 5.64 44.64.18 61.23-16.41ZM695.2 573.84c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM680.11 634.72c20.66 5.98 36.94 22.27 42.89 42.89-20.63-5.95-36.91-22.23-42.89-42.89m-.97-.97c5.69 21.14 22.16 38.75 44.82 44.82-6.07-22.66-23.69-39.14-44.82-44.82ZM589.14 545.43c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23ZM377.03 488.59c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
                <path
                  d="M483.09 517.01c5.15 20.88-.81 43.13-15.7 58.59-5.16-20.84.8-43.08 15.7-58.59m.35-1.32c-15.46 15.49-22.48 38.57-16.41 61.23 16.59-16.59 22.05-40.08 16.41-61.23Z"
                ></path>
              </g>
            </svg>
          </picture>
        </div>
        <div class="mod-follow__links">
          <h2 class="h1">Follow us on</h2>
          <ul class="menu menu-follow">
            <li>
              <a
                href="https://www.instagram.com/cofcointl/"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="Instagram - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://www.instagram.com/cofcointl/$instagram"
                data-uw-rm-brl="PR"
                data-uw-original-href="https://www.instagram.com/cofcointl/"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 22 22">
                    <path
                      fill-rule="evenodd"
                      d="M11 14.67c-2.02 0-3.67-1.64-3.67-3.67S8.97 7.33 11 7.33s3.67 1.64 3.67 3.67-1.64 3.67-3.67 3.67Zm0-9.31c-3.12-.04-5.68 2.45-5.72 5.57s2.45 5.68 5.57 5.72H11c3.12-.04 5.61-2.6 5.57-5.72A5.644 5.644 0 0 0 11 5.36Zm7.19-.22c0 .73-.59 1.32-1.32 1.32s-1.32-.59-1.32-1.32.59-1.32 1.32-1.32 1.32.59 1.32 1.32"
                    ></path>
                    <path
                      d="M21.93 6.47c-.05-1.17-.24-1.97-.51-2.67-.28-.73-.71-1.4-1.27-1.95-.55-.56-1.21-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.36.02 13.98 0 11 0 8.01 0 7.64.01 6.47.07 5.3.12 4.5.31 3.8.58c-.73.28-1.4.71-1.95 1.27C1.29 2.4.86 3.06.58 3.8.31 4.5.12 5.3.07 6.47.02 7.64 0 8.02 0 11s.01 3.36.07 4.53c.05 1.17.24 1.97.51 2.67.28.73.71 1.4 1.27 1.95.55.56 1.21.99 1.95 1.27.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.73-.28 1.4-.71 1.95-1.27.56-.55.99-1.21 1.27-1.95.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53s-.01-3.36-.07-4.53Zm-1.98 8.98c-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.35.37-.79.65-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06s-3.29-.01-4.44-.06c-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.37-.35-.65-.79-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44s.01-3.28.06-4.44c.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.35-.37.79-.65 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06 2.94 0 3.28.01 4.44.07 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.39.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44s-.01 3.28-.06 4.44Z"
                    ></path>
                  </svg>
                </span>
                <span class="btn-follow__label">Instagram</span>
              </a>
            </li>
            <li>
              <a
                href="https://x.com/COFCOINTL"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="X.com - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://x.com/cofcointl$x.com"
                data-uw-rm-brl="PR"
                data-uw-original-href="https://x.com/COFCOINTL"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 33 33">
                    <path
                      d="m19.2 14 12-14h-2.8L18 12.1 9.6 0H0l12.6 18.3L0 33h2.8l11-12.8L22.7 33h9.6L19.2 14zm-3.9 4.5L14 16.7 3.9 2.1h4.4l8.2 11.7 1.3 1.8L28.4 31H24l-8.7-12.5z"
                    ></path>
                  </svg>
                </span>
                <span class="btn-follow__label">X.com</span>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/cofcointernational"
                target="_blank"
                rel="noopener"
                class="btn btn-follow"
                aria-label="LinkedIn - open in a new tab"
                data-uw-rm-ext-link=""
                uw-rm-external-link-id="https://www.linkedin.com/company/cofcointernational$linkedin"
              >
                <span class="btn-follow__icon">
                  <svg width="30" height="auto" viewBox="0 0 20 20">
                    <path
                      d="M0 6h4v14H0V6Zm16.59.16-.15-.05c-.06-.01-.12-.03-.18-.03a3.74 3.74 0 0 0-.82-.08c-2.65 0-4.34 1.93-4.89 2.68V6H6v14h4.55v-7.64s3.44-4.79 4.89-1.27V20h4.55v-9.45c0-2.12-1.45-3.88-3.41-4.39Z"
                    ></path>
                    <circle cx="2" cy="2" r="2"></circle>
                  </svg>
                </span>
                <span class="btn-follow__label">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</main>
