<main id="maincontent" class="site__main">
  <article class="page">
    <iframe
      id="products_frame"
      src="<%- url %>"
      title="<%- title %>"
      allowtransparency="true"
      scrolling="no"
      width="100%"
      height="1000"
    />
  </article>
</main>
